.builder-doc{
	flex:1 1 auto;
	display:flex;
	flex-direction:row;
	overflow:auto;
}
.builder-doc-content{
	flex:1 5 auto;
	overflow:auto;
	display:flex;
	flex-flow:column nowrap;
	overflow:auto;
}
.builder-doc .sidebar{
	min-width:500px;
}

/* page */
.builder-doc-page{
	display:flex;
	flex-flow:row nowrap;
	padding:var(--spacing);
	overflow:auto;
}
.builder-doc-page-outer{
	flex:0 0 auto;
	margin:0 auto;
	box-shadow:1px 1px 4px var(--color-shade);
	position:relative;
	background-color:var(--color-doc-page-outer);
}
.builder-doc-page-margin-hor{
	width:100%;
	position:absolute;
	background-color:var(--color-doc-page-margin);
}
.builder-doc-page-margin-ver{
	height:100%;
	position:absolute;
	background-color:var(--color-doc-page-margin);
}
.builder-doc-page-margin-footer-header{
	width:100%;
	position:absolute;
	background-color:var(--color-doc-page-footer-header);
}
.builder-doc-page-body{
	position:absolute;
	display:flex;
	flex-flow:column nowrap;
}

/* templates */
.builder-doc-templates{
	width:100%;
	max-width:500px;
	display:flex;
	flex-flow:row wrap;
	gap:1px;
	border-radius:5px;
	overflow:hidden;
}
.builder-doc-template{
	flex:0 0 100%;
	box-sizing:border-box;
	display:flex;
	flex-flow:row nowrap;
	gap:6px;
	padding:2px 2px 2px 6px;
	align-items:center;
	background-color:var(--color-form-builder-actions);
	min-height:32px;
	cursor:move;
}
.builder-doc-template.notData{
	flex:1 0 40%;
}
.builder-doc-template.isLayout{
	background-color:var(--color-form-builder-container);
}
.builder-doc-template-icon{
	width:24px;
	height:24px;
}

/* field */
.builder-doc-field{
	min-height:5mm; /* to allow access regardles of defined height */
	box-sizing:border-box;
	display:flex;
	flex-flow:column nowrap;
	background-color:white;
	position:relative;
	outline:1px solid var(--color-border);
}
.builder-doc-field.dragSource{
	display:none;
}
.builder-doc-field.dragPreview{
	min-height:8mm;
	pointer-events:none;
	border:3px dashed var(--color-border);
	border-radius:3px;
}
.builder-doc-field.flow{
	flex:1 1 auto;
}
.builder-doc-field.resizable-both{
	resize:both;
	overflow:hidden;
}
.builder-doc-field.resizable-height{
	resize:vertical;
	overflow:hidden;
}
.builder-doc-field.selected{
	background-color:var(--color-form-builder-selected);
	outline:3px solid var(--color-form-builder-selected);
}
.builder-doc-field-title{
	padding:4px;
}

/* field children */
.builder-doc-fields{
	flex:1 1 auto;
}
.builder-doc-fields.layout-flow{
	display:flex;
	flex-flow:column nowrap;
	background-image:linear-gradient(to bottom, transparent 0px, rgba(0,0,0,0.3) 1px, transparent 1.6px);
	background-position:0.25px 0.25px;
	background-size:10px 10px;
}
.builder-doc-fields.layout-grid{
	display:block;
	position:relative;
	background-image:
		linear-gradient(to right,  transparent 0px, rgba(0,0,0,0.3) 1px, transparent 1.6px),
		linear-gradient(to bottom, transparent 0px, rgba(0,0,0,0.3) 1px, transparent 1.6px);
}
.builder-doc-fields-bg-text{
	position:absolute;
	font-size:130%;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	opacity:0.8;
}

/* columns */
.builder-doc-columns{
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
	border-top:1px solid var(--color-border);
	background-image:linear-gradient(to right, transparent 0px, rgba(0,0,0,0.3) 1px, transparent 1.6px);
	background-position:0.25px 0.25px;
	background-size:10px 10px;
}
.builder-doc-column{
	min-width:3mm; /* to allow access regardles of defined width */
	box-sizing:border-box;
	display:flex;
	flex-flow:row nowrap;
	background-color:white;
	outline:1px solid var(--color-border);
}
.builder-doc-column.dragSource{
	display:none;
}
.builder-doc-column.dragPreview{
	min-width:8mm;
	pointer-events:none;
	border:3px dashed var(--color-border);
	border-radius:3px;
}
.builder-doc-column-title{
	padding:4px;
}


/* header / footer */
.builder-doc-page-footer-header{
	position:absolute;
	box-shadow:1px 1px 3px var(--color-shade);
}

/* options */
.builder-doc-input-page-box{
	height:30px;
	border:2px solid var(--color-border);
	background-color:var(--color-input-disabled);
	flex:0 0 30px;
}