.builder{
	display:flex;
	flex-flow:row nowrap;
	z-index:var(--z-index-content);
}

/* generics */
.builder-table-vertical{
	border-collapse:separate;
	border-spacing:0px 6px;
}
.builder-table-vertical>tr>td{
	max-width:420px;
	padding:10px 15px;
	vertical-align:top;
	background-color:var(--color-bg);
	box-shadow:1px 1px 2px var(--color-shade);
	border-bottom:1px solid var(--color-border);
}
.builder-table-vertical>tr>td:first-child{
	font-size:110%;
	line-height:150%;
	border-radius:10px 0px 0px 10px;
}
.builder-table-vertical>tr>td:last-child{
	font-size:110%;
	line-height:150%;
	border-radius:0px 10px 10px 0px;
}
.builder .builder-sub-container{
	display:flex;
	flex-flow:column nowrap;
	align-items:stretch;
	padding:6px 12px 12px 12px;
	margin:0px 15px 10px;
	border:1px solid var(--color-border);
	border-top:none;
	border-radius:0px 0px 5px 5px;
}
.builder-table-vertical.large>tr>td{
	max-width:720px;
}
.builder img.dragAnchor{
	height:24px;
	filter:var(--image-filter);
	cursor:move;
}

/* content */
.builder .moduleSelect{
	margin:12px;
	display:flex;
	flex-direction:row;
	align-items:center;
}
.builder .moduleSelect.translation{
	margin-top:-6px;
}
.builder .moduleSelect span{
	margin:0px 9px 0px 6px;
}
.builder .moduleNoOwner{
	margin:0px 12px 9px 12px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.builder .moduleNoOwner span{
	flex:1 1 auto;
	color:var(--color-error);
}
.builder .navigation select{
	flex:1 1 auto;
	margin-right:9px;
	width:auto;
}
.builder .navigation-two-columns{
	display:flex;
	flex-flow:row nowrap;
	border-top:1px solid var(--color-border);
	border-bottom:1px solid var(--color-border);
}
.builder .navigation-two-columns .navigation-column{
	flex:0 1 50%;
}
.builder .navigation-two-columns .navigation-column:first-child{
	border-right:1px solid var(--color-border);
}
.builder .navigation-entities-header{
	margin-top:15px;
	padding:4px 10px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	color:var(--color-font);
	border-bottom:1px solid var(--color-border);
	background-color:var(--color-bg);
}
.builder .navigation-entities-header .line{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:8px;
}
.builder .navigation-entities-header .line h1{
	margin:0px;
	font-size:110%;
}
.builder .navigation-entities-header .line img{
	width:18px;
	height:18px;
	filter:var(--image-filter);
}
.builder .navigation-entities-header-sub{
	margin:7px 9px 2px;
	color:var(--color-font-alt);
}
.builder .navigation-entities{
	display:flex;
	flex-flow:column nowrap;
	align-items:stretch;
	overflow:auto;
}
.builder .navFilter{
	margin:0px 0px 10px 0px;
	border:1px solid #333;
}


/* color picker */
.builder table td .colorPickerWrap{
	position:relative;
}
.builder table td .colorPickerFloating{
	position:absolute;
	top:0px;
	z-index:var(--z-index-builder-hover-input);
}


/* new entities */
.builder-new{
	width:520px;
}
.builder-new .content{
	display:flex;
	flex-flow:column nowrap;
}
.builder-new .actions{
	flex:1 1 auto;
	margin-top:20px;
}


/* general entries */
.builder-entry-list{
	display:flex;
	flex-flow:column wrap;
	max-height:100%;
	align-content:flex-start;
}
.builder-entry-list .entry{
	width:380px;
	height:46px;
	padding:0px 12px 2px;
	margin:3px 8px 3px 0px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	font-size:100%;
	color:inherit;
	border-radius:6px;
	border-bottom:3px solid var(--color-border);
	text-decoration:none;
	background-color:var(--color-bg);
	box-shadow:1px 1px 3px var(--color-shade);
	box-sizing:border-box;
	transition:background-color 0.2s, border-bottom 0.2s, box-shadow 0.2s;
}
.builder-entry-list .entry.off{
	color:var(--color-font-alt);
}
.builder-entry-list .entry:not(.off):hover{
	padding:0px 12px 0px;
	border-bottom:3px solid var(--color-accent1);
	box-shadow:1px 1px 5px var(--color-shade);
}
.builder-entry-list .entry:not(.off):focus{
	border-bottom:2px solid var(--color-accent1);
	box-shadow:1px 1px 7px var(--color-shade);
}
.builder-entry-list .entry img.icon{
	width:18px;
	height:18px;
	filter:var(--image-filter);
}
.builder-entry-list .entry.off img.icon{
	filter:var(--image-filter-alt);
}
.builder-entry-list .lines{
	display:flex;
	flex-flow:column nowrap;
	gap:5px;
}
.builder-entry-list .subtitle{
	font-size:80%;
	color:var(--color-font-alt);
}


/* modules */
.builder-modules{
	flex:1 1 auto;
}
.builder-modules .item-list{
	display:flex;
	flex-flow:row wrap;
	gap:10px;
}
.builder-modules .item-wrap{
	flex:0 0 360px;
	padding:6px 12px;
	display:flex;
	flex-flow:column nowrap;
	border:2px solid var(--color-border);
	border-radius:6px;
	background-color:var(--color-bg);
}
.builder-modules .item-wrap.new{
	border-style:dashed;
}
.builder-modules .item{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:9px;
	margin:2px 0px;
	padding:3px;
	font-size:110%;
	text-decoration:none;
	color:inherit;
}
.builder-modules .item:hover{
	font-weight:bold;
}
.builder-modules .item.parent{
	border-bottom:2px solid var(--color-border);
	font-size:120%;
}
.builder-modules .item .color{
	width:12px;
	height:28px;
	border-radius:3px;
	border:1px solid var(--color-border);
}
.builder-modules .item.parent .color{
	width:12px;
	height:34px;
}
.builder-modules .item img{
	width:26px;
	height:26px;
	filter:var(--image-filter);
}
.builder-modules .item.parent img{
	width:32px;
	height:32px;
}
.builder-modules .item-children{
	display:flex;
	flex-flow:column nowrap;
	padding:0px 6px 0px 16px;
}
.builder-modules .change-table{
	margin:12px 0px;
}
.builder-modules .change-table th{
	font-weight:bold;
}
.builder-modules .change-table th,
.builder-modules .change-table td{
	padding:5px 12px;	
}
.builder-modules .change-table td.export-bad{
	color:red;
}
.builder-modules .change-table td.export-good{
	color:green;
}
.builder-modules .change-table td.export-master{
	font-weight:bold;
}
.builder-modules .actions{
	display:flex;
	flex-flow:row wrap;
}
.builder-modules .export-private-key{
	display:flex;
	flex-flow:column wrap;
	margin:20px 0px;
	align-items:flex-start;
}
.builder-modules .export-private-key textarea{
	min-width:350px;
	margin:0px 0px 5px 0px;
}
.builder-modules-graph .graph{
	display:flex;
	height:800px;
}
.builder-modules-key-create .key-pair-input{
	display:flex;
	flex-flow:row nowrap;
}
.builder-modules-key-create .key-pair-input select{
	width:unset;
	max-width:unset;
	margin-right:12px;
	flex:0 1 auto;
}
.builder-modules-key-create .key-pair{
	display:flex;
	flex-flow:row nowrap;
}
.builder-modules-key-create .key-pair textarea{
	width:100%;
	max-width:660px;
	height:400px;
	margin:6px 12px 6px 0px;
}

/* module */
.builder-module{}
.builder-module .builder-color{
	width:30px;
	height:30px;
	border-radius:6px;
}
.builder-module .item-list{
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	max-width:900px;
	margin:0px 0px 12px 0px;
}
.builder-module .item-list .item{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin:3px 0px;
	padding:2px 0px 2px 6px;
	gap:5px;
}
.builder-module .dragAnchor{
	width:24px;
	height:24px;
	cursor:pointer;
    filter:var(--image-filter);
}

/* caption */
.builder-caption{
	flex:1 1 auto;
	display:flex;
}

/* query */
.builder-query{}
.builder-query .query-title{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
}
.builder-query .nested-join{
	max-width:400px;
	margin:0px 0px 0px 8px;
}
.builder-query .nested-join.nested{
	padding:0px 0px 0px 6px;
	margin:0px;
	border-left:2px dotted black;
}
.builder-query .nested-join .children{
	padding:0px 0px 0px 10px;
}
.builder-query .nested-join .summary{
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	padding:0px 0px 6px 0px;
}
.builder-query .nested-join .summary .options{
	margin:0px 0px 0px auto;
	display:flex;
	flex-direction:row;
}
.builder-query .nested-join .summary .option{
	width:16px;
	margin:0px 1px;
	text-align:center;
	font-weight:bold;
	font-size:110%;
	border:1px solid var(--color-border);
	border-radius:3px;
}
.builder-query .nested-join .summary .option:hover{
	background-color:var(--color-accent3);
}
.builder-query .query-orders{
	display:flex;
	flex-flow:column nowrap;
	align-items:stretch;
}
.builder-query .query-order-item{
	display:flex;
	flex-flow:row nowrap;
	margin:0px 0px 6px 0px;
}
.builder-query .query-lookups{
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-start;
	margin:0px 0px 12px 0px;
}
.builder-query .query-lookup-item{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin:0px 0px 6px 0px;
}
.builder-query .query-lookup-item span{
	width:200px;
	flex:1 1 auto;
}
.builder-query .query-lookup-item select{
	width:300px;
	flex:2 1 auto;
}
.builder-query .query-component{
	margin:0px 0px 4px 0px;
	padding:0px 0px 2px 0px;
	border-bottom:1px solid var(--color-border);
}
.builder-query .query-choice{
	padding:10px;
	margin:0px 0px 2px 0px;
	border:1px solid var(--color-border);
	border-radius:3px;
}
.builder-query .query-choice-details{
	display:flex;
	flex-flow:row nowrap;
	margin:0px 0px 6px 0px;
}
.builder-query .fixed-limit{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
}

/* movable elements */
.builder-drag-item{
	font-family: Consolas, monaco, monospace;
	flex:0 1 24px;
	padding:2px 2px 2px 6px;
	line-height:24px;
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	overflow:visible;
	color:var(--color-font);
	background-color:var(--color-form-builder-actions);
	justify-content:flex-start;
	border-radius:3px 3px 0px 0px;
}
.builder-drag-item.column{
	background-color:var(--color-form-builder-columns);
}
.builder-drag-item.container{
	background-color:var(--color-form-builder-container);
}
.builder-drag-item.container .part{
	margin:0px 6px 0px 0px;
	font-size:90%;
}
.builder-drag-item.container img{
	width:20px;
	margin:0px 4px 0px 0px;
	filter:var(--image-filter);
}
.sortable-ghost .builder-drag-item{
	background-color:var(--color-accent3);
}
.builder-drag-item .action{
	margin:0px 3px 0px 0px;
	filter:var(--image-filter);
}
.builder-drag-item .action.end{
	width:20px;
	margin:0px 0px 0px auto;
}
.builder-drag-item .action.dragAnchor{
	width:24px;
	cursor:move;
}
.builder-drag-item .action.edit{
	width:24px;
}
.builder-drag-item .action.edit.selected{
	border:2px solid var(--color-border);
}
.builder-drag-item .title{
	padding:0px 3px;
	word-wrap:anywhere;
}
.builder-drag-item .reference{
	margin-right:6px;
	font-weight:bold;
}

/* collection */
.builder-collection{
	flex:1 1 auto;
	display:flex;
	flex-direction:row;
}
.builder-collection .preview{
	padding:6px 8px;
	border-bottom:2px solid var(--color-border);
}
.builder-collection .preview table{
	min-width:200px;
}
.builder-collection .preview table th{
	border-bottom:1px solid var(--color-border);
}
.builder-collection .preview table th,
.builder-collection .preview table td{
	padding:4px 8px;
}
.builder-collection .columnsTarget{
	display:flex;
	flex-flow:column nowrap;
	min-height:70px;
	margin:5px;
	padding:5px;
	border:3px dotted var(--color-border);
	border-radius:5px;
}
.builder-collection .columnsTemplates{
	display:flex;
	flex-flow:column nowrap;
}
.builder-collection .sidebar{
	min-width:400px;
	flex:0 0 auto;
	overflow:auto;
}
.builder-collection .inHeader{
	padding:6px 8px;
	border-bottom:2px solid var(--color-border);
}

/* collection input */
.builder-collection-input{
	padding:5px;
	margin-bottom:5px;
	border:1px solid var(--color-border);
	border-radius:4px;
	box-shadow:1px 1px 4px var(--color-shade);
}
.builder-collection-input td{
	padding:3px 5px;
}

/* articles */
.builder-articles-wrap{
	display:flex;
	flex-flow:row wrap;
}
.builder-articles-edit{
	flex:1 1 auto;
}
.builder-articles-assign{
	display:flex;
	flex-flow:column nowrap;
	border-left:1px solid var(--color-border);
	border-bottom:1px solid var(--color-border);
	border-radius:0px 0px 0px 5px;
	background-color:var(--color-bg);
}
.builder-articles-assign .actions{
	display:flex;
	justify-content:space-between;
	margin:10px 0px 15px;
}
.builder-article-line{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	padding:2px 9px;
	margin:2px 0px;
	gap:12px;
}
.builder-articles-body{
	width:100%;
	max-width:1400px;
	height:90vh;
	display:flex;
	flex-flow:column nowrap;
	border:1px solid var(--color-border);
	border-radius:8px;
	overflow:hidden;
}
.builder-articles-body-richtext{
	display:flex;
	background-color:var(--color-bg);
}
.builder-articles-preview{
	width:100%;
	max-width:1200px;
	height:90vh;
	display:flex;
	flex-flow:column nowrap;
	border:1px solid var(--color-border);
	border-radius:8px;
	overflow:hidden;
}
.builder-articles-preview.large{
	max-width:1600px;
}

/* open form input */
.builder-open-form-input{
	padding:5px;
	margin-bottom:5px;
	border:1px solid var(--color-border);
	border-radius:4px;
	box-shadow:1px 1px 4px var(--color-shade);
}
.builder-open-form-input td{
	padding:3px 5px;
}

/* columns */
.builder-columns{
	flex:1 1 auto;
	padding:5px 0px 0px 5px;
	display:flex;
	flex-flow:row wrap;
}
.builder-columns.templates{
	padding:5px;
}
.builder-columns.templates .template-title{
	margin:3px 12px;
}
.builder-columns .column-wrap{
	white-space:nowrap;
	border:1px solid var(--color-border);
	border-radius:3px;
	margin:0px 5px 5px 0px;
}
.builder-column-options{
	max-width:500px;
	padding:8px 12px;
}

/* relation */
.builder-relations .sub-component{
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-start;
	padding:6px 12px 12px 12px;
	margin:0px 15px 10px;
	border:1px solid var(--color-border);
	border-top:none;
	border-radius:0px 0px 5px 5px;
}
.builder-relations .sub-component table{
	margin:10px 0px 20px;
}
.builder-relations .sub-component table td{
	padding:3px 5px;
}
.builder-relation{
	flex:1 1 auto;
	flex-direction:column;
}
.builder-relation .graph{
	display:flex;
	height:600px;
}
.builder-relation .references{
	display:flex;
	flex-flow:row nowrap;
	margin-top:20px;
}
.builder-relation .references img{
	height:20px;
	margin-right:5px;
	filter:var(--image-filter);
}
.builder-relation .indexes{
	width:600px;
}
.builder-relation .preset-records{
	width:800px;
}
.builder-relation .preview{
	margin:8px 12px;
	border-spacing:2px;
}
.builder-relation .preview .actions{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin:8px 12px 12px 12px;
}
.builder-relation .preview .actions span{
	margin:0px 9px 0px 15px;
}
.builder-relation .preview th{
	padding:2px 4px;
	font-weight:bold;
	border-bottom:2px solid var(--color-border);
}
.builder-relation .preview td{
	padding:1px 4px;
	border-bottom:1px solid var(--color-border);
}

/* preset */
.builder-preset .preset-values{
	padding:10px;
	margin:5px 25px 10px 25px;
	border:1px solid var(--color-border);
	border-top:none;
	border-radius:0px 0px 5px 5px;
}
.builder-preset .preset-values textarea{
	height:30px;
}

/* icons */
.builder-icons{
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-start;
}
.builder-icons .icons{
	display:flex;
	flex-flow:row wrap;
	align-content:flex-start;
}
.builder-icons .builder-icons-add{
	margin:20px 0px 40px 0px;
}
.builder-icons .icons .icon{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin:0px 24px 6px 0px;
	gap:6px;
}
.builder-icons .icons .icon img.preview{
	width:32px;
	height:32px;
	filter:var(--image-filter);
}
.builder-icons .deleteAction{
	margin:12px 0px 48px 0px;
}

/* icon-input */
.builder-icon-input{
	display:flex;
	flex-direction:column;
}
.builder-icon-input .iconLine{
	width:40px;
	height:30px;
	min-width:unset;
	margin-right:4px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	border-bottom:1px solid var(--color-border);
	border-radius:3px 3px 0px 0px;
	box-sizing:border-box;
	background-color:var(--color-bg);
	box-shadow:1px 1px 2px var(--color-shade);
}
.builder-icon-input .iconLine:focus{
	outline:none;
	box-shadow:1px 1px 4px var(--color-shade);
}
.builder-icon-input .builder-icon{
	width:22px;
	height:22px;
	margin:1px;
	padding:3px;
	filter:var(--image-filter);
}
.builder-icon-input .builder-icon.active{
	border-radius:5px;
	background-color:var(--color-action);
	filter:var(--image-filter-bg);
	box-shadow:1px 1px 4px var(--color-shade);
}
.builder-icon-input .builder-icon.not-set{
	--image-filter-contrast:50%;
}
.builder-icon-input .builder-icon:hover{
	width:26px;
	height:26px;
	margin:0px;
	padding:2px;
}
.build-icon-input-window {
	max-width:500px;
	min-width:300px;
}
.build-icon-input-window .module{
	display:flex;
	flex-flow:row wrap;
}
.build-icon-input-window .module span{
	width:100%;
	margin:8px 0px 0px;
	color:var(--color-font) !important;
}
.build-icon-input-window .module.first span{
	margin:0px;
}
.build-icon-input-window .actions{
	margin-top:20px;
}

/* role */
.builder-roles{}
.builder-role table{
	width:100%;
}
.builder-role .access-header{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:10px;
	margin:var(--spacing);
}
.builder-role .access-header h1{
	margin:0px;
	padding:0px;
}
.builder-role .access-header img{
	width:24px;
	height:24px;
	filter:var(--image-filter);
}

/* functions */
.builder-functions .schedule-line{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin:0px 0px 6px 0px;
}
.builder-functions .schedule-line span{
	margin:0px 6px 0px 12px;
}
.builder-functions .schedule-line input{
	max-width:32px !important;
}
.builder-function{
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
}
.builder-function .contentBox{
	flex:3 0.5 600px;
	display:flex;
	flex-direction:column;
	overflow:auto;
}
.builder-function .contentBox.right{
	flex:0.5 1 350px;
}
.builder-function .function-details{
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
}
.builder-function .function-details .header{
	width:100%;
	padding:6px 8px;
	border-bottom:2px solid var(--color-border);
}
.builder-function .function-details .header table td{
	padding:2px 12px;
}
.builder-function .input{
	max-width:none;
	font-family:'Lucida Console',Courier,monospace;
	border:none !important;
	border-radius:0px !important;
	background-color:transparent;
	padding:var(--spacing);
}
.builder-function .input:focus{
	background-color:transparent;
}
.builder-function .input:disabled{
	border:3px solid var(--color-border) !important;
}
.builder-function .message{
	margin:0px 0px 18px;
}
.builder-function .placeholders{
	display:flex;
	flex-flow:column nowrap;
}
.builder-function .placeholders.modules{
	margin:0px 0px 8px 0px;
}
.builder-function .placeholders.collections-title,
.builder-function .placeholders.form-query-title,
.builder-function .placeholders.fields-title,
.builder-function .placeholders.fields{
	margin:0px 0px 16px 0px;
}
.builder-function .placeholders.collections-title span,
.builder-function .placeholders.fields-title span{
	font-style:italic;
	margin:12px 0px 0px 0px;
}
.builder-function .placeholders.fields,
.builder-function .placeholders.relations,
.builder-function .placeholders.functions{
	flex-flow:row wrap;
}
.builder-function .placeholders .functions-title{
	color:var(--color-font-alt);
	margin:8px 5px 2px;
}
.builder-function-placeholder{
	padding:0px 2px;
	margin:0px 3px 3px 0px;
	border:1px solid var(--color-border);
	background-color:var(--color-bg);
	box-shadow:1px 1px 2px var(--color-shade);
	line-height:24px;
	border-radius:3px;
}
.builder-function-placeholder.naked{
	background-color:transparent;
	border:none;
	box-shadow:none;
}


/* menus */
.builder-menus{}
.builder-menus .content{
	flex:1 1 auto;
}
.builder-menus-actions{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-end;
	margin:10px 0px;
}
.builder-menus-actions span{
	margin:0px 16px 0px 10px;
}
.builder-menus-actions select{
	margin:0px 6px 0px 0px !important;
}
.builder-menu{
	min-height:30px;
	margin:0px 5px 5px 0px;
	padding:0px 0px 0px 3px;
	line-height:30px;
	background-color:rgba(0,0,0,0.1);
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	border:1px dotted var(--color-border);
	border-radius:3px;
}
.builder-menu img.dragAnchor{
	width:30px;
	height:30px;
	text-align:center;
	margin:0px 3px 0px 0px;
	filter:var(--image-filter);
	cursor:move;
}
.builder-menu .inputs{
	display:flex;
	flex-flow:column nowrap;
}
.builder-menu .inputs .line{
	display:flex;
	flex-flow:row nowrap;
	align-content:flex-start;
	align-items:flex-start;
	flex:0 1 auto;
}
.builder-menu input,
.builder-menu select{
	max-width:150px !important;
	padding:0px 5px;
	margin:0px 5px 0px 0px !important;
	box-sizing:border-box;
	flex:0 1 220px;
}
.builder-menu .nested{
	margin:2px 5px 2px 0px;
	padding:5px 0px 0px 5px;
	flex:8 1 500px;
	border:1px dotted var(--color-border);
	border-radius:3px;
}


/* user overwrites */
.user-bordersAll .builder-icon-input .iconLine{
	border:1px solid var(--color-border);
}
.user-bordersSquared .builder-icon-input .iconLine{
	border-radius:0px;
}
.user-bordersRounded .builder-icon-input .iconLine{
	border-radius:4px;
}