.builder{
	display:flex;
	flex-flow:row nowrap;
	z-index:var(--z-index-content);
}

/* generics */
.builder .builder-sub-container{
	display:flex;
	flex-flow:column nowrap;
	align-items:stretch;
	padding:6px 12px 12px 12px;
	margin:0px 15px 10px;
	border:1px solid var(--color-border);
	border-top:none;
	border-radius:0px 0px 5px 5px;
}
.builder img.dragAnchor{
	height:24px;
	filter:var(--image-filter);
	cursor:move;
}

/* content */
.builder .moduleSelect{
	margin:12px;
	display:flex;
	flex-direction:row;
	align-items:center;
}
.builder .moduleSelect.translation{
	margin-top:-6px;
}
.builder .moduleSelect span{
	margin:0px 9px 0px 6px;
}
.builder .moduleNoOwner{
	margin:0px 12px 9px 12px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.builder .moduleNoOwner span{
	flex:1 1 auto;
	color:var(--color-error);
}
.builder .navigation select{
	flex:1 1 auto;
	margin-right:9px;
	width:auto;
}
.builder .navigation-two-columns{
	display:flex;
	flex-flow:row nowrap;
	border-top:1px solid var(--color-border);
	border-bottom:1px solid var(--color-border);
}
.builder .navigation-two-columns .navigation-column{
	flex:1 1 auto;
}
.builder .navigation-two-columns .navigation-column:first-child{
	border-right:1px solid var(--color-border);
}
.builder .navigation-entities-header{
	margin-top:15px;
	padding:4px 10px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	color:var(--color-font);
	border-bottom:1px solid var(--color-border);
	background-color:var(--color-bg);
}
.builder .navigation-entities{
	display:flex;
	flex-flow:column nowrap;
	align-items:stretch;
	overflow:auto;
}
.builder .navFilter{
	margin:0px 0px 10px 0px;
	border:1px solid #333;
}


/* color picker */
.builder table td .colorPickerWrap{
	position:relative;
}
.builder table td .colorPickerFloating{
	position:absolute;
	top:0px;
	z-index:var(--z-index-builder-hover-input);
}


/* new entities */
.builder-new{
	width:520px;
}
.builder-new .content{
	display:flex;
	flex-flow:column nowrap;
}
.builder-new .options{
	flex:1 1 auto;
	margin:20px 0px;
}
.builder-new .error{
	color:var(--color-error);
}


/* modules */
.builder-modules{
	flex:1 1 auto;
}
.builder-modules .item-list{
	display:flex;
	flex-flow:row wrap;
	gap:10px;
}
.builder-modules .item-wrap{
	flex:0 0 360px;
	padding:6px 12px;
	display:flex;
	flex-flow:column nowrap;
	border:2px solid var(--color-border);
	border-radius:6px;
	background-color:var(--color-bg);
}
.builder-modules .item-wrap.new{
	border-style:dashed;
}
.builder-modules .item{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:9px;
	margin:2px 0px;
	padding:3px;
	font-size:110%;
	text-decoration:none;
	color:inherit;
}
.builder-modules .item:hover{
	font-weight:bold;
}
.builder-modules .item.parent{
	border-bottom:2px solid var(--color-border);
	font-size:120%;
}
.builder-modules .item .color{
	width:12px;
	height:28px;
	border-radius:3px;
	border:1px solid var(--color-border);
}
.builder-modules .item.parent .color{
	width:12px;
	height:34px;
}
.builder-modules .item img{
	width:26px;
	height:26px;
	filter:var(--image-filter);
}
.builder-modules .item.parent img{
	width:32px;
	height:32px;
}
.builder-modules .item-children{
	display:flex;
	flex-flow:column nowrap;
	padding:0px 6px 0px 16px;
}
.builder-modules .change-table{
	margin:12px 0px;
}
.builder-modules .change-table th{
	font-weight:bold;
}
.builder-modules .change-table th,
.builder-modules .change-table td{
	padding:5px 12px;	
}
.builder-modules .change-table td.export-bad{
	color:red;
}
.builder-modules .change-table td.export-good{
	color:green;
}
.builder-modules .change-table td.export-master{
	font-weight:bold;
}
.builder-modules .actions{
	display:flex;
	flex-flow:row wrap;
}
.builder-modules .export-private-key{
	display:flex;
	flex-flow:column wrap;
	margin:20px 0px;
	align-items:flex-start;
}
.builder-modules .export-private-key textarea{
	min-width:350px;
	margin:0px 0px 5px 0px;
}
.builder-modules-graph .graph{
	display:flex;
	height:800px;
}
.builder-modules-key-create .key-pair-input{
	display:flex;
	flex-flow:row nowrap;
}
.builder-modules-key-create .key-pair-input select{
	width:unset;
	max-width:unset;
	margin-right:12px;
	flex:0 1 auto;
}
.builder-modules-key-create .key-pair{
	display:flex;
	flex-flow:row nowrap;
}
.builder-modules-key-create .key-pair textarea{
	width:100%;
	max-width:660px;
	height:400px;
	margin:6px 12px 6px 0px;
}

/* start page */
.builder-start-icon{
	width:32px;
	height:32px;
	filter:var(--image-filter-success);
}
.builder-start-icon.bad{
	filter:var(--image-filter-error);
}
.builder-start-icon.small{
	width:24px;
	height:24px;
}
.builder-start-box{
	flex-flow:column nowrap;
	display:flex;
	color:inherit;
	border:1px solid var(--color-border);
	border-radius:12px;
	box-shadow:1px 2px 2px var(--color-shade);
	background-color:var(--color-bg);
}
.builder-start .builder-start-entities{
	display:flex;
	flex-flow:row wrap;
	align-items:stretch;
	gap:12px;
}
.builder-start .builder-start-entity{
	width:260px;
	align-items:center;
	text-align:center;
	padding:15px 14px;
	text-decoration:none;
}
.builder-start .builder-start-entity:hover{
	padding-top:18px;
	padding-bottom:12px;
	transition:padding 0.05s;
}
.builder-start .builder-start-entity img.poster{
	width:180px;
	height:180px;
	margin:0px 0px 10px 0px;
	filter:var(--image-filter);
}
.builder-start .builder-start-entity-header{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:10px;
	margin-bottom:12px;
}
.builder-start .builder-start-entity-header h1{
	font-weight:bold;
	margin:0px;
}
.builder-start .builder-start-visibility{
	max-width:700px;
	padding:10px;
}
.builder-start .builder-start-visibility-header{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:10px;
	margin-bottom:12px;
}
.builder-start .builder-start-visibility-header h1{
	margin:0px;
}
.builder-start .builder-start-visibility td{
	padding:4px 6px;
}
.builder-start .builder-start-visibility td:first-child{
	padding-left:15px;
}
.builder-start .builder-start-resources{
	max-width:700px;
	flex-flow:row nowrap;
	gap:5px;
	padding:10px;
}

/* module */
.builder-module{}
.builder-module .builder-color{
	width:30px;
	height:30px;
	border-radius:6px;
}
.builder-module .item-list{
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	max-width:900px;
	margin:0px 0px 12px 0px;
}
.builder-module .item-list .item{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin:3px 0px;
	padding:2px 0px 2px 6px;
	gap:5px;
}
.builder-module .dragAnchor{
	width:24px;
	height:24px;
	cursor:pointer;
    filter:var(--image-filter);
}

/* attributes */
.builder-attribute{
	overflow:auto;
}

/* caption */
.builder-caption{
	flex:1 1 auto;
	display:flex;
}

/* query */
.builder-query{}
.builder-query .query-title{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
}
.builder-query .nested-join{
	max-width:500px;
	margin:0px 0px 0px 8px;
}
.builder-query .nested-join.nested{
	padding:0px 0px 0px 9px;
	margin:0px;
	border-left:2px dotted var(--color-font);
}
.builder-query .nested-join .children{
	padding:0px 0px 0px 4px;
}
.builder-query .nested-join .summary{
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	gap:6px;
}
.builder-query .nested-join .summary img.relationship{
	width:24px;
	height:24px;
	filter:var(--image-filter);
}
.builder-query .nested-join .summary .options{
	margin:0px 0px 0px auto;
	display:flex;
	flex-direction:row;
}
.builder-query .nested-join .summary .option{
	width:24px;
	margin:1px;
	text-align:center;
	font-weight:bold;
	font-size:110%;
	color:var(--color-font);
	filter:var(--image-filter);
}
.builder-query .nested-join .summary .option.toggle{
	filter:var(--image-filter-success);
}
.builder-query .nested-join .summary .option.toggle.off{
	filter:var(--image-filter-error);
}
.builder-query .nested-join .summary .option:hover{
	width:26px;
	margin:0px;
}
.builder-query .nested-join .summary .option:active{
	width:22px;
	margin:2px;
}
.builder-query .query-orders{
	display:flex;
	flex-flow:column nowrap;
	align-items:stretch;
}
.builder-query .query-order-item{
	display:flex;
	flex-flow:row nowrap;
	margin:0px 0px 6px 0px;
	gap:3px;
}
.builder-query .query-lookups{
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-start;
	margin:0px 0px 12px 0px;
}
.builder-query .query-lookup-item{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin:0px 0px 6px 0px;
}
.builder-query .query-lookup-item span{
	width:200px;
	flex:1 1 auto;
}
.builder-query .query-lookup-item select{
	width:300px;
	flex:2 1 auto;
}
.builder-query .query-component{
	margin:0px 0px 4px 0px;
	padding:0px 0px 2px 0px;
	border-bottom:1px solid var(--color-border);
}
.builder-query .query-choice{
	padding:10px;
	margin:0px 0px 2px 0px;
	border:1px solid var(--color-border);
	border-radius:3px;
}
.builder-query .query-choice-details{
	display:flex;
	flex-flow:row nowrap;
	margin:0px 0px 6px 0px;
	gap:3px;
}
.builder-query .fixed-limit{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
}

/* movable elements */
.builder-drag-item{
	font-family: Consolas, monaco, monospace;
	flex:0 1 30px;
	padding:2px 2px 2px 6px;
	line-height:24px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	overflow:visible;
	color:var(--color-bg-font);
	justify-content:flex-start;
	border-radius:5px;
}
.builder-drag-item.column{
	background-color:var(--color-form-builder-columns);
}
.builder-drag-item.container .part{
	margin:0px 6px 0px 0px;
	font-size:90%;
}
.builder-drag-item.container img{
	width:20px;
	margin:0px 4px 0px 0px;
	filter:var(--image-filter-bg);
}
.sortable-ghost .builder-drag-item{
}
.builder-drag-item .action{
	margin:0px 3px 0px 0px;
	filter:var(--image-filter-bg);
}
.builder-drag-item .action.end{
	width:22px;
	margin:0px 2px 0px auto;
}
.builder-drag-item .action.dragAnchor{
	width:24px;
	cursor:move;
	filter:var(--image-filter-bg);
}
.builder-drag-item .action.edit{
	width:24px;
}
.builder-drag-item .action.edit.selected{
	outline:3px solid var(--color-form-builder-selected);
}
.builder-drag-item .title{
	flex:1 0 auto;
	padding:0px 3px;
	/*word-wrap:anywhere;*/
	font-size:95%;
	
	/* auto cutting text */
	width:100px;
	min-width:0px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.builder-drag-item .reference{
	margin-right:6px;
	font-weight:bold;
}

/* collection */
.builder-collection{
	flex:1 1 auto;
	display:flex;
	flex-direction:row;
}
.builder-collection .preview{
	padding:6px 8px;
	border-bottom:2px solid var(--color-border);
}
.builder-collection .preview table{
	min-width:200px;
}
.builder-collection .preview table th{
	border-bottom:1px solid var(--color-border);
}
.builder-collection .preview table th,
.builder-collection .preview table td{
	padding:4px 8px;
}
.builder-collection .sidebar{
	min-width:400px;
	flex:0 0 auto;
	overflow:auto;
}
.builder-collection .inHeader{
	padding:6px 8px;
	border-bottom:2px solid var(--color-border);
}
.builder-collection .selected-ref{
	text-decoration:underline;
	text-decoration-color:var(--color-form-builder-selected);
	text-decoration-thickness:4px;
}
.builder-collection-columns{
	display:flex;
	flex-flow:column nowrap;
	max-height:100%;
}
.builder-collection-columns-active{
	flex:2 1 auto;
	display:flex;
	flex-flow:column nowrap;
	max-height:400px;
	padding:5px;
	border:3px dotted var(--color-border);
	border-radius:0px 0px 5px 5px;
}
.builder-collection-columns-available{
	display:flex;
	flex-flow:column nowrap;
	padding:5px;
	border:3px dotted var(--color-border);
	border-top:none;
	border-radius:0px 0px 5px 5px;
}
.builder-collection-column-templates{
	flex:1 3 auto;
	overflow:auto;
}

/* collection input */
.builder-collection-input{
	padding:5px;
	margin-bottom:5px;
	border:1px solid var(--color-border);
	border-radius:4px;
	box-shadow:1px 1px 4px var(--color-shade);
}
.builder-collection-input td{
	padding:3px 5px;
}

/* API */
.builder-api{
	flex:1 1 auto;
	display:flex;
	flex-direction:row;
}
.builder-api .sidebar{
	min-width:800px;
	flex:0 0 auto;
	overflow:auto;
}
.builder-api .selected-ref{
	text-decoration:underline;
	text-decoration-color:var(--color-form-builder-selected);
	text-decoration-thickness:4px;
}
.builder-api .code-preview{
	font-family: Consolas, monaco, monospace;
	tab-size:4;
}
.builder-api .code-preview.high{
	height:500px;
}
.builder-api .code-preview.low{
	height:40px;
}
.builder-api .warnings{
	color:var(--color-error);
}
.builder-api-columns{
	display:flex;
	flex-flow:column nowrap;
	max-height:100%;
}
.builder-api-columns-active{
	flex:2 1 auto;
	display:flex;
	flex-flow:column nowrap;
	max-height:400px;
	padding:5px;
	border:3px dotted var(--color-border);
	border-radius:0px 0px 5px 5px;
}
.builder-api-columns-available{
	display:flex;
	flex-flow:column nowrap;
	padding:5px;
	border:3px dotted var(--color-border);
	border-top:none;
	border-radius:0px 0px 5px 5px;
}
.builder-api-column-templates{
	flex:1 3 auto;
	overflow:auto;
}

/* articles */
.builder-articles-wrap{
	display:flex;
	flex-flow:row wrap;
	overflow:auto;
}
.builder-articles-edit{
	flex:1 1 auto;
}
.builder-articles-assign{
	display:flex;
	flex-flow:column nowrap;
	border-left:1px solid var(--color-border);
	border-bottom:1px solid var(--color-border);
	border-radius:0px 0px 0px 5px;
	background-color:var(--color-bg);
}
.builder-articles-assign .actions{
	display:flex;
	justify-content:space-between;
	margin:10px 0px 15px;
}
.builder-article-line{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	padding:2px 9px;
	margin:2px 0px;
	gap:12px;
}
.builder-articles-body{
	width:100%;
	max-width:1400px;
	height:90vh;
	display:flex;
	flex-flow:column nowrap;
	border:1px solid var(--color-border);
	border-radius:8px;
	overflow:hidden;
}
.builder-articles-body-richtext{
	display:flex;
	background-color:var(--color-bg);
}
.builder-articles-preview{
	width:100%;
	max-width:1200px;
	height:90vh;
	display:flex;
	flex-flow:column nowrap;
	border:1px solid var(--color-border);
	border-radius:8px;
	overflow:hidden;
}
.builder-articles-preview.large{
	max-width:1600px;
}

/* columns */
.builder-column-batches{
	overflow:auto;
	min-height:32px;
	margin:5px;
	padding:5px;
	gap:5px;
	flex:1 1 auto;
	display:flex;
	flex-flow:row wrap;
	align-content:flex-start;
	background-color:var(--color-bg);
	background-size:31px 31px;
	background-image:linear-gradient(var(--color-form-builder-actions-bg) 1px, transparent 1px),
		linear-gradient(to right, var(--color-form-builder-actions-bg) 1px, var(--color-bg) 1px);
}
.builder-column-batches.template{
	flex-flow:column nowrap;
	margin:0px;
	cursor:move;
}
.builder-column-batch{
	display:flex;
	min-width:220px;
	flex:1 1 auto;
	flex-flow:column nowrap;
	background-color:var(--color-form-builder-column-batch);
	border-radius:5px;
}
.builder-column-batch-options{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	padding:3px 8px;
	gap:6px;
}
.builder-column-batch-options .icon{
	width:24px;
	padding:1px;
	filter:var(--image-filter);
}
.builder-column-batch-options .caption{
	width:100px;
}
.builder-column-batch-options .icon.move{
	cursor:move;
}
.builder-column-batch-options .icon.clickable:hover{
	width:26px;
	padding:0px;
}
.builder-column-batch .children{
	overflow:auto;
	flex:1 1 auto;
	min-height:20px;
	margin:4px;
	margin-top:0px;
	padding:5px 0px 0px 5px;
	display:flex;
	flex-flow:row wrap;
	border-radius:2px;
	background-color:var(--color-bg);
}
.builder-column-batch .children.vertical{
	flex-direction:column;
}
.builder-column-batch .children>div{
	min-width:240px;
	max-width:360px;
}
.builder-column-batch.preview .children{
	margin:0px;
	padding:0px;
}
.builder-columns .column-wrap{
	width:100%;
	white-space:nowrap;
	margin:0px 3px 3px 0px;
	cursor:move;
}
.builder-column-options{
	max-width:500px;
	padding:8px 12px;
}

/* tabs */
.builder-tabs{
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
}
.builder-tabs .entries{
	margin-right:5px;
	flex:0 0 40px;
	display:flex;
	flex-flow:row nowrap;
	background-color:var(--color-form-builder-tabs-active);
}
.builder-tabs .entries .entry{
	line-height:40px;
	padding:0px 9px;
	vertical-align:middle;
	cursor:pointer;
}
.builder-tabs .entries .entry.active{
	font-weight:bold;
	text-decoration:underline;
	background-color:var(--color-form-builder-tabs);
}

/* relation */
.builder-relations .sub-component{
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-start;
	padding:6px 12px 12px 12px;
	margin:0px 15px 10px;
	border:1px solid var(--color-border);
	border-top:none;
	border-radius:0px 0px 5px 5px;
}
.builder-relations .sub-component table{
	margin:10px 0px 20px;
}
.builder-relations .sub-component table td{
	padding:3px 5px;
}
.builder-relation{
	flex:1 1 auto;
	flex-direction:column;
}
.builder-relation .graph{
	display:flex;
	height:600px;
}
.builder-relation .references{
	display:flex;
	flex-flow:row nowrap;
	margin-top:20px;
}
.builder-relation .references img{
	height:20px;
	margin-right:5px;
	filter:var(--image-filter);
}
.builder-relation .indexes{
	width:600px;
}
.builder-relation .preset-records{
	width:800px;
}
.builder-relation .preview{
	margin:8px 12px;
	border-spacing:2px;
}
.builder-relation .preview .actions{
	margin:8px 12px 12px 12px;
}
.builder-relation .preview .actions span{
	margin:0px 9px 0px 15px;
}
.builder-relation .preview th{
	padding:2px 4px;
	font-weight:bold;
	border-bottom:2px solid var(--color-border);
}
.builder-relation .preview td{
	padding:1px 4px;
	border-bottom:1px solid var(--color-border);
}

/* preset */
.builder-preset .preset-values{
	padding:10px;
	margin:5px 25px 10px 25px;
	border:1px solid var(--color-border);
	border-top:none;
	border-radius:0px 0px 5px 5px;
}
.builder-preset .preset-values textarea{
	height:30px;
}

/* icons */
.builder-icons{
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-start;
}
.builder-icons .icons{
	display:flex;
	flex-flow:row wrap;
	align-content:flex-start;
}
.builder-icons .builder-icons-add{
	margin:20px 0px 40px 0px;
}
.builder-icons .icons .icon{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin:0px 24px 6px 0px;
	gap:6px;
}
.builder-icons .icons .icon img.preview{
	width:32px;
	height:32px;
	filter:var(--image-filter);
}
.builder-icons .deleteAction{
	margin:12px 0px 48px 0px;
}

/* icon-input */
.builder-icon-input{
	display:flex;
	flex-direction:column;
}
.builder-icon-input .iconLine{
	width:40px;
	height:30px;
	min-width:unset;
	display:flex;
	flex-direction:row;
	justify-content:center;
	border-bottom:1px solid var(--color-border);
	border-radius:3px 3px 0px 0px;
	box-sizing:border-box;
	box-shadow:1px 1px 2px var(--color-shade);
}
.builder-icon-input .iconLine:focus{
	outline:none;
	box-shadow:1px 1px 4px var(--color-shade);
}
.builder-icon-input .builder-icon{
	width:22px;
	height:22px;
	margin:1px;
	padding:3px;
	filter:var(--image-filter);
}
.builder-icon-input .builder-icon.active{
	border-radius:5px;
	background-color:var(--color-action);
	filter:var(--image-filter-bg);
	box-shadow:1px 1px 4px var(--color-shade);
}
.builder-icon-input .builder-icon.naked{
	border:1px solid var(--color-border);
	border-radius:5px;
}
.builder-icon-input .builder-icon.not-set{
	--image-filter-contrast:50%;
}
.builder-icon-input .builder-icon:hover{
	width:26px;
	height:26px;
	margin:0px;
	padding:2px;
}
.build-icon-input-window {
	max-width:500px;
	min-width:300px;
	max-height:95%;
	display:flex;
}
.build-icon-input-window .module{
	display:flex;
	flex-flow:row wrap;
}
.build-icon-input-window .module span{
	width:100%;
	margin:8px 0px 0px;
	color:var(--color-font) !important;
}
.build-icon-input-window .module.first span{
	margin:0px;
}

/* role */
.builder-roles{}
.builder-role table{
	width:100%;
}
.builder-role.contentBox>.content{
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
}
.builder-role .contentBox.access{
	flex-flow:row nowrap;
}
.builder-role .contentBox.sidebar{
	flex:1 1 300px;
	max-width:500px;
}
.builder-role .access-header{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:10px;
	margin:var(--spacing);
}
.builder-role .access-header h1{
	margin:0px;
	padding:0px;
}
.builder-role .access-header img{
	width:24px;
	height:24px;
	filter:var(--image-filter);
}

/* attributes */
.builder-attribute .error{
	color:var(--color-error);
}

/* functions */
.builder-function{
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
}
.builder-function .contentBox{
	flex:1 1 900px;
	display:flex;
	flex-direction:column;
	overflow:auto;
}
.builder-function .contentBox.right{
	flex:1 1 300px;
	min-width:420px;
	max-width:600px;
}
.builder-function .function-details{
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
}
.builder-function .response{
	min-height:600px;
}
.builder-function .input{
	flex:1 1 auto;
	max-width:none;
	font-family:'Lucida Console',Courier,monospace;
	tab-size:4;
	border:none !important;
	border-radius:0px !important;
	background-color:transparent;
	padding:var(--spacing);
}
.builder-function .input:focus{
	background-color:transparent;
}
.builder-function .input:disabled{
	border:3px solid var(--color-border) !important;
}
.builder-function .message{
	margin:0px 0px 18px;
}
.builder-function .placeholders{
	margin:6px 0px 22px 0px;
	display:flex;
	flex-flow:column nowrap;
}
.builder-function .placeholders .title{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:6px;
	margin:0px 0px 6px 0px;
}
.builder-function .placeholders .title img{
	width:24px;
	height:24px;
	filter:var(--image-filter);
}
.builder-function .placeholders .title span{
	font-size:120%;
}
.builder-function .insert-ref{
	font-style:italic;
	margin:12px 0px 0px 0px;
	color:var(--color-error);
}

.builder-function .entities-title{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	gap:6px;
	margin:3px 0px 6px 0px;
}
.builder-function .entities{
	display:flex;
	flex-flow:column nowrap;
	gap:2px;
}
.builder-function .entity{
	border:1px solid var(--color-border);
	border-radius:4px;
	background-color:var(--color-bg);
}
.builder-function .entity-title{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
}
.builder-function .entity-children{
	padding:3px 0px 3px 5px;
	border-top:1px solid var(--color-border);
	display:flex;
	flex-flow:row wrap;
	gap:3px;
}

.builder-function .schedule{
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	padding:0px 0px 6px 0px;
	margin:0px 0px 6px 0px;
	border-bottom:1px solid var(--color-border);
	border-radius:4px;
	gap:4px;
}
.builder-function .schedule .line{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:5px;
}
.builder-function .schedule span{
	font-size:80%;
	line-height:90%;
}
.builder-function .schedule input{
	max-width:32px !important;
}


/* menus */
.builder-menus{}
.builder-menus .content{
	flex:1 1 auto;
}
.builder-menus-actions{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-end;
	margin:10px 0px;
}
.builder-menus-actions span{
	margin:0px 16px 0px 10px;
}
.builder-menus-actions select{
	margin:0px 6px 0px 0px !important;
}
.builder-menu{
	min-height:30px;
	margin:0px 5px 5px 0px;
	line-height:30px;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	border-radius:3px;
	gap:calc(var(--spacing) / 3);
}
.builder-menu img.dragAnchor{
	width:30px;
	height:30px;
	text-align:center;
	margin:0px 3px 0px 0px;
	filter:var(--image-filter);
	cursor:move;
}
.builder-menu .inputs{
	display:flex;
	flex-flow:column nowrap;
}
.builder-menu .inputs .line{
	display:flex;
	flex-flow:row nowrap;
	align-content:flex-start;
	align-items:flex-start;
	flex:0 1 auto;
	gap:calc(var(--spacing) / 3);
}
.builder-menu input,
.builder-menu select{
	max-width:150px !important;
	padding:0px 5px;
	box-sizing:border-box;
	flex:0 1 220px;
}
.builder-menu .nested{
	padding:5px 0px 0px 5px;
	margin-right:5px;
	flex:8 1 500px;
	background-color:var(--color-bg);
	border:2px dotted var(--color-border);
	border-radius:6px;
}


/* user overwrites */
.user-bordersAll .builder-icon-input .iconLine{
	border:1px solid var(--color-border);
}
.user-bordersSquared .builder-icon-input .iconLine{
	border-radius:0px;
}