.builder-form{
	flex:1 1 auto;
	display:flex;
	flex-direction:row;
}

/* form builder sidebar area */
.builder-form .sidebar{
	min-width:400px;
	flex:0 0 auto;
	overflow:auto;
}
.builder-form .sidebar .templates-wrap{
	margin-top:20px;
}
.builder-form .sidebar .templates{
	margin-bottom:16px;
	border:1px solid var(--color-border);
	border-radius:5px;
	overflow:auto;
}

/* form builder main area */
.builder-form-main{
	flex:2 1 auto;
	z-index:var(--z-index-form);
	overflow:auto;
}

.builder-form-content{
	flex:1 5 auto;
	overflow:auto;
	display:flex;
	flex-flow:column nowrap;
}
.builder-form-fields{
	/* all active fields in builder */
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
	padding:5px 0px 0px 5px;
	overflow:auto;
}
.builder-form-content div.container:hover{
	background-color:rgba(80,56,120,0.05);
}

.builder-form-content div.container-nested{
	/* nesting target inside container */
	padding:5px 0px 20px 5px;
	display:flex;
	flex:1 1 auto;
	flex-wrap:wrap;
	overflow:auto;
}
.builder-form-content div.container-nested.row{
	flex-direction:row;
}
.builder-form-content div.container-nested.column{
	flex-direction:column;
}
.builder-field.container{
	/* nestable container field */
	width:auto;
	margin:0px 5px 5px 0px;
	box-sizing:border-box;
	border:1px solid var(--color-border);
	flex:0 1 auto;
	
	/* to overwrite bad size inputs */
	min-width:200px !important;
}

/* fields */
.builder-field{
	flex:1 1 auto;
	min-height:24px;
	margin:0px 5px 5px 0px;
	background-color:var(--color-bg);
	display:flex;
	flex-direction:column;
	border:1px solid var(--color-border);
	border-radius:3px;
}
.builder-field.container:hover{
	border-top-width:2px !important;
	border-color:var(--color-accent1) !important;
}
.builder-field.isTemplate{
	border:none;
	margin:0px;
}
.builder-field .captionInputs{
	display:flex;
	flex-direction:row;
	margin:0px 2px;
}
.builder-field .captionInputs input{
	min-width:50px;
	height:22px;
	line-height:22px;
	margin:3px;
	padding:5px;
	flex:1 1 auto;
	border:none;
	background-color:var(--color-bg);
	border-radius:0px;
}
.builder-field .columnsTarget{
	line-height:30px;
	padding:5px;
	background-color:rgba(0,0,0,0.03);
	border-bottom:1px dotted var(--color-border);
}
.builder-field .columnsTemplates{
	flex:0 0 auto;
	display:flex;
	flex-flow:column nowrap;
}

/* options */
.builder-field-options{
	max-width:500px;
	padding:8px 12px;
}
.builder-field-options .chart-option{
	width:100%;
	min-width:300px;
	max-width:unset;
	min-height:300px;
}
.builder-field-options .chart-option.error{
	border:2px solid var(--color-error);
}
.builder-field-options .chart-option-serie .line{
	display:flex;
	flex-flow:row wrap;
}
.builder-field-options .chart-option-serie .line input,
.builder-field-options .chart-option-serie .line select{
	width:unset;
	max-width:unset;
	margin:0px 6px 3px 0px;
}
.builder-field-options .collections-line td{
	padding-bottom:6px;
	border-bottom:1px dotted var(--color-border);
}


/* form functions */
.builder-form-functions{
	min-height:360px;
}
.builder-form-functions table td{
	padding:2px 8px;
}
.builder-form-function{}


/* form states */
.builder-form-states{
	max-height:360px;
	flex:1 1 auto;
}
.builder-form-states.fullscreen{
	max-height:none;
	overflow:auto;
}
.builder-form-states input,
.builder-form-states select{
	width:auto;
	min-width:unset;
	margin-right:6px;
}
.builder-form-state{
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-start;
	margin:0px 9px;
}
.builder-form-state.show-details{
	margin:0px 0px 3px 0px;
	padding:9px;
	border:1px solid #444;
	border-radius:5px;
}
.builder-form-state .description{
	width:400px;
	margin-right:6px;
}
.builder-form-state .details{
	display:flex;
	flex-flow:row nowrap;
	margin:0px 0px 8px 0px;
}
.builder-form-state span.title{
	margin:8px 0px 4px 0px;
}
.builder-form-state-condition,
.builder-form-state-effect{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin:0px 0px 4px 0px;
	padding:0px 0px 0px 8px;
}
.builder-form-state-condition>*,
.builder-form-state-effect>*{
	margin-right:8px !important;
}