/* global variables */
:root{
	/**/
	/* z-indexes */
	--z-index-block-full-page:200;     /* input block, full page, for sub window/messages */
	--z-index-dialog-wrap:100;         /* dialog wrap */
	--z-index-header-entry:60;
	--z-index-header:50;               /* header, main menu, top of the page */
	--z-index-form-pop-up:40;
	
	/* form dropdowns */
	--z-index-dropdown:20;
	--z-index-input-date-month:19;
	
	/* builder / admin */
	--z-index-builder-break-out:11;
	--z-index-admin-table-sticky-top:11;
	
	/* list header */
	--z-index-kanban-header-top-left:11;
	--z-index-kanban-header:10;
	--z-index-list-header:10;
	
	/* calendar elements */
	--z-index-gantt-hover:5;
	--z-index-calendar-month-header:5;
	--z-index-calendar-month-day-event-text-hover:4;
	--z-index-calendar-month-day-event-text:2;
	--z-index-calendar-month-day-event-ending-beam:3;
	--z-index-calendar-month-caption:3;
	--z-index-calendar-month-line:2;
	--z-index-calendar-days-full-days:3;
	--z-index-calendar-days-full-day:2;
	
	/* input field elements */
	--z-index-field-file-header:3;
	--z-index-field-file-list:2;
	--z-index-field-toggle-bool-first:3;
	--z-index-field-toggle-bool-last:2;
	--z-index-field-toggle-first:2;
	--z-index-field-toggle-last:3;
	--z-index-builder-hover-input:2;
	
	/* tab elements */
	--z-index-tab-active:2;
	
	/* home */
	--z-index-home-entry:3;
	--z-index-home-watermark:2;
	
	/* main content */
	--z-index-form:2;
	--z-index-menu:1;
	--z-index-content:1;
	
	/**/
	/* spacing */
	--spacing:16px;
	--spacing-child:0px var(--spacing) var(--spacing) 0px;
	--spacing-parent:var(--spacing) 0px 0px var(--spacing);
	
	/**/
	/* heights */
	--row-height:42px;
	--app-header-height:70px;
	
	/**/
	/* images */
	--image-list-cards:     url('../images/texture_paper01.webp');
	--image-filter:         invert(1) contrast(var(--image-filter-contrast)) brightness(10%);
	--image-filter-alt:     invert(1) contrast(var(--image-filter-contrast)) brightness(60%);
	--image-filter-bg:      invert(1) contrast(var(--image-filter-contrast)) brightness(90%);
	--image-filter-bright:  invert(1) contrast(var(--image-filter-contrast)) brightness(90%);
	--image-filter-dark:    invert(1) contrast(var(--image-filter-contrast)) brightness(10%);
	--image-filter-contrast:100%;
	--image-filter-error:   invert(13%) sepia(92%) saturate(4089%) hue-rotate(359deg) brightness(97%) contrast(88%);
	--image-filter-success: invert(36%) sepia(95%) saturate(788%) hue-rotate(76deg) brightness(98%) contrast(93%);
	
	/**/
	/* colors */
	--color-bg:            #f7f7f7;
	--color-bg-dark:       #101010;
	--color-bright:        #f5f5f5;
	--color-border:        #9b9b9b;
	--color-border-bright: #efefef;
	--color-border-dark:   #2f2f2f;
	--color-font:          #101010;
	--color-font-bright:   #ffffff;
	--color-font-dark:     #101010;
	--color-font-disabled: #797979;
	--color-input:         #ffffff;
	--color-input-dark:    #444444;
	--color-input-disabled:#efefef;
	--color-shade:         #333333;
	--color-shade-bright:  #dddddd;
	--color-shade-input:   #757575;
	--color-shade-input-sel:hsl(311,57%,20%);
	--color-hover-underlay:rgba(0,0,0,0.35);
	
	--color-accent1:       hsl(311,57%,40%);
	--color-accent2:       hsl(127,86%,96%); /* calendar/gantt weekend */
	--color-accent3:       hsl(199,11%,96%); /* menu/list/calendar entry hover */
	--color-accent3-alt:   hsl(199,11%,93%); /* menu/list/calendar entry active */
	--color-accent4:       hsl(339, 4%,61%); /* gantt entry */
	--color-error:         hsl(0,  84%,61%);
	--color-success:       hsl(113,84%,44%);
	--color-action:        hsl(196,27%,39%);
	--color-action-bright: hsl(196,22%,72%);
	--color-action-disable:hsl(0,   0%,77%);
	--color-cancel:        hsl(0,  57%,32%);
	
	--color-form-builder-actions:     hsl(196deg 45% 86%);
	--color-form-builder-actions-bg:  hsl(200deg 30% 94%);
	--color-form-builder-columns:     hsl(226deg 25% 77%);
	--color-form-builder-column-batch:hsl(199deg 28% 79%);
	--color-form-builder-container:   hsl(99deg 47% 83%);
	--color-form-builder-selected:    hsl(59deg 100% 50%);
	--color-form-builder-tabs:        hsl(135deg 45% 78%);
	--color-form-builder-tabs-active: hsl(135deg 54% 87%);
}

html,body{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}
body{
	font-family:'Roboto','Arial','Helvetica',sans-serif;
	font-size:11pt;
	color:var(--color-font);
	
	/* disable pull-down-to-refresh on mobile */
	overscroll-behavior-y:contain;
}
a {
	color:var(--color-accent1);
}
h1{
	font-weight:normal;
	margin:0px 0px 16px 0px;
	font-size:140%;
}
h2{
	font-weight:normal;
	margin:0px 0px 12px 0px;
	font-size:125%;
}
h3{
	font-weight:normal;
	margin:0px 0px 8px 0px;
	font-size:115%;
}

/* generics */
.clickable{
	cursor:pointer;
	-moz-user-select:-moz-none;
	-webkit-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.hidden{
	display:none;
	visibility:hidden;
}
.visible{
	display:block !important;
	visibility:visible !important;
}
.fullWidth{
	width:100%;
}
.column{
	display:flex;
	flex-direction:column;
}
.column.centered{
	align-items:center;
}
.column.gap{
	gap:10px;
}
.column.grow{
	flex:1 1 auto;
}
.column.space-between{
	justify-content:space-between;
}
.column.wrap{
	flex-wrap:wrap;
}
.row{
	display:flex;
	flex-direction:row;
}
.row.centered{
	align-items:center;
}
.row.gap{
	gap:calc(var(--spacing) / 2.5);
}
.row.grow{
	flex:1 1 auto;
}
.row.space-between{
	justify-content:space-between;
}
.row.wrap{
	flex-wrap:wrap;
}
.shade{
	box-shadow:1px 1px 4px var(--color-shade);
}
.noWrap{
	white-space:nowrap;
}
.noHighlight{
	user-select:none;
}
@media print {
	.noPrint{
		display:none !important;
	}
}

/* application */
#app-mount{
	height:100%;
}
#app{
	height:100%;
	display:flex;
	flex-flow:column nowrap;
	background-color:var(--color-bg);
}
#app.is-not-ready{
	height:auto;
	min-height:100%;
	background-image:url('../images/login_bg.webp');
	background-repeat:no-repeat;
	background-size:cover;
	justify-content:center;
}
.app-content{
	width:100%;
	flex:1 1 auto;
	overflow:auto;
	padding:0px;
	display:flex;
	flex-flow:row nowrap;
	align-self:center;
	box-sizing:border-box;
}
.app-content.wrap{
	flex-wrap:wrap;
}


/* sub windows in main app */
.app-sub-window{
	width:100%;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	background:var(--color-hover-underlay);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	z-index:var(--z-index-dialog-wrap);
}
.app-sub-window.at-top{
	justify-content:flex-start;
}
.app-sub-window.at-bottom{
	justify-content:flex-end;
}
.app-sub-window.at-right{
	align-items:flex-end;
}
.app-sub-window.at-left{
	align-items:flex-start;
}
.app-sub-window.at-top.with-margin{
	top:var(--spacing);
}
.app-sub-window.no-scroll{
	overflow:hidden;
}
.app-sub-window.under-header{
	padding-top:var(--app-header-height);
}

/* input block overlay */
.input-block-overlay-bg{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	visibility:hidden;
	opacity:0;
	z-index:var(--z-index-block-full-page);
	background-color:#000;
	transition:opacity 0.2s, visibility 0.2s;
}
.input-block-overlay-bg.show{
	visibility:visible;
	opacity:0.35;
	transition:opacity 2s 0.3s;
}
.input-block-overlay{
	width:320px;
	height:200px;
	margin:-100px 0px 0px -160px;
	left:50%;
	top:50%;
	position:absolute;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
}
.input-block-overlay img.busy{
	width:64px;
	margin:0px 0px 20px 0px;
}
.input-block-overlay .cancel-action{
	visibility:hidden;
	opacity:0;
}
.input-block-overlay-bg.show .cancel-action{
	visibility:visible;
	opacity:1;
	transition:opacity 1s 4s;
}

/* generic boxes */
.contentBox{
	max-width:var(--content-box-max-width);
	margin:var(--spacing-child);
	display:flex;
	flex-direction:column;
	box-sizing:border-box;
	box-shadow:1px 1px 8px var(--color-shade);
	color:var(--color-font);
	background-color:var(--color-bg);
	z-index:var(--z-index-content);
	--content-box-max-width:unset; /* overwritable by compact mode */
}
.contentBox:not(.popUp){
	margin:0px;
	border:none;
	border-right:1px solid var(--color-border);
	border-radius:0px;
	box-shadow:none;
	--content-box-max-width:unset;
}
.contentBox:not(.popUp):last-child{
	border-right:none;
}
.contentBox:not(.popUp) .top{
	border-radius:0px;
}
.contentBox.grow{
	flex:1 1 auto;
}
.contentBox.start{
	align-self:flex-start;
}
.contentBox.limited900{
	--content-box-max-width:900px;
}
.contentBox.limited1200{
	--content-box-max-width:1200px;
}
.contentBox.limited1500{
	--content-box-max-width:1500px;
}
.contentBox.padding{
	padding:var(--spacing);
}
.contentBox.scroll{
	overflow:auto;
}
.contentBox.relative{
	position:relative;
}
.contentBox .top{
	padding:0px var(--spacing);
	line-height:30px;
	background-color:var(--color-bg);
	flex:0 0 auto;
	gap:12px;
	padding:12px 10px;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-content:center;
}
.contentBox .top.lower{
	border-bottom:1px solid var(--color-border);
}
.contentBox .top.lower .area>input,
.contentBox .top.lower .area>select{
	width:auto;
	min-width:unset;
}
.contentBox .top.nowrap{
	flex-wrap:nowrap;
}
.contentBox .top h1{
	margin:0px;
	font-size:135%;
	font-weight:normal;
}
.contentBox .top .separator{
	width:10px;
	height:auto;
}
.contentBox .top .icon {
	height:22px;
    filter:var(--image-filter);
}
.contentBox .top .icon.bg {
    filter:var(--image-filter-bg);
}
.contentBox .top .selector{
	height:30px;
	font-size:inherit;
	padding:0px 5px;
	box-sizing:border-box;
	border-radius:4px;
	color:var(--color-font);
	background-color:var(--color-input);
}
.contentBox .top .selector::placeholder{
	opacity:1;
	color:var(--color-font-disabled);
}
.contentBox .top .selector option{
	padding:0px 5px;
}
.contentBox .top .area{
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	gap:calc(var(--spacing) / 2.5);
}
.contentBox .top .area.nowrap{
	flex-wrap:nowrap;
}
.contentBox .content{
	padding:var(--spacing);
	overflow:auto;
}
.contentBox .content.grow{
	flex:1 1 auto;
}
.contentBox .content.no-padding{
	padding:0px;
}
.contentBox .content.min-height{
	min-height:300px;
}

.contentBox .content .contentPart{
	flex:1 1 500px;
	max-width:550px;
	margin:calc(var(--spacing) / 2.5);
	padding:12px;
	display:flex;
	flex-flow:column nowrap;
	box-shadow:1px 1px 3px var(--color-shade);
	border-radius:6px;
	border-color:var(--color-border-bright);
	background-color:var(--color-bright);
	overflow:auto;
}
.contentBox .content .contentPart.short{
	flex:1 1 300px;
	max-width:450px;
}
.contentBox .content .contentPart.long{
	flex:1 1 800px;
	max-width:900px;
}
.contentBox .content .contentPart.full{
	flex:1 1 auto;
	max-width:unset;
}
.contentBox .content .contentPart.fit{
	flex:1 1 auto;
	max-width:fit-content;
}
.contentBox .content .contentPart.no-padding{
	padding:0px;
}
.contentBox .content .contentPart.relative{
	position:relative;
}
.contentBox .content .contentPartHeader{
	margin:0px 0px 12px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.contentBox .content .contentPartHeader:last-child{
	margin:0px;
}
.contentBox .content .contentPartHeader img{
	height:22px;
	margin-right:9px;
	filter:var(--image-filter);
}
.contentBox .content .contentPartHeader h1{
	margin:0px;
}

.content-row{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}
.content-row span{
	margin:0px 12px 0px 0px;
}

/* generic styles */
table{
	width:fit-content; /* chrome fix, otherwise table will be 100% width */
	border-spacing:unset;
}
table th{
	font-weight:normal;
	text-align:left;
	padding:2px 4px;
}
table td{
	padding:2px 4px;
}
table th.no-padding,
table td.no-padding{
	padding:0px !important;
}
table th.minimum,
table td.minimum{
	width:1px !important;
	white-space:nowrap !important;
}
table th.maximum,
table td.maximum{
	width:100% !important;
	white-space:nowrap !important;
}

/* default ibputs */
.default-inputs input,
.default-inputs select,
.default-inputs textarea,
.default-inputs .input-custom{
	width:100%;
	height:30px;
	line-height:30px;
	margin:0px;
	padding:0px 8px;
	font-family:inherit;
	font-size:inherit;
	color:var(--color-font);
	background-color:var(--color-input);
	border:none;
	border-color:var(--color-border);
	border-radius:4px;
	box-shadow:1px 1px 3px var(--color-shade);
	box-sizing:border-box;
	flex:1 1 auto;
}
.default-inputs input[type=range]{
	background-color:transparent;
	box-shadow:none;
}
.default-inputs textarea{
	height:120px;
	padding-top:6px;
	line-height:22px;
}
.default-inputs input,
.default-inputs select,
.default-inputs textarea,
.default-inputs .input-custom{
	min-width:150px;
	max-width:300px;
}
.default-inputs input.short,
.default-inputs select.short,
.default-inputs textarea.short,
.default-inputs .input-custom.short{
	min-width:50px;
	max-width:100px;
}
.default-inputs input.long,
.default-inputs select.long,
.default-inputs textarea.long,
.default-inputs .input-custom.long{
	min-width:300px;
	max-width:600px;
}
.default-inputs input.dynamic,
.default-inputs select.dynamic,
.default-inputs textarea.dynamic,
.default-inputs .input-custom.dynamic{
	min-width:50px;
	max-width:unset;
}
.default-inputs input:disabled,
.default-inputs select:disabled,
.default-inputs textarea:disabled,
.default-inputs .input-custom.disabled{
	color:var(--color-font-disabled);
	background-color:var(--color-input-disabled);
}
.default-inputs input:focus,
.default-inputs select:focus,
.default-inputs textarea:focus,
.default-inputs .input-custom:focus-within{
	box-shadow:1px 1px 8px var(--color-shade);
	outline:2px solid var(--color-accent1);
	transition:box-shadow 0.3s, outline 0.2s;
}
.default-inputs input[type=range]:focus{
	box-shadow:none;
	transition:none;
}
.default-inputs option{
	padding:0px;
	background-color:var(--color-bg);
}


/* default navigation menu */
.navigation{
	flex:0 0 320px;
	display:flex;
	flex-flow:column nowrap;
	color:var(--color-font-dark);
	border-right:1px solid var(--color-border);
	box-sizing:border-box;
	overflow:auto;
}
.navigation.isDark{
	color:var(--color-font-bright);
}
.navigation-header{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	padding:12px;
}
.navigation-header img.icon{
	width:22px;
	height:22px;
	filter:var(--image-filter-dark);
}
.navigation.isDark .navigation-header img.icon{
	filter:var(--image-filter-bright);
}
.navigation-header span{
	font-weight:bold;
	font-size:130%;
}
.navigation .entry{
	padding:8px 8px 8px 12px;
	margin:0px;
	display:flex;
	color:inherit;
	flex-flow:row nowrap;
	align-items:center;
	text-decoration:none;
	border-right:5px solid transparent;
	box-sizing:border-box;
	outline:none;
}
.navigation .entry.isTitle{
	flex:1 1 auto;
}
.navigation .entry.inactive{
	color:var(--color-font-disabled);
}
.navigation .entry.separator{
	margin:16px 0px 0px;
	font-weight:bold;
	margin-bottom:-1px;
	border-bottom:1px solid var(--color-border);
}
.navigation .entry.center{
	justify-content:center;
}
.navigation .entry img{
	height:20px;
	width:auto;
	margin-right:9px;
	filter:var(--image-filter-dark);
}
.navigation.isDark .entry img{
	filter:var(--image-filter-bright);
}
.navigation .entry.inactive img{
	filter:var(--image-filter-alt);
}
.navigation .entry.router-link-active:not(.isTitle){
	border-right-color:var(--color-border-dark);
	background-color:rgba(0,0,0,0.06);
}
.navigation.isDark .entry.router-link-active:not(.isTitle){
	border-right-color:var(--color-border-bright);
	background-color:rgba(0,0,0,0.16);
}
.navigation .entry:not(.isTitle):focus,
.navigation .entry:not(.isTitle):hover{
	margin-bottom:-2px;
	border-bottom:2px solid var(--color-border-dark);
	padding-right:calc(8px - 3px);
	padding-left:calc(12px + 3px);
	transition:padding-left 0.2s, padding-right 0.2s;
	background-color:rgba(0,0,0,0.08);
}
.navigation.isDark .entry:not(.isTitle):focus,
.navigation.isDark .entry:not(.isTitle):hover{
	border-bottom-color:var(--color-border-bright);
	background-color:rgba(0,0,0,0.22);
}
.navigation.isDark input,
.navigation.isDark select{
	color:inherit;
	background-color:var(--color-input-dark);
}
.navigation.isDark option{
	background-color:var(--color-input-dark);
}

/* generic record table */
.generic-table-vertical{
	border-collapse:separate;
	border-spacing:0px 6px;
}
.generic-table-vertical>tr>td:not(.grouping){
	max-width:420px;
	padding:10px 15px;
	vertical-align:top;
	background-color:var(--color-bright);
	border:1px solid var(--color-border-bright);
	box-shadow:1px 1px 3px var(--color-shade);
}
.generic-table-vertical.tight>tr>td{
	padding:4px 6px 4px 15px;
}
.generic-table-vertical>tr>td:first-child{
	font-size:110%;
	line-height:150%;
	border-radius:10px 0px 0px 10px;
}
.generic-table-vertical>tr>td:last-child{
	font-size:110%;
	line-height:150%;
	border-radius:0px 10px 10px 0px;
}
.generic-table-vertical.large>tr>td{
	max-width:720px;
}

/* generic entry lists */
.generic-entry-list{
	display:flex;
	flex-flow:column wrap;
	max-height:100%;
	align-content:flex-start;
}
.generic-entry-list.height-small{
	max-height:300px;
}
.generic-entry-list.height-large{
	max-height:700px;
}
.generic-entry-list .entry{
	width:380px;
	height:46px;
	padding:0px 12px 2px;
	margin:3px 8px 3px 0px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	font-size:100%;
	color:inherit;
	border-radius:6px;
	border-bottom:3px solid var(--color-border);
	text-decoration:none;
	background-color:var(--color-input);
	box-shadow:1px 1px 3px var(--color-shade);
	box-sizing:border-box;
	transition:background-color 0.2s, border-bottom 0.2s, box-shadow 0.2s;
}
.generic-entry-list.wide .entry{
	width:500px;
}
.generic-entry-list .entry:hover{
	padding:0px 12px 0px;
	border-bottom:3px solid var(--color-accent1);
	box-shadow:1px 1px 5px var(--color-shade);
}
.generic-entry-list .entry:focus{
	border-bottom:2px solid var(--color-accent1);
	box-shadow:1px 1px 7px var(--color-shade);
}
.generic-entry-list .entry img.icon{
	width:18px;
	height:18px;
	filter:var(--image-filter);
}
.generic-entry-list .entry.off img.icon{
	filter:var(--image-filter-alt);
}
.generic-entry-list .lines{
	display:flex;
	flex-flow:column nowrap;
	gap:5px;
}
.generic-entry-list .subtitle{
	font-size:80%;
	color:var(--color-font-disabled);
}


/* feedback */
.feedback{
	width:95%;
	max-height:90%;
	max-width:500px;
	margin:5% 0px;
}
.feedback .content{
	display:flex;
	flex-flow:column nowrap;
	text-align:center;
}
.feedback select,
.feedback textarea{
	width:auto;
	max-width:unset;
	margin:3px 6px 9px 6px;
	box-sizing:border-box;
	font-size:105%;
}
.feedback select{
	padding:4px 6px;
}
.feedback textarea{
	height:220px;
	padding:8px 10px;
	font-family:inherit;
	flex:1 1 auto;
}
.feedback .submit-choice{
	display:flex;
	flex-flow:column nowrap;
	margin:12px 0px 24px;
}
.feedback .submit-choice span{
	margin:0px 0px 9px;
	line-height:150%;
}
.feedback .submit-text{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	margin:0px 0px 24px;
}
.feedback .submit-text.error{
	color:var(--color-error);
}
.feedback .submit-box{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	margin:0px 0px 24px 0px;
}
.feedback .submit-box img{
	height:48px;
	margin:8px;
	cursor:pointer;
	border-radius:50px;
	box-sizing:border-box;
	box-shadow:1px 1px 4px var(--color-shade);
}
.feedback .submit-box img:focus,
.feedback .submit-box img:hover{
	height:56px;
	margin:4px
}
.feedback .submit-box img.active{
	height:60px;
	margin:2px;
	border:2px solid var(--color-accent3-alt);
}
.feedback .whatIsSent{
	margin:6px 0px;
	padding:6px 9px 9px;
	text-align:left;
	border:2px solid #aaa;
	border-radius:3px;
	color:var(--color-font);
	background-color:var(--color-bg);
}


/* fullscreen collection dialog */
.fullscreen-collection-input{
	width:100%;
	max-height:70vh;
	padding:20px 0px;
	display:flex;
	flex-flow:column nowrap;
	position:relative;
	gap:20px;
	background-color:var(--color-bg);
	border-bottom:1px solid var(--color-border);
	overflow:auto;
	animation:0.2s slide-up;
}
.fullscreen-collection-input .actions{
	padding:0px 20px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
}
.fullscreen-collection-input .entry{
	margin:0px 20px;
	padding:3px 0px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	gap:6px;
	font-size:120%;
	color:var(--color-font);
	border-bottom:1px dotted var(--color-border);
}
.fullscreen-collection-input .entry img{
	width:30px;
	height:30px;
	filter:var(--image-filter);
}
.fullscreen-collection-input .entry img:last-child{
	justify-self:flex-end;
}


/* module hover menu */
.module-hover-menu{
	height:100vh;
	padding:calc(var(--row-height) + 20px) 40px 20px 10px;
	position:relative;
	display:flex;
	flex-flow:column wrap;
	border-right:1px solid var(--color-border-dark);
	animation:0.2s fade-in;
	box-shadow:0px 2px 5px var(--color-shade);
	overflow:auto;
}
.module-hover-menu-header{
	flex:0 0 auto;
	height:var(--row-height);
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	margin:0px 10px;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-end;
	color:var(--color-font-dark);
	font-size:130%;
}
.module-hover-menu-header img{
	width:22px;
	height:22px;
	filter:var(--image-filter-dark);
}
.module-hover-menu-header span{
	margin-left:12px;
	line-height:28px;
}
.module-hover-menu-header img.clickable:hover{
	margin-bottom:5px;
	transition:margin-bottom 0.2s;
}
.module-hover-menu-entry{
	display:flex;
	flex-flow:row nowrap;
	gap:8px;
}
.module-hover-menu-entry.parent{
	margin-bottom:20px;
}
.module-hover-menu-entry-color{
	width:8px;
	border-radius:3px 1px 1px 3px;
}
.module-hover-menu-entry-content a{
	margin:5px 20px 5px 0px;
	padding:0px 6px 0px 0px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:8px;
	color:var(--color-font-dark);
	text-decoration:none;
}
.module-hover-menu-entry-content a:focus,
.module-hover-menu-entry-content a:hover{
	padding:0px 0px 0px 6px;
	transition:padding 0.2s;
}
.module-hover-menu-entry-content a.parent{
	font-size:110%;
}
.module-hover-menu-entry-content a>.color{
	width:12px;
	height:26px;
}
.module-hover-menu-entry-content a>img{
	height:22px;
	filter:var(--image-filter-dark);
}
.module-hover-menu-entry-content a.parent>img{
	height:26px;
}
.module-hover-menu-entry-children{
	margin-left:4px;
	display:flex;
	flex-flow:column nowrap;
}
.module-hover-menu.dark .module-hover-menu-header,
.module-hover-menu.dark .module-hover-menu-entry-content a{
	color:var(--color-font-bright);
}
.module-hover-menu.dark .module-hover-menu-header img,
.module-hover-menu.dark .module-hover-menu-entry-content a>img{
	filter:var(--image-filter-bright);
}


/* generic dialog */
.dialog{
	width:95%;
	max-width:500px;
	max-height:95%;
}
.dialog .dialog-text{
	padding:12px;
	overflow-y:auto;
}
.dialog .dialog-text.richtext{
	height:600px;
	padding:0px;
	display:flex;
}
.dialog textarea.dialog-text{
	width:100%;
	max-width:unset;
	height:300px;
	padding:5px 1%;
	font-family:inherit;
	border:none;
	color:var(--color-font);
	background-color:var(--color-bg);
}
.dialog .dialog-actions{
	margin:6px 12px 12px 12px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}


/* HTML documentation */
.html-docs{
	text-align:justify;
	font-size:110%;
	line-height:150%;
	padding:0px 16px !important;
}
.html-docs h1{
	margin:30px 0px 0px 0px;
}
.html-docs h2{
	margin:20px 0px 0px 0px;
}
.html-docs h3{
	margin:14px 0px 0px 0px;
}
.html-docs img{
	width:100%;
	margin:5px 0px;
	box-shadow:1px 1px 3px var(--color-shade);
}
.html-docs li img{
	margin:10px 0px;
}
.html-docs p,
.html-docs img{
	max-width:1000px;
}
.html-docs ol,
.html-docs ul{
	max-width:950px;
}


/* transitions*/

/* default fade (in+out) */
.fade-enter-active,
.fade-leave-active{
	transition:opacity 0.2s;
}
.fade-enter-active.slow-in{
	transition:opacity 3s;
}
.fade-leave-active.slow-out{
	transition:opacity 3s;
}
.fade-enter-from,
.fade-leave-to{
	opacity:0;
}

/* only fade in */
.fade_in-enter-active{
	transition:opacity 0.2s;
}
.fade_in-enter-from{
	opacity:0;
}

/* only fade out */
.fade_out-leave-active{
	transition:opacity 0.4s;
}
.fade_out-leave-to{
	opacity:0;
}

/* keyframe animations */
@keyframes slide-up{
	from{ top:-60px; }
	to  { top:0px; }
}
@keyframes slide-right{
	from{ left:-60px; }
	to  { left:0px; }
}
@keyframes loading-inf{
    from{ left: -50%; }
    to  { left: 100%; }
}
@keyframes fade-in{
	from{ opacity:0; }
	to  { opacity:1; }
}


/* user overwrites */
.user-bordersAll .default-inputs input,
.user-bordersAll .default-inputs select,
.user-bordersAll .default-inputs textarea,
.user-bordersAll .default-inputs .input-custom,
.user-bordersAll .contentBox .contentPart{
	border-width:1px;
	border-style:solid;
}
.user-bordersSquared .contentBox .top .selector,
.user-bordersSquared .contentBox .content .contentPart,
.user-bordersSquared .default-inputs input,
.user-bordersSquared .default-inputs select,
.user-bordersSquared .default-inputs textarea,
.user-bordersSquared .default-inputs .input-custom,
.user-bordersSquared .loading-state{
	border-radius:0px;
}
.user-spacing.spacing-value1{
	--spacing:10px;
}
.user-spacing.spacing-value2{
	--spacing:13px;
}
.user-spacing.spacing-value3{
	--spacing:16px;
}
.user-spacing.spacing-value4{
	--spacing:19px;
}
.user-spacing.spacing-value5{
	--spacing:22px;
}
.user-spacing{
	/* needs to overwrite again, otherwise not recognized */
	--spacing-child:0px var(--spacing) var(--spacing) 0px;
	--spacing-parent:var(--spacing) 0px 0px var(--spacing);
}

.user-font.calibri        { font-family:Calibri,Arial,sans-serif; }
.user-font.comic_sans_ms  { font-family:'Comic Sans MS','Comic Sans',cursive; }
.user-font.consolas       { font-family:Consolas,Courier,monospace,cursive; }
.user-font.georgia        { font-family:Georgia,Times,serif; }
.user-font.helvetica      { font-family:Helvetica,Arial,sans-serif; }
.user-font.lucida_console { font-family:'Lucida Console',Courier,monospace; }
.user-font.segoe_script   { font-family:'Segoe Script',cursive; }
.user-font.segoe_ui       { font-family:'Segoe UI',SegoeUI,Arial,sans-serif; }
.user-font.times_new_roman{ font-family:'Times New Roman',Times,serif; }
.user-font.trebuchet_ms   { font-family:'Trebuchet MS',Arial,sans-serif; }
.user-font.verdana        { font-family:Verdana,Arial,sans-serif; }


.user-dark,
.user-dark *{
	/* color overwites */
	--color-bg:            #2d2d2d;
	--color-bright:        #323232;
	--color-border:        #111111;
	--color-border-bright: #494949;
	--color-font:          #f7f7f7;
	--color-input:         var(--color-input-dark);
	--color-input-disabled:#222222;
	--color-shade:         #000000;
	--color-shade-bright:  #222222;
	--color-shade-input:   #080808;
	--color-shade-input-sel:hsl(311,57%,20%);
	
	--color-accent1:       hsl(311,47%,70%);
	--color-accent2:       hsl(127,06%,25%);
	--color-accent3:       hsl(199,11%,35%);
	--color-accent3-alt:   hsl(199,11%,45%);
	--color-accent4:       hsl(339, 4%,61%);
	--color-action:        hsl(196,27%,30%);
	--color-action-bright: hsl(196,22%,60%);
	--color-action-disable:hsl(0,   0%,28%);
	--color-cancel:        hsl(0,  57%,32%);
	--color-error:         hsl(0,  64%,49%);
	--color-success:       hsl(113,54%,32%);
	
	--color-hover-underlay:           rgba(0,0,0,0.50);
	--color-form-builder-actions:     hsl(195,17%,29%,1.00);
	--color-form-builder-actions-bg:  hsl(195deg 3% 25%);
	--color-form-builder-columns:     hsl(176deg 9% 32%);
	--color-form-builder-column-batch:hsl(176deg 2% 32%);
	--color-form-builder-container:   hsl(125deg 17% 31%);
	--color-form-builder-selected:    hsl(59deg 72% 44%);
	--color-form-builder-tabs:        hsl(104deg 15% 32%);
	--color-form-builder-tabs-active: hsl(104deg 12% 39%);
	
	--image-filter:        invert(1) contrast(var(--image-filter-contrast)) brightness(90%);
	--image-filter-bg:     var(--image-filter);
	--image-filter-error:  invert(13%) sepia(92%) saturate(4889%) hue-rotate(359deg) brightness(97%) contrast(38%);
	--image-filter-success:invert(36%) sepia(75%) saturate(1288%) hue-rotate(76deg) brightness(92%) contrast(18%);
	--image-list-cards:    url('../images/texture_paper02.webp');
}
.user-dark *::-webkit-scrollbar {
	width:15px;
}
.user-dark *::-webkit-scrollbar-track {
	background-color:transparent;
}
.user-dark *::-webkit-scrollbar-thumb {
	background-color:var(--color-font-disabled);
	border:1px solid var(--color-border);
	border-radius:2px;
}

/* mobile overwrites */
.is-mobile{
	--app-header-height:50px;
}
.is-mobile .app-content{
	padding:0px !important;
	align-content:flex-start;
	align-items:stretch;
}
.is-mobile .contentBox{
	margin:0px;
}
.is-mobile .contentBox,
.is-mobile .contentBox .top{
	border-radius:0px !important;
}