/* global variables */
:root{
	/**/
	/* z-indexes */
	--z-index-block-full-page:200;     /* input block, full page, for sub window/messages */
	--z-index-dialog-wrap:100;         /* dialog wrap */
	--z-index-header-entry:60;
	--z-index-header:50;               /* header, main menu, top of the page */
	--z-index-inline-pop-up-form:40;
	
	/* form dropdowns */
	--z-index-dropdown:20;
	--z-index-input-date-month:19;
	
	/* builder */
	--z-index-builder-break-out:11;
	
	/* list header */
	--z-index-kanban-header-top-left:11;
	--z-index-kanban-header:10;
	--z-index-list-header:10;
	
	/* calendar elements */
	--z-index-gantt-hover:5;
	--z-index-calendar-month-day-event-text-hover:4;
	--z-index-calendar-month-day-event-text:2;
	--z-index-calendar-month-day-event-ending-beam:3;
	--z-index-calendar-month-line:2;
	--z-index-calendar-month-caption:3;
	--z-index-calendar-days-full-days:3;
	--z-index-calendar-days-full-day:2;
	
	/* input field elements */
	--z-index-field-file-header:3;
	--z-index-field-file-list:2;
	--z-index-field-toggle-bool-first:3;
	--z-index-field-toggle-bool-last:2;
	--z-index-field-toggle-first:2;
	--z-index-field-toggle-last:3;
	--z-index-builder-hover-input:2;
	
	/* tab elements */
	--z-index-tab-active:2;
	
	/* home */
	--z-index-home-entry:3;
	--z-index-home-watermark:2;
	
	/* main content */
	--z-index-form:2;
	--z-index-menu-items:2;
	--z-index-menu:1;
	--z-index-content:1;
	
	/**/
	/* spacing */
	--spacing:16px;
	--spacing-child:0px var(--spacing) var(--spacing) 0px;
	--spacing-parent:var(--spacing) 0px 0px var(--spacing);
	
	/**/
	/* heights */
	--row-height:42px;
	--app-header-height:70px;
	
	/**/
	/* colors */
	--color-header-border:hsl(0,0%,96%,1.00);
	--color-hover-underlay:rgba(0,0,0,0.35);
	--color-menu-border:hsl(0,0%,96%,1.00);
	--color-navigation-default:#444;
	
	--color-form-builder-actions:hsl(196deg 45% 86%);
	--color-form-builder-actions-bg:hsl(200deg 30% 94%);
	--color-form-builder-columns:hsl(226deg 25% 77%);
	--color-form-builder-column-batch:hsl(199deg 28% 79%);
	--color-form-builder-container:hsl(99deg 47% 83%);
	--color-form-builder-selected:hsl(59deg 100% 50%);
	--color-form-builder-tabs:hsl(135deg 45% 78%);
	--color-form-builder-tabs-active:hsl(135deg 54% 87%);
	
	/**/
	/* images */
	--image-filter-contrast:100%;
	--image-list-cards:     url('../images/texture_paper01.webp');
}

*{
	/* depth based lightness values in percent */
	--light-depth:     calc(2%   * var(--depth));
	--light-read:      calc(12%  + var(--light-depth));       /* stuff to read easily, fonts usually */
	--light-read-less: calc(25%  + (var(--light-depth)*2.5)); /* stuff to read less easily - fonts for readonly content etc. */
	--light-contrast:  calc(100% - (var(--light-depth)/3));   /* stuff to contrast with read content, backgrounds mostly */
	
	/* depth based colors */
	--color-bg:            hsl(315,10%,var(--light-contrast));
	--color-bg-font:       hsl(0,  0%, var(--light-contrast));
	--color-border:        hsl(0,  0%, calc(60% - (var(--light-depth) * 3) ));
	--color-border-bg:     hsl(0,  0%, var(--light-contrast));
	--color-font:          hsl(0,  0%, var(--light-read));
	--color-font-alt:      hsl(0,  0%, var(--light-read-less));
	--color-shade:         hsl(0,  0%, calc(25% - var(--light-depth)));
	--color-shade-bright:  hsl(0,  0%, calc(99% - var(--light-depth)));
	
	--color-accent1:       hsl(311,57%,calc(40% - var(--light-depth))); /* field captions */
	--color-accent2:       hsl(127,86%,calc(96% - var(--light-depth))); /* calendar/gantt weekend */
	--color-accent3:       hsl(199,11%,calc(96% - var(--light-depth))); /* menu/list/calendar entry hover */
	--color-accent3-alt:   hsl(199,11%,calc(93% - var(--light-depth))); /* menu/list/calendar entry active */
	--color-accent4:       hsl(339, 4%,calc(61% - var(--light-depth))); /* gantt entry */
	--color-error:         hsl(0,  84%,calc(61% - var(--light-depth)));
	--color-success:       hsl(113,84%,calc(44% - var(--light-depth)));
	--color-action:        hsl(196,27%,calc(47% - var(--light-depth)));
	--color-action-bright: hsl(196,22%,calc(72% - var(--light-depth)));
	--color-action-disable:hsl(0,   0%,calc(77% - var(--light-depth)));
	--color-cancel:        hsl(0,  57%,calc(40% - var(--light-depth)));
	--color-cancel-border: hsl(0,  57%,calc(71% - var(--light-depth)));
	
	/* depth based image filters */
	--image-filter:        invert(1) contrast(var(--image-filter-contrast)) brightness(var(--light-read));
	--image-filter-error:  invert(13%) sepia(92%) saturate(4089%) hue-rotate(359deg) brightness(97%) contrast(88%);
	--image-filter-success:invert(36%) sepia(95%) saturate(788%) hue-rotate(76deg) brightness(98%) contrast(93%);
	--image-filter-alt:    invert(1) contrast(var(--image-filter-contrast)) brightness(var(--light-read-less));
	--image-filter-bg:     invert(1) contrast(var(--image-filter-contrast)) brightness(var(--light-contrast));
}

/* depth association */
body                                         { --depth:6; }
.app-header                                  { --depth:0; }
.contentBox                                  { --depth:3; }
.contentBox .top                             { --depth:4; }
.contentBox .top .selector                   { --depth:0; }
.contentBox .contentPart                     { --depth:5; }
.default-inputs input,
.default-inputs select,
.default-inputs textarea,
.default-inputs .input-custom                { --depth:0; }
.default-inputs *:disabled                   { --depth:6; }
.generic-entry-list .entry                   { --depth:0; }
.generic-entry-list .entry:not(.off):hover   { --depth:3; }
.generic-entry-list .entry:not(.off):focus   { --depth:5; }
.generic-table-vertical td                   { --depth:5; }
.home .modules-title                         { --depth:0; }
.home .module                                { --depth:4; }
.home-wizard                                 { --depth:7; }
.home-wizard .tabBar .entry.active           { --depth:3; }
.home-wizard .tabBar .entry:hover            { --depth:1; }
.home-wizardAction                           { --depth:3; }
.login input                                 { --depth:0; }
.login select                                { --depth:0; }
.menu .items-bg                              { --depth:5; }
.menu .item .line:focus,
.menu .item .line:hover                      { --depth:7; }
.menu .item .line.active                     { --depth:9; }
.settings .backup-code                       { --depth:0; }
.field                                       { --depth:0; }
.field .caption                              { --depth:3; }
.field .disabled                             { --depth:6; }
.field .tabs-entries                         { --depth:6; }
.field .tabs-entry.active                    { --depth:2; }
.field .tabs-entry.active.showsCal           { --depth:4; }
.field .tabs-entry.active.showsChart         { --depth:4; }
.field .tabs-entry.active.showsData          { --depth:0; }
.field .tabs-entry.active.showsKanban        { --depth:4; }
.field .tabs-entry.active.showsList          { --depth:4; }
.field .tabs-entry.active.showsTabs          { --depth:6; }
.field .tabs-entry.active.readonly           { --depth:6; }
.field .tabs>.fields                         { --depth:2; }
.list .layoutTable th                        { --depth:0; }
.list .layoutTable .columBatchCaption.clickable:hover{ --depth:3; }
.list .layoutTable tbody tr                  { --depth:1; }
.list .layoutTable tbody tr:nth-child(odd)   { --depth:0; }
.list .layoutCards .card                     { --depth:7; }
.list .layoutCards .card.rowSelect:hover     { --depth:2; }
.list .layoutCards .card .actions            { --depth:7; }
.list .layoutCards .card .header             { --depth:7; }
.list-headers                                { --depth:3; }
.calendar-month .days                        { --depth:6; }
.calendar-month .day                         { --depth:0; }
.calendar-month .day.outside                 { --depth:3; }
.calendar-days .header                       { --depth:6; }
.calendar-days .labels                       { --depth:6; }
.calendar-days .day                          { --depth:0; }
.gantt-header                                { --depth:7; }
.gantt-header.lower                          { --depth:5; }
.gantt-group                                 { --depth:0; }
.gantt-group:nth-child(odd)                  { --depth:2; }
.gantt-line                                  { --depth:-2; }
.kanban-card                                 { --depth:0; }
.kanban-card:hover                           { --depth:3; }
.kanban-card .dragAnchor                     { --depth:6; }
.kanban-card:hover .dragAnchor               { --depth:9; }
.kanban-content table td                     { --depth:4; }
.kanban-content table .label                 { --depth:8; }
.button                                      { --depth:4; }
.button.background:focus                     { --depth:0; }
.button.background:hover                     { --depth:0; }
.button.inactive                             { --depth:6; }
.bool                                        { --depth:6; }
.bool:focus                                  { --depth:0; }
.bool:hover                                  { --depth:0; }
.input-dropdown                              { --depth:1; }
.input-dropdown .entry:focus                 { --depth:0; }
.input-dropdown .entry:hover                 { --depth:0; }
.input-files-header                          { --depth:2; }
.input-files-header input                    { --depth:0; }
.input-files .item                           { --depth:2; }
.input-files .item img.prev                  { --depth:5; }
.input-files-name input                      { --depth:0; }
.input-iframe                                { --depth:3; }
.input-iframe-actions                        { --depth:0; }
.input-iframe-actions.readonly               { --depth:6; }
.tabs .tab-entry:not(.active)                { --depth:1; }
.admin .logs .actions                        { --depth:7; }
.admin .table-default th                     { --depth:4; }
.admin .table-default td                     { --depth:1; }
.admin .table-default tr.grouping td         { --depth:4; }
.admin-cluster-node                          { --depth:2; }
.admin-cluster-node img                      { --depth:5; }
.admin-license .file                         { --depth:1; }
.admin-logins .role-select                   { --depth:3; }
.admin-logins .role-select th                { --depth:3; }
.admin-modules .message                      { --depth:7; }
.admin-roles .admin-role-title               { --depth:7; }
.admin-roles .admin-role-members             { --depth:1; }
.admin-repo .repo-module .part.left          { --depth:0; }
.admin-repo .repo-module .part.right         { --depth:6; }
.builder .filter .filter-side>.subQuery      { --depth:5; }
.builder .lookup                             { --depth:1; }
.builder-column-batches                      { --depth:1; }
.builder-icon-input .iconLine                { --depth:0; }
.builder-icon-input .iconLine.disabled       { --depth:5; }
.builder-form-state                          { --depth:5; }
.builder-form-state-effect                   { --depth:7; }
.builder-field                               { --depth:7; }
.builder-field .fields-nested                { --depth:1; }
.builder-field-button                        { --depth:7; }
.builder-function .entity                    { --depth:5; }
.builder-modules .item-wrap                  { --depth:5; }
.builder-menu .nested                        { --depth:6; }
.builder-articles-assign                     { --depth:2; }
.builder-articles-body-richtext              { --depth:0; }
.builder-function .placeholders              { --depth:2; }
.builder-start .builder-start-box            { --depth:6; }
.builder-start .builder-start-entity:hover   { --depth:1; }


html,body{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}
body{
	font-family:'Roboto','Arial','Helvetica',sans-serif;
	font-size:11pt;
	color:var(--color-font);
	
	/* disable pull-down-to-refresh on mobile */
	overscroll-behavior-y:contain;
}
a {
	color:var(--color-accent1);
}
h1{
	font-weight:normal;
	margin:0px 0px 16px 0px;
	font-size:140%;
}
h2{
	font-weight:normal;
	margin:0px 0px 12px 0px;
	font-size:125%;
}
h3{
	font-weight:normal;
	margin:0px 0px 8px 0px;
	font-size:115%;
}

/* generics */
.clickable{
	cursor:pointer;
	-moz-user-select:-moz-none;
	-webkit-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.hidden{
	display:none;
	visibility:hidden;
}
.visible{
	display:block !important;
	visibility:visible !important;
}
.fullWidth{
	width:100%;
}
.column{
	display:flex;
	flex-direction:column;
}
.column.centered{
	align-items:center;
}
.column.gap{
	gap:10px;
}
.column.grow{
	flex:1 1 auto;
}
.column.space-between{
	justify-content:space-between;
}
.column.wrap{
	flex-wrap:wrap;
}
.row{
	display:flex;
	flex-direction:row;
}
.row.centered{
	align-items:center;
}
.row.gap{
	gap:calc(var(--spacing) / 2.5);
}
.row.grow{
	flex:1 1 auto;
}
.row.space-between{
	justify-content:space-between;
}
.row.wrap{
	flex-wrap:wrap;
}
.shade{
	box-shadow:1px 1px 4px var(--color-shade);
}
.noWrap{
	white-space:nowrap;
}
.noHighlight{
	user-select:none;
}
@media print {
	.noPrint{
		display:none !important;
	}
}

/* application */
#app-mount{
	height:100%;
}
#app{
	height:100%;
	display:flex;
	flex-flow:column nowrap;
	background-color:var(--color-bg);
}
#app.is-not-ready{
	height:auto;
	min-height:100%;
	background-image:url('../images/login_bg.webp');
	background-repeat:no-repeat;
	background-size:cover;
	justify-content:center;
}
.app-content{
	width:100%;
	flex:1 1 auto;
	overflow:auto;
	padding:var(--spacing-parent);
	display:flex;
	flex-flow:row nowrap;
	align-self:center;
	box-sizing:border-box;
}
.app-content.wrap{
	flex-wrap:wrap;
}
.app-logo-bottom{
	position:absolute;
	bottom:var(--spacing);
	left:var(--spacing);
	max-width:100%; /* chrome fix */
	max-height:60px;
	margin:5px;
}

/* sub windows in main app */
.app-sub-window{
	width:100%;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	background:var(--color-hover-underlay);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	z-index:var(--z-index-dialog-wrap);
}
.app-sub-window.at-bottom{
	justify-content:flex-end;
}
.app-sub-window.at-top{
	justify-content:flex-start;
}
.app-sub-window.at-top.with-margin{
	top:var(--spacing);
}
.app-sub-window.no-scroll{
	overflow:hidden;
}
.app-sub-window.under-header{
	padding-top:var(--app-header-height);
}

/* input block overlay */
.input-block-overlay-bg{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	visibility:hidden;
	opacity:0;
	z-index:var(--z-index-block-full-page);
	background-color:#000;
	transition:opacity 0.2s, visibility 0.2s;
}
.input-block-overlay-bg.show{
	visibility:visible;
	opacity:0.35;
	transition:opacity 2s 0.3s;
}
.input-block-overlay{
	width:320px;
	height:200px;
	margin:-100px 0px 0px -160px;
	left:50%;
	top:50%;
	position:absolute;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
}
.input-block-overlay img.busy{
	width:64px;
	margin:0px 0px 20px 0px;
}
.input-block-overlay .cancel-action{
	visibility:hidden;
	opacity:0;
}
.input-block-overlay-bg.show .cancel-action{
	visibility:visible;
	opacity:1;
	transition:opacity 1s 4s;
}

/* generic boxes */
.contentBox{
	max-width:var(--content-box-max-width);
	margin:var(--spacing-child);
	display:flex;
	flex-direction:column;
	box-sizing:border-box;
	box-shadow:1px 1px 8px var(--color-shade);
	color:var(--color-font);
	background-color:var(--color-bg);
	z-index:var(--z-index-content);
	--content-box-max-width:unset; /* overwritable by compact mode */
}
.contentBox.grow{
	flex:1 1 auto;
}
.contentBox.start{
	align-self:flex-start;
}
.contentBox.limited900{
	--content-box-max-width:900px;
}
.contentBox.limited1200{
	--content-box-max-width:1200px;
}
.contentBox.limited1500{
	--content-box-max-width:1500px;
}
.contentBox.padding{
	padding:var(--spacing);
}
.contentBox.scroll{
	overflow:auto;
}
.contentBox.relative{
	position:relative;
}
.contentBox .top{
	padding:0px var(--spacing);
	line-height:30px;
	background-color:var(--color-bg);
	flex:0 0 auto;
	gap:12px;
	padding:12px 10px;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-content:center;
}
.contentBox .top.lower{
	border-bottom:1px solid var(--color-border);
}
.contentBox .top.lower .area>input,
.contentBox .top.lower .area>select{
	width:auto;
	min-width:unset;
}
.contentBox .top.nowrap{
	flex-wrap:nowrap;
}
.contentBox .top h1{
	margin:0px;
	font-size:135%;
	font-weight:normal;
}
.contentBox .top .separator{
	width:10px;
	height:auto;
}
.contentBox .top .icon {
	height:22px;
    filter:var(--image-filter);
}
.contentBox .top .icon.bg {
    filter:var(--image-filter-bg);
}
.contentBox .top .selector{
	height:30px;
	font-size:inherit;
	padding:0px 5px;
	box-sizing:border-box;
	border-radius:4px;
	color:var(--color-font);
	background-color:var(--color-bg);
}
.contentBox .top .selector::placeholder{
	opacity:1;
	color:var(--color-font-alt);
}
.contentBox .top .selector option{
	padding:0px 5px;
}
.contentBox .top .area{
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	gap:calc(var(--spacing) / 2.5);
}
.contentBox .top .area.nowrap{
	flex-wrap:nowrap;
}
.contentBox .content{
	padding:var(--spacing);
	overflow:auto;
}
.contentBox .content.grow{
	flex:1 1 auto;
}
.contentBox .content.no-padding{
	padding:0px;
}
.contentBox .content.min-height{
	min-height:300px;
}

.contentBox .content .contentPart{
	flex:1 1 500px;
	max-width:550px;
	margin:calc(var(--spacing) / 2.5);
	padding:12px;
	display:flex;
	flex-flow:column nowrap;
	box-shadow:1px 1px 3px var(--color-shade);
	border-radius:6px;
	border-color:var(--color-border);
	background-color:var(--color-bg);
	overflow:auto;
}
.contentBox .content .contentPart.short{
	flex:1 1 300px;
	max-width:450px;
}
.contentBox .content .contentPart.long{
	flex:1 1 800px;
	max-width:900px;
}
.contentBox .content .contentPart.full{
	flex:1 1 auto;
	max-width:unset;
}
.contentBox .content .contentPart.fit{
	flex:1 1 auto;
	max-width:fit-content;
}
.contentBox .content .contentPart.no-padding{
	padding:0px;
}
.contentBox .content .contentPart.relative{
	position:relative;
}
.contentBox .content .contentPartHeader{
	margin:0px 0px 12px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.contentBox .content .contentPartHeader:last-child{
	margin:0px;
}
.contentBox .content .contentPartHeader img{
	height:22px;
	margin-right:9px;
	filter:var(--image-filter);
}
.contentBox .content .contentPartHeader h1{
	margin:0px;
}

.content-row{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}
.content-row span{
	margin:0px 12px 0px 0px;
}

/* generic styles */
table{
	width:fit-content; /* chrome fix, otherwise table will be 100% width */
	border-spacing:unset;
}
table th{
	font-weight:normal;
	text-align:left;
	padding:2px 4px;
}
table td{
	padding:2px 4px;
}
table th.no-padding,
table td.no-padding{
	padding:0px !important;
}
table th.minimum,
table td.minimum{
	width:1px !important;
	white-space:nowrap !important;
}
table th.maximum,
table td.maximum{
	width:100% !important;
	white-space:nowrap !important;
}

/* default ibputs */
.default-inputs input,
.default-inputs select,
.default-inputs textarea,
.default-inputs .input-custom{
	width:100%;
	height:30px;
	line-height:30px;
	margin:0px;
	padding:0px 8px;
	font-family:inherit;
	font-size:inherit;
	color:var(--color-font);
	background-color:var(--color-bg);
	border:none;
	border-color:var(--color-border);
	border-radius:3px 3px 0px 0px;
	box-shadow:inset 0 0 0 0 transparent,1px 1px 2px var(--color-shade);
	box-sizing:border-box;
	flex:1 1 auto;
}
.default-inputs input[type=range]{
	background-color:transparent;
	box-shadow:none;
}
.default-inputs textarea{
	height:120px;
	padding-top:6px;
	line-height:22px;
}
.default-inputs input,
.default-inputs select,
.default-inputs textarea,
.default-inputs .input-custom{
	min-width:150px;
	max-width:300px;
}
.default-inputs input.short,
.default-inputs select.short,
.default-inputs textarea.short,
.default-inputs .input-custom.short{
	min-width:50px;
	max-width:100px;
}
.default-inputs input.long,
.default-inputs select.long,
.default-inputs textarea.long,
.default-inputs .input-custom.long{
	min-width:300px;
	max-width:600px;
}
.default-inputs input.dynamic,
.default-inputs select.dynamic,
.default-inputs textarea.dynamic,
.default-inputs .input-custom.dynamic{
	min-width:50px;
	max-width:unset;
}
.default-inputs input:focus,
.default-inputs select:focus,
.default-inputs textarea:focus,
.default-inputs .input-custom:focus-within{
	box-shadow:inset 0 -2px 0 0 var(--color-accent1),1px 1px 4px var(--color-shade);
	transition:box-shadow 0.3s, background-color 0.3s;
	outline:none;
}
.default-inputs input[type=range]:focus{
	box-shadow:none;
	transition:none;
}
.default-inputs option{
	padding:0px;
	background-color:var(--color-bg);
}


/* default navigation menu */
.navigationWrap{
	flex:0 0 280px;
	display:flex;
	flex-flow:column nowrap;
	box-sizing:border-box;
}
.navigation{
	flex:0 1 auto;
	display:flex;
	overflow:auto;
}
.navigation.contentBox .content{
	flex:0 1 auto;
	display:flex;
	flex-flow:column nowrap;
	overflow:auto;
	background-color:var(--color-bg);
	color:var(--color-font);
}
.navigation .entry{
	padding:8px var(--spacing);
	margin:0px;
	display:flex;
	color:inherit;
	flex-flow:row nowrap;
	align-items:center;
	text-decoration:none;
	outline:none;
}
.navigation .entry.inactive{
	color:var(--color-font-alt);
}
.navigation .entry.separator{
	margin:16px 0px 0px;
	font-weight:bold;
	border-bottom:1px solid var(--color-border);
}
.navigation .entry.center{
	justify-content:center;
}
.navigation .entry img{
	height:20px;
	width:auto;
	margin-right:9px;
	filter:var(--image-filter);
}
.navigation .entry.inactive img{
	filter:var(--image-filter-alt);
}
.navigation .entry:focus,
.navigation .entry:hover{
	background-color:var(--color-accent3);
}
.navigation .entry.router-link-active{
	background-color:var(--color-accent3-alt);
}

/* generic record table */
.generic-table-vertical{
	border-collapse:separate;
	border-spacing:0px 6px;
}
.generic-table-vertical>tr>td:not(.grouping){
	max-width:420px;
	padding:10px 15px;
	vertical-align:top;
	background-color:var(--color-bg);
	box-shadow:1px 1px 2px var(--color-shade);
	border-bottom:1px solid var(--color-border);
}
.generic-table-vertical.tight>tr>td{
	padding:4px 6px 4px 15px;
}
.generic-table-vertical>tr>td:first-child{
	font-size:110%;
	line-height:150%;
	border-radius:10px 0px 0px 10px;
}
.generic-table-vertical>tr>td:last-child{
	font-size:110%;
	line-height:150%;
	border-radius:0px 10px 10px 0px;
}
.generic-table-vertical.large>tr>td{
	max-width:720px;
}

/* generic entry lists */
.generic-entry-list{
	display:flex;
	flex-flow:column wrap;
	max-height:100%;
	align-content:flex-start;
}
.generic-entry-list.height-small{
	max-height:300px;
}
.generic-entry-list.height-large{
	max-height:700px;
}
.generic-entry-list .entry{
	width:380px;
	height:46px;
	padding:0px 12px 2px;
	margin:3px 8px 3px 0px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	font-size:100%;
	color:inherit;
	border-radius:6px;
	border-bottom:3px solid var(--color-border);
	text-decoration:none;
	background-color:var(--color-bg);
	box-shadow:1px 1px 3px var(--color-shade);
	box-sizing:border-box;
	transition:background-color 0.2s, border-bottom 0.2s, box-shadow 0.2s;
}
.generic-entry-list.wide .entry{
	width:500px;
}
.generic-entry-list .entry:hover{
	padding:0px 12px 0px;
	border-bottom:3px solid var(--color-accent1);
	box-shadow:1px 1px 5px var(--color-shade);
}
.generic-entry-list .entry:focus{
	border-bottom:2px solid var(--color-accent1);
	box-shadow:1px 1px 7px var(--color-shade);
}
.generic-entry-list .entry img.icon{
	width:18px;
	height:18px;
	filter:var(--image-filter);
}
.generic-entry-list .entry.off img.icon{
	filter:var(--image-filter-alt);
}
.generic-entry-list .lines{
	display:flex;
	flex-flow:column nowrap;
	gap:5px;
}
.generic-entry-list .subtitle{
	font-size:80%;
	color:var(--color-font-alt);
}


/* feedback */
.feedback{
	width:95%;
	max-height:90%;
	max-width:500px;
	margin:5% 0px;
}
.feedback .content{
	display:flex;
	flex-flow:column nowrap;
	text-align:center;
}
.feedback select,
.feedback textarea{
	width:auto;
	max-width:unset;
	margin:3px 6px 9px 6px;
	box-sizing:border-box;
	font-size:105%;
}
.feedback select{
	padding:4px 6px;
}
.feedback textarea{
	height:220px;
	padding:8px 10px;
	font-family:inherit;
	flex:1 1 auto;
}
.feedback .submit-choice{
	display:flex;
	flex-flow:column nowrap;
	margin:12px 0px 24px;
}
.feedback .submit-choice span{
	margin:0px 0px 9px;
	line-height:150%;
}
.feedback .submit-text{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	margin:0px 0px 24px;
}
.feedback .submit-text.error{
	color:var(--color-error);
}
.feedback .submit-box{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	margin:0px 0px 24px 0px;
}
.feedback .submit-box img{
	height:48px;
	margin:8px;
	cursor:pointer;
	border-radius:50px;
	box-sizing:border-box;
	box-shadow:1px 1px 4px var(--color-shade);
}
.feedback .submit-box img:focus,
.feedback .submit-box img:hover{
	height:56px;
	margin:4px
}
.feedback .submit-box img.active{
	height:60px;
	margin:2px;
	border:2px solid var(--color-accent3-alt);
}
.feedback .whatIsSent{
	margin:6px 0px;
	padding:6px 9px 9px;
	text-align:left;
	border:2px solid #aaa;
	border-radius:3px;
	color:var(--color-font);
	background-color:var(--color-bg);
}


/* fullscreen collection dialog */
.fullscreen-collection-input{
	width:100%;
	max-height:70vh;
	padding:20px 0px;
	display:flex;
	flex-flow:column nowrap;
	position:relative;
	gap:20px;
	background-color:var(--color-bg);
	border-bottom:1px solid var(--color-border);
	overflow:auto;
	animation:0.2s slide-up;
}
@keyframes slide-up {
	from{ top:-60px; }
	to{ top:0px; }
}
.fullscreen-collection-input .actions{
	padding:0px 20px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
}
.fullscreen-collection-input .entry{
	margin:0px 20px;
	padding:3px 0px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	gap:6px;
	font-size:120%;
	color:var(--color-font);
	border-bottom:1px dotted var(--color-border);
}
.fullscreen-collection-input .entry img{
	width:30px;
	height:30px;
	filter:var(--image-filter);
}
.fullscreen-collection-input .entry img:last-child{
	justify-self:flex-end;
}


/* generic dialog */
.dialog{
	width:95%;
	max-width:500px;
	max-height:95%;
}
.dialog .dialog-text{
	padding:12px;
	overflow-y:auto;
}
.dialog .dialog-text.richtext{
	height:600px;
	padding:0px;
	display:flex;
}
.dialog textarea.dialog-text{
	width:100%;
	max-width:unset;
	height:300px;
	padding:5px 1%;
	font-family:inherit;
	border:none;
	color:var(--color-font);
	background-color:var(--color-bg);
}
.dialog .dialog-actions{
	margin:6px 12px 12px 12px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}


/* HTML documentation */
.html-docs{
	text-align:justify;
	font-size:110%;
	line-height:150%;
	padding:0px 16px !important;
}
.html-docs h1{
	margin:30px 0px 0px 0px;
}
.html-docs h2{
	margin:20px 0px 0px 0px;
}
.html-docs h3{
	margin:14px 0px 0px 0px;
}
.html-docs img{
	width:100%;
	margin:5px 0px;
	box-shadow:1px 1px 3px var(--color-shade);
}
.html-docs li img{
	margin:10px 0px;
}
.html-docs p,
.html-docs img{
	max-width:1000px;
}
.html-docs ol,
.html-docs ul{
	max-width:950px;
}


/* transitions*/

/* default fade (in+out) */
.fade-enter-active,
.fade-leave-active{
	transition:opacity 0.2s;
}
.fade-enter-active.slow-in{
	transition:opacity 3s;
}
.fade-leave-active.slow-out{
	transition:opacity 3s;
}
.fade-enter-from,
.fade-leave-to{
	opacity:0;
}

/* only fade in */
.fade_in-enter-active{
	transition:opacity 0.2s;
}
.fade_in-enter-from{
	opacity:0;
}

/* only fade out */
.fade_out-leave-active{
	transition:opacity 0.4s;
}
.fade_out-leave-to{
	opacity:0;
}


/* user overwrites */
.user-bordersAll .default-inputs input,
.user-bordersAll .default-inputs select,
.user-bordersAll .default-inputs textarea,
.user-bordersAll .default-inputs .input-custom,
.user-bordersAll .contentBox .contentPart{
	border-width:1px;
	border-style:solid;
}
.user-bordersSquared .contentBox .top .selector,
.user-bordersSquared .contentBox .content .contentPart,
.user-bordersSquared .default-inputs input,
.user-bordersSquared .default-inputs select,
.user-bordersSquared .default-inputs textarea,
.user-bordersSquared .default-inputs .input-custom,
.user-bordersSquared .loading-state{
	border-radius:0px;
}
.user-bordersRounded .default-inputs input,
.user-bordersRounded .default-inputs select,
.user-bordersRounded .default-inputs textarea,
.user-bordersRounded .default-inputs .input-custom{
	border-radius:3px;
}
.user-bordersRounded .contentBox{
	border-radius:4px;
}
.user-bordersRounded .contentBox .top{
	border-radius:4px 4px 0px 0px;
}
.user-spacing.spacing-value1{
	--spacing:10px;
}
.user-spacing.spacing-value2{
	--spacing:13px;
}
.user-spacing.spacing-value3{
	--spacing:16px;
}
.user-spacing.spacing-value4{
	--spacing:19px;
}
.user-spacing.spacing-value5{
	--spacing:22px;
}
.user-spacing{
	/* needs to overwrite again, otherwise not recognized */
	--spacing-child:0px var(--spacing) var(--spacing) 0px;
	--spacing-parent:var(--spacing) 0px 0px var(--spacing);
}

.user-font.calibri        { font-family:Calibri,Arial,sans-serif; }
.user-font.comic_sans_ms  { font-family:'Comic Sans MS','Comic Sans',cursive; }
.user-font.consolas       { font-family:Consolas,Courier,monospace,cursive; }
.user-font.georgia        { font-family:Georgia,Times,serif; }
.user-font.helvetica      { font-family:Helvetica,Arial,sans-serif; }
.user-font.lucida_console { font-family:'Lucida Console',Courier,monospace; }
.user-font.segoe_script   { font-family:'Segoe Script',cursive; }
.user-font.segoe_ui       { font-family:'Segoe UI',SegoeUI,Arial,sans-serif; }
.user-font.times_new_roman{ font-family:'Times New Roman',Times,serif; }
.user-font.trebuchet_ms   { font-family:'Trebuchet MS',Arial,sans-serif; }
.user-font.verdana        { font-family:Verdana,Arial,sans-serif; }

.user-compact .app-content{
	padding:0px;
}
.user-compact .app-content .contentBox:not(.popUp){
	margin:0px;
	border:none;
	border-bottom:1px solid var(--color-border);
	border-right:1px solid var(--color-border);
	border-radius:0px;
	box-shadow:none;
	--content-box-max-width:unset;
}
.user-compact .app-content .contentBox:not(.popUp):last-child{
	border-right:none;
}
.user-compact .app-content .contentBox:not(.popUp) .top{
	border-radius:0px;
}
.user-compact .navigationWrap{
	border-right:1px solid var(--color-border);
}
.user-compact .navigation.contentBox,
.user-compact .navigation.contentBox .content{
	flex-grow:1;
}

.user-dark,
.user-dark *{
	/* color overwites */
	--light-depth:      calc(2% * var(--depth));
	--light-read:       calc(90% - var(--light-depth));
	--light-read-less:  calc(78% - (var(--light-depth) * 2.5));
	--light-contrast:   calc(23% - var(--light-depth));
	
	--color-border:      hsl(0,0%,calc(32% - (var(--light-depth) * 3.5)));
	--color-border-bg:   hsl(0,0%,calc(70% - var(--light-depth)));
	--color-shade:       #000;
	--color-shade-bright:#222;
	
	--color-accent1:       hsl(311,47%,calc(70% - (1.50% * var(--depth)) ));
	--color-accent2:       hsl(127,06%,calc(25% - (1.50% * var(--depth)) ));
	--color-accent3:       hsl(199,11%,calc(35% - (1.50% * var(--depth)) ));
	--color-accent3-alt:   hsl(199,11%,calc(45% - (1.50% * var(--depth)) ));
	--color-accent4:       hsl(339, 4%,calc(61% - (1.50% * var(--depth)) ));
	--color-error:         hsl(0,  64%,calc(61% - var(--light-depth)));
	--color-success:       hsl(113,54%,calc(44% - var(--light-depth)));
	--color-action:        hsl(196,27%,calc(37% - var(--light-depth)) );
	--color-action-disable:hsl(0,   0%,calc(40% - var(--light-depth)) );
	
	--color-hover-underlay:rgba(0,0,0,0.50);
	--color-form-builder-actions:hsl(195,17%,29%,1.00);
	--color-form-builder-actions-bg:hsl(195deg 3% 25%);
	--color-form-builder-columns:hsl(176deg 9% 32%);
	--color-form-builder-column-batch:hsl(176deg 2% 32%);
	--color-form-builder-container:hsl(125deg 17% 31%);
	--color-form-builder-selected:hsl(59deg 72% 44%);
	--color-form-builder-tabs:hsl(104deg 15% 32%);
	--color-form-builder-tabs-active:hsl(104deg 12% 39%);
	
	--image-list-cards: url('../images/texture_paper02.webp');
	
	/* dark mode is simpler, overwrite some cases */
	--color-bg:                    hsl(315,1%,var(--light-contrast));
	--color-bg-font:               var(--color-font);
	--color-menu-border:           var(--color-border);
	--color-header-border:         hsl(0,0%,55%,1.00);
	--color-cancel-border:         var(--color-cancel);
	--image-filter-bg:             var(--image-filter);
	--image-filter-error:          invert(13%) sepia(92%) saturate(4889%) hue-rotate(359deg) brightness(97%) contrast(calc(50% + (var(--light-depth)*2)));
	--image-filter-success:        invert(36%) sepia(75%) saturate(1288%) hue-rotate(76deg) brightness(92%) contrast(calc(30% + (var(--light-depth)*2)));
}
.user-dark *::-webkit-scrollbar {
	width:15px;
}
.user-dark *::-webkit-scrollbar-track {
	background-color:transparent;
}
.user-dark *::-webkit-scrollbar-thumb {
	background-color:var(--color-font-alt);
	border:1px solid var(--color-border);
	border-radius:2px;
}

/* mobile overwrites */
.is-mobile{
	--app-header-height:50px;
}
.is-mobile .app-content{
	padding:0px !important;
	align-content:flex-start;
	align-items:stretch;
}
.is-mobile .contentBox{
	margin:0px;
}
.is-mobile .contentBox,
.is-mobile .contentBox .top{
	border-radius:0px !important;
}