.button{
	height:30px;
	margin:0px;
	padding:4px calc(var(--spacing) / 1.5) 5px;
	font-size:inherit;
	color:inherit;
	display:flex;
	flex-flow:row nowrap;
	gap:calc(var(--spacing) / 2);
	align-items:center;
	float:left;
	outline:none;
	box-sizing:border-box;
	border-radius:var(--border-input-radius);
	transition:box-shadow 0.1s, border-bottom 0.1s, filter 0.1s, padding 0.1s, height 0.1s, margin 0.1s;
	user-select:none;
}
.button.adjusts{
	flex:1 0 auto;
}
.button.background{
	box-shadow:var(--shadow-input);
	color:var(--color-font-bright);
	background-color:var(--color-action-disable);
	border:1px solid var(--color-border);
}
.button.background.clickable{
	background-color:var(--color-action);
	border:1px solid var(--color-action-border);
}
.button.background.clickable.cancel{
	background-color:var(--color-cancel);
	border:1px solid var(--color-cancel-border);
}
.button.background.clickable:focus,
.button.background.clickable:hover{
	filter:brightness(120%);
	box-shadow:var(--shadow-input-focus);
	border-bottom:3px solid var(--color-action-border);
}
.button.background.clickable.cancel:focus,
.button.background.clickable.cancel:hover{
	border-bottom:3px solid var(--color-cancel-border);
}
.button.background.clickable:active{
	height:26px;
	margin:2px;
	padding:2px calc((var(--spacing) / 1.5) - 2px) 3px;
}
.button.large{
	height:40px;
	font-size:120%;
}
.button.large.background.clickable:active{
	height:36px;
}
.button.naked{
	color:var(--color-font-disabled);
	padding:4px 0px;
}
.button.naked.clickable{
	color:inherit;
}
.button.naked.clickable:focus,
.button.naked.clickable:hover{
	text-decoration:underline;
}

/* button content */
.button span{
	white-space:nowrap;
}
.button.adjusts span{
	flex:1 0 auto;
	width:10px;
	min-width:0px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.button img{
	width:20px;
	height:20px;
	filter:var(--image-filter-bg);
}
.button.naked img{
	filter:var(--image-filter-alt);
}
.button.naked.clickable img{
	filter:var(--image-filter);
}
.button.naked.clickable:focus img,
.button.naked.clickable:hover img{
	width:24px;
	height:24px;
	margin-left:-2px;
	margin-right:-2px;
	transition:height 0.2s, width 0.2s, margin 0.2s;
}
.button .alt{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	padding-left:calc(var(--spacing) / 2);
	gap:calc(var(--spacing) / 2);
	border-left:2px solid var(--color-bright);
}

/* user overwrites */
.user-dark .button.background.inactive{
	filter:grayscale(100%) brightness(85%);
}