.button{
	height:30px;
	margin:0px var(--spacing-button-horz-outside) 0px 0px;
	padding:4px var(--spacing-button-horz-inside) 4px var(--spacing-button-horz-inside);
	font-size:inherit;
	color:var(--color-bg-font);
	display:flex;
	flex-direction:row;
	align-items:center;
	float:left;
	outline:none;
	background-color:var(--color-action);
	box-sizing:border-box;
	box-shadow:1px 1px 3px var(--color-shade);
	border-radius:4px;
	transition:height 0.1s, margin 0.1s, padding 0.1s, box-shadow 0.1s, border-bottom 0.1s, filter 0.1s;
}
.button.cancel{
	background-color:var(--color-cancel);
}
.button.naked{
	color:inherit;
	background-color:transparent;
	box-shadow:unset;
}

/* regular button styles */
.button.inactive:not(.naked){
	background-color:var(--color-action-disable);
}
.button:focus:not(.naked):not(.inactive),
.button:hover:not(.naked):not(.inactive){
	filter:brightness(120%);
	box-shadow:1px 2px 6px var(--color-shade);
	border-bottom:2px solid var(--color-border-bg);
}
.button:active:hover:not(.naked):not(.noMargin):not(.inactive){
	height:28px;
	margin:1px calc(var(--spacing-button-horz-outside) + 2px) 1px 2px;
	padding-left:calc(var(--spacing-button-horz-inside) - 2px);
	padding-right:calc(var(--spacing-button-horz-inside) - 2px);
	box-shadow:1px 1px 3px var(--color-shade);
	filter:brightness(90%);
}
.button.large:active:hover:not(.naked):not(.noMargin):not(.inactive){
	height:38px;
}

/* naked button styles */
.button.naked.inactive{
	color:var(--color-font-alt);
}
.button.naked:focus:not(.inactive),
.button.naked:hover:not(.inactive){
	text-decoration:underline;
}


/* button content */
.button *:not(*:last-child){
	padding-right:var(--spacing-button-horz-inside);
}
.button span{
	white-space:nowrap;
}
.button img{
	width:20px;
	height:20px;
	filter:var(--image-filter-bg);
	transition:height 0.2s, width 0.2s, margin 0.2s;
}
.button.naked img{
	filter:var(--image-filter);
}
.button.naked.inactive img{
	filter:var(--image-filter-alt);
}
.button.naked:focus:not(.inactive) img,
.button.naked:hover:not(.inactive) img{
	width:24px;
	height:24px;
	margin-left:-2px;
	margin-right:-2px;
}



/* layout overwrites */
.button.large{
	height:40px;
	font-size:120%;
}
.button.right{
	float:right;
}
.button.noMargin{
	margin:0px;
}


/* user overwrites */
.user-dark .button.background.inactive{
	filter:grayscale(100%) brightness(85%);
}