.field{
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
}
.field.container{
	display:flex;
	flex-flow:column wrap;
	margin:0px !important;
}
.field.container.row{
	flex-direction:row;
}
.field.hidden{
	display:none;
}

.field .input-box{
	flex:1 1 auto;
	min-height:64px;
	border:none;
	border-color:var(--color-border);
	border-radius:3px 3px 0px 0px;
	box-sizing:border-box;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	position:relative;
	background-color:var(--color-bg);
	box-shadow:inset 0 0 0 0 transparent,1px 1px 3px var(--color-shade);
}
.field .input-box:focus-within:not(.disabled){
	box-shadow:inset 0 -2px 0 0 var(--color-accent1),1px 1px 5px var(--color-shade);
	transition:box-shadow 0.3s, background-color 0.3s;
}
.field .input-box .input-line{
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
	padding-left:8px;
	align-items:stretch;
	overflow:auto;
}
.field .input-box .input-line>.input-files,
.field .input-box .input-line>.input.textarea{
	padding-left:8px;
}
.field .input-box .input-line>.button,
.field .input-box .input-line>.bool{
	align-self:center;
}
.field .field-icon{
	height:22px;
	margin:4px 8px 4px 0px;
	align-self:center;
	display:flex;
	filter:var(--image-filter);
}
.field .field-icon.inList{
	margin-right:8px;
}
.field.top-aligned .input-line{
	padding:5px 0px 3px;
}
.field.top-aligned .field-icon{
	align-self:flex-start;
}
.field .caption{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin:6px 0px 0px 8px;
	font-size:85%;
	font-weight:500;
	color:var(--color-accent1);
	flex:0 0 auto;
	cursor:default;
}
.field .caption img{
	height:16px;
	margin:0px 6px 0px 0px;
	filter:var(--image-filter);
}
.field .disabled .caption{
	color:var(--color-font);
}
.field .captionSub{
	margin:3px 0px 0px 6px;
	font-size:80%;
	cursor:default;
}

/* header field */
.field .heading{
	display:flex;
	flex-flow:row nowrap;
	margin:6px 0px 0px 0px;
	align-items:center;
}
.field .heading.size1{
	font-size:160%;
}
.field .heading.size2{
	font-size:140%;
}
.field .heading.size3{
	font-size:120%;
}
.field .heading img{
	height:30px;
	margin-right:9px;
	filter:var(--image-filter);
}


.field .invalid,
.field .invalid::placeholder{
	/* necessary for chrome */
	color:var(--color-error) !important;
}

/* input field */
.field .input{
	width:0px; /* base width, required for inputs < 100px */
	max-width:100%;
	min-height:28px;
	line-height:28px;
	margin-right:6px;
	padding:0px;
	font-size:inherit;
	font-family:inherit;
	background-color:transparent;
	border:none;
	box-sizing:border-box;
	flex:1 0 auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
	outline:none;
	color:var(--color-font);
}
.field .input::placeholder{
	color:var(--color-font-alt);
	opacity:1; /* standardize across browsers */
}
.field .input:disabled{
	color:inherit; /* readonly state is represented by field background */
}
.field .input .list{
	margin:0px;
	border:none;
	overflow:visible;
}
.field .input.textarea{
	font-size:inherit;
	font-family:inherit;
	resize:vertical;
}
.field .color-input{
	display:flex;
	flex-flow:row nowrap;
	padding:0px 8px 0px 0px;
	align-items:stretch;
	flex:1 1 auto;
}
.field .color-input input{
	flex:1 1 auto;
}
.field .color-input .preview{
	flex:0 1 50px;
	height:20px;
	border:1px solid var(--color-border);
	border-radius:9px;
	align-self:center;
}

/* slider input */
.field .slider-input{
	display:flex;
	flex-direction:row;
	align-items:center;
	flex:1 1 auto;
	overflow:hidden;
}
.field .slider-input input.range{
	width:100%; /* otherwise does not shrink properly */
	flex:1 2 auto;
	margin:12px 12px 12px 0px;
	
	-webkit-appearance:none;
	appearance:none;
	height:8px;
	outline:none;
	background:#a9a5a5;
	cursor:pointer;
	border-radius:5px;
}
.field .slider-input .range::-moz-range-thumb,
.field .slider-input .range::-webkit-slider-thumb{
	-webkit-appearance:none;
	appearance:none;
	width:11px;
	height:20px;
	background:var(--color-accent1);
	cursor:pointer;
	border:none;
	border-radius:5px;
	margin:0px;
}
.field .slider-input .value{
	flex:0 1 auto;
	max-width:60px;
	padding:2px 6px;
	margin:0px 8px 0px 0px;
	border-radius:5px;
	text-align:center;
	color:var(--color-font);
	background-color:var(--color-bg);
}

/* richtext field */
.field.richtext{
	min-height:200px;
}
.field.richtext .input-box .input-line{
	margin:0px;
}

/* chart field */
.field .chart{
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
	background-color:var(--color-bg);
	border-radius:3px;
	box-shadow:1px 1px 4px var(--color-shade);
}
.field .chart .actions{
	flex:0 0 auto;
}
.field .chart-header{
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
}
.field .chart-header select{
	height:30px;
	font-size:inherit;
	margin:10px;
	padding:0px 5px;
	box-sizing:border-box;
	border-radius:4px;
	color:var(--color-font);
	background-color:var(--color-bg);
}

/* tabs field */
.field .tabs{
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
	border-radius:3px;
	box-shadow:1px 1px 4px var(--color-shade);
	overflow:auto;
}
.field .tabs-entries{
	display:flex;
	flex-flow:row wrap;
	padding:7px 0px 0px 0px;
	background-color:var(--color-bg);
}
.field .tabs-entries select{
	flex:1 1 auto;
	padding:8px;
	font-size:110%;
	color:var(--color-font);
	background-color:transparent;
	border:1px solid var(--color-border);
	border-bottom:none;
	border-radius:5px 0px 0px 0px;
	outline:none;
}
.field .tabs-entries option{
	color:var(--color-font);
	background-color:var(--color-bg);
}
.field .tabs-icon{
	margin-right:5px;
	display:flex;
}
.field .tabs-icon img{
	height:22px;
	margin:0px 2px 0px 7px;
	align-self:center;
	display:flex;
	filter:var(--image-filter);
}
.field .tabs-entry{
	line-height:40px;
	padding:0px 9px;
	border:1px solid var(--color-border);
	border-bottom:none;
	border-radius:5px 5px 0px 0px;
	box-sizing:border-box;
	background-color:var(--color-bg);
	font-size:85%;
}
.field .tabs-entry.active{
	margin-top:-3px;
	margin-bottom:-1px;
	border-top:2px solid var(--color-border);
	font-size:100%;
	z-index:var(--z-index-tab-active);
}
.field .tabs-entry.error{
	color:var(--color-error);
}
.field .tabs>.fields{
	flex:1 1 auto;
	border-top:1px solid var(--color-border);
	background-color:var(--color-bg);
}

/* user overwrites */
.user-clean .field .caption{
	margin:1px 0px 3px 4px;
	font-size:90%;
	color:var(--color-font);
	font-weight:550;
}
.user-clean .field .input-box{
	background-color:transparent;
	box-shadow:none;
}
.user-clean .field .input-box .input-line{
	border:1px solid var(--color-border);
	border-radius:5px;
	margin:0px;
	background-color:var(--color-bg);
}
.user-clean .field .input-box .input-line.isSingleField{
	border:none;
}
.user-clean .field .input-box .input-line .input.textarea{
	padding:0px 0px 0px 8px;
}
.user-clean .field .input-box:focus-within:not(.disabled){
	box-shadow:none;
}
.user-clean .field .input-box:focus-within:not(.disabled) .input-line{
	border-color:var(--color-accent1);
}
.user-clean .field .chart,
.user-clean .field .tabs{
	box-shadow:none;
}
.user-clean .field .tabs .tabs-entries{
	background-color:transparent;
}
.user-clean .field .tabs>.fields{
	border:1px solid var(--color-border);
	border-radius:5px;
}
.user-bordersSquared .field .color-input .preview,
.user-bordersSquared .field .chart,
.user-bordersSquared .field .input-box,
.user-bordersSquared .field .input-box .input-line,
.user-bordersSquared .field .slider input,
.user-bordersSquared .field .slider .slider-value,
.user-bordersSquared .field .tabs,
.user-bordersSquared .field .tabs>.fields,
.user-bordersSquared .field .tabs-entries select,
.user-bordersSquared .field .tabs-entry{
	border-radius:0px;
}

.user-bordersRounded .field .input-box{
	border-radius:5px;
}