.filters{
	max-width:1000px;
	min-width:500px;
	display:flex;
	flex-flow:column nowrap;
}
.filter-actions{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
}
.filter-actions.end{
	margin-top:6px;
}
.filter{
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin:0px 0px 6px 0px;
	position:relative;
	gap:3px;
}
.filter img.dragAnchor{
	height:24px;
	margin-right:3px;
	filter:var(--image-filter);
	cursor:move;
}
.filter .subQuery{
	padding:6px;
	margin:6px 0px;
	border:1px solid var(--color-border);
	border-radius:5px;
	position:absolute;
	top:26px;
	left:5px;
	right:4px;
	background-color:var(--color-bg);
	z-index:var(--z-index-dropdown);
}
.filter .subQuery table td{
	padding:1px 6px;
}
.filter .date-wrap{
	position:relative;
}
.filter select.connector,
.filter select.operator{
	flex:0 0 80px;
	width:80px !important;
	min-width:unset;
}
.filter select.operator{
	flex:0.5 0.3 80px;
}
.filter-side{
	flex:1 1 auto;
	display:flex;
	flex-flow:row wrap;
}
.filter-side-inputs{
	gap:3px;
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
}
.filter-side-inputs>input,
.filter-side-inputs>select,
.filter-side-inputs>.input-custom{
	min-width:unset !important;
	max-width:unset !important;
}