.form-wrap{
	flex:4 1 auto;
	display:flex;
	flex-flow:row nowrap;
	overflow:visible;
	z-index:var(--z-index-form);
	
	/* box-shadow fix */
	/* setting overflow:auto kills box shadow */
	padding-left:2px;
}
.form-pop-up{
	width:100%;
	max-width:1200px;
	max-height:1200px;
	overflow:auto;
	box-sizing:border-box;
}
.form-pop-up .form{
	margin:10px !important;
	border:1px solid var(--color-border) !important;
	border-radius:8px !important;
}

/* fields */
.form .fields{
	overflow:auto;
	display:flex;
	flex-direction:column;
	padding:var(--spacing-parent);
}
.form .fields .field{
	margin:var(--spacing-child);
}
.form .fields.singleField{
	padding:0px;
}
.form .fields.singleField .field{
	margin:0px;
	overflow:auto;
}
.form .fields.singleField .calendar .month,
.form .fields.singleField .chart,
.form .fields.singleField .list,
.form .fields.singleField .gantt{
	border-radius:0px;
}	

/* data change log */
.form-wrap div.log{
	flex:1 1 auto;
	max-width:500px;
	display:flex;
	flex-direction:column;
}
.form-wrap div.log div.log-entries{
	flex:1 1 auto;
	display:flex;
	flex-direction:column;
	padding:var(--spacing-parent);
	overflow-y:auto;
}
.form-wrap div.log div.entry{
	display:flex;
	flex-direction:column;
}
.form-wrap div.log div.log-entries div.log-fields{
	display:flex;
	flex-flow:column nowrap;
	margin:10px 0px 0px 0px;
}
.form-wrap div.log div.log-entries .field{
	min-width:150px;
	max-width:500px;
	margin:var(--spacing-child);
}

/* context help */
.form-wrap .help{
	flex:1 0 auto;
	max-width:500px;
	min-width:400px;
	display:flex;
	flex-direction:column;
}
.form-wrap .help .help-content{
	flex:1 1 auto;
	display:flex;
}

/* messages */
.form-message{
	font-style:italic;
	margin:0px 0px 0px 12px;
}

/* user overwrites */
.user-bordersAll .form .fields:not(.singleField) .calendar .month,
.user-bordersAll .form .fields:not(.singleField) .gantt{
	border:1px solid var(--color-border);
}
.user-bordersSquared .form .top .state,
.user-bordersSquared .form-pop-up .form,
.user-bordersSquared .calendar .month,
.user-bordersSquared .calendar .month .day .part>span,
.user-bordersSquared .gantt,
.user-bordersSquared .gantt-line-record .record-line{
	border-radius:0px;
}
.user-compact .form-wrap{
	padding:0px !important;
}

/* mobile overwrites */
.is-mobile .form-wrap{
	flex-direction:column;
	padding-left:0px;
}

/* combined mobile & user overwrites */
.user-mobile-scroll-form.is-mobile .form .fields{
	overflow:unset;
}