.form-wrap{
	flex:4 1 auto;
	display:flex;
	flex-flow:row nowrap;
	overflow:visible;
}
.form-wrap.popUp{
	z-index:var(--z-index-form-pop-up);
}
.form-wrap.popUp.float{
	width:100%;
	padding:var(--spacing);
	max-width:1200px;
	max-height:1200px;
	overflow:auto;
	box-sizing:border-box;
	gap:var(--spacing);
}
.form-wrap.popUp.fullscreen{
	max-width:unset !important;
	max-height:unset !important;
}
.form-wrap.isMain>.form{
	padding-left:1px;
	border-radius:20px 0px 0px 0px;
	border-left:1px solid #000;
}

/* fields */
.form .fields{
	overflow:auto;
	display:flex;
	flex-flow:column nowrap;
	padding:var(--spacing-parent);
}
.form .fields .field{
	margin:var(--spacing-child);
}
.form .fields.onlyOne{
	padding:0px;
}
.form .fields.onlyOne>.field{
	margin:0px;
	overflow:auto;
}

/* data change log */
.form-log{
	flex:1 1 auto;
	min-width:400px;
	max-width:500px;
	display:flex;
	flex-direction:column;
	overflow:auto;
}
.form-log:not(.float){
	border-left:1px solid var(--color-border);
}
.form-log .log-entries{
	flex:1 1 auto;
	display:flex;
	flex-direction:column;
	padding:var(--spacing-parent);
	overflow-y:auto;
}
.form-log .entry{
	display:flex;
	flex-direction:column;
}
.form-log .log-entries .log-fields{
	display:flex;
	flex-flow:column nowrap;
	margin:10px 0px 0px 0px;
}
.form-log .log-entries .field{
	min-width:150px;
	max-width:500px;
	margin:var(--spacing-child);
}
.form-log table.file-changes{
	width:100%;
}

/* context help */
.form-help{
	flex:1 0 auto;
	min-width:400px;
	max-width:500px;
	display:flex;
	flex-direction:column;
	overflow:auto;
	border-left:1px solid var(--color-border);
}
.form-help.large{
	max-width:800px;
}
.form-help:not(.float){
	border-left:1px solid var(--color-border);
}

/* messages */
.form-message{
	font-style:italic;
	margin:0px 0px 0px 12px;
}

/* user overwrites */
.user-bordersSquared .form-wrap.popUp .form,
.user-bordersSquared .form-wrap.popUp .form-help,
.user-bordersSquared .form-wrap.popUp .form-log,
.user-bordersSquared .form-wrap.isMain>.form,
.user-bordersSquared .calendar-month,
.user-bordersSquared .calendar-month .day .part>span,
.user-bordersSquared .gantt,
.user-bordersSquared .gantt-line-record .record-line{
	border-radius:0px;
}

/* mobile overwrites */
.is-mobile .form-wrap{
	flex-direction:column;
	padding-left:0px;
}
.is-mobile .form-wrap.popUp.float{
	padding:10px 0px 0px;
	max-width:unset !important;
	max-height:unset !important;
}

/* combined mobile & user overwrites */
.user-mobileScrollForm.is-mobile .form .fields{
	overflow:unset;
}