.gantt{
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
    border-radius:3px;
	box-shadow:1px 1px 4px var(--color-shade);
    overflow:auto;
}
.gantt input.zoom-factor{
	width:80px !important;
}
.gantt .date-range-label{
	font-size:110%;
}
.gantt .nothing-there{
	padding:12px;
	text-align:center;
	font-size:110%;
	font-style:italic;
}

/* left side bar, showing all labels for each line */
.gantt-labels{
	flex:0 0 180px; /* base size is important to calculate Gantt content width */
	display:flex;
	flex-flow:column nowrap;
	border-right:1px solid var(--color-border);
}
.gantt-label-entry{
	height:30px;
	padding:0px 0px 0px 9px;
	line-height:30px;
	display:flex;
	flex-flow:row nowrap;
	box-sizing:border-box;
	border-bottom:1px solid var(--color-border);
}
.gantt-label-entry:first-child{
	height:60px; /* double line height */
}
.gantt-group{
	background-color:var(--color-bg);
}


/* main content, showing header + all lines */
.gantt-content{
	flex: 1 1 auto;
	display:flex;
	flex-flow:row nowrap;
}
.gantt-lines{
	flex:1 1 auto;
	display:flex;
	flex-flow:column wrap;
	overflow-x:auto;
}

/* headers */
.gantt-headers{
	height:60px;
	position:relative;
	background-color:var(--color-bg);
}
.gantt-header{
	height:30px;
	position:absolute;
	top:0px;
	display:flex;
	flex-flow:row nowrap;
	box-sizing:border-box;
	border-bottom:1px solid var(--color-border);
}
.gantt-header.lower{
	top:30px;
	border-bottom:1px solid var(--color-border);
}
.gantt-header-item{
	height:30px;
	line-height:30px;
	padding:0px 6px;
	flex:0 0 auto;
	overflow:hidden;
	box-sizing:border-box;
	border-right:1px solid var(--color-border);
}
.gantt-header-item.clickable:hover{
	background-color:var(--color-accent3);
}
.gantt-header-item.lower{
	text-align:center;
	padding:0px;
	border-bottom:1px solid var(--color-border);
}
.gantt-header-item.today{
	font-weight:bold;
}
.gantt-header-item.weekend{
	background-color:var(--color-accent2);
}

/* lines */
.gantt-line{
	height:30px;
	line-height:30px;
	position:relative;
	box-sizing:border-box;
	background-position:-1px 0px;
	background-image:linear-gradient(to right,var(--color-border) 1px, transparent 0px);
}
.gantt-line.show-line{
	border-bottom:1px solid var(--color-border);
}
.gantt-line-record{
	top:0px;
	height:30px;
	white-space:nowrap;
	position:absolute;
	box-sizing:border-box;
	border-radius:5px;
}
.gantt-line-record:hover{
	max-width:unset !important;
	color:var(--color-bg-font);
	background:rgba(0,0,0,0.7);
	z-index:var(--z-index-gantt-hover);
	border-radius:3px;
	overflow:visible;
}
.gantt-line-record .record-values{
	height:24px;
	line-height:24px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	overflow:hidden;
	position:relative;
	padding:0px 6px;
	z-index:var(--z-index-calendar-caption);
}
.gantt-line-record .record-line{
	position:absolute;
	border-radius:5px;
	background-color:var(--color-accent4);
	z-index:var(--z-index-calendar-line);
}
.gantt-line-record .record-line.start{
	width:3px;
	left:1px;
	top:9px;
	bottom:4px;
}
.gantt-line-record .record-line.middle{
	height:3px;
	left:1px;
	right:1px;
	top:20px;
}
.gantt-line-record:hover .record-line.end{
	display:none;
}
.gantt-line-record .record-line.end{
	width:3px;
	right:1px;
	top:9px;
	bottom:4px;
}


/* user overwrites */
.user-clean .gantt:not(.isSingleField){
	box-shadow:none;
	border:1px solid var(--color-border);
	border-radius:5px;
}
.user-bordersSquared .gantt{
	border-radius:0px !important;
}