.global-search{
	width:100%;
	max-width:1600px;
	--global-search-title-height:42px;
}
.global-search.larger{
	max-width:2200px;
}
.global-search-input-line{
	justify-content:space-between;
	margin-right:calc(var(--spacing) / 1.2);
}
.global-search-input-line-main{
	width:100%;
	max-width:650px;
}
.global-search-results{
	border-top:1px solid var(--color-border);
	justify-content:space-between;
}
.global-search-modules{
	flex:1 1 auto;
	overflow:auto;
	border-top:var(--border-input);
	padding:calc(var(--spacing) * 0.75);
}
.global-search-header{
	margin:15px 0px 5px;
}
.global-search-module{}
.global-search-module-title{
	height:var(--global-search-title-height);
	background-color:var(--color-bg-module);
	padding:0px 0px 0px calc(var(--spacing) / 1.5);
	border-top:1px solid var(--color-border);
	justify-content:space-between;
	align-items:center;
	border:1px solid var(--color-border-dark);
	border-radius:var(--border-input-radius);
	box-shadow:var(--shadow-input);
	overflow:auto;
}
.global-search-module-title-result{
	width:60px;
	border-bottom:var(--global-search-title-height) solid #888;
	border-left:calc(var(--global-search-title-height) / 2) solid transparent;
}
.global-search-module-title.disabled{
	background-color:var(--color-bg-bright);
}
.global-search-message-bottom{
	border-top:1px solid var(--color-border);
	padding:calc(var(--spacing) * 0.75);
}
.global-search-bars{
	flex:0 0 auto;
	display:flex;
	flex-flow:column nowrap;
	margin:0px 5px;
}
.global-search-bar{
	flex:0 0 auto;
	display:flex;
	flex-flow:column nowrap;
	overflow:auto;
	border:var(--border-input);
	border-radius:var(--border-input-radius);
	box-shadow:var(--shadow-input);
}