.app-header{
	flex:0 0 auto;
	padding:0px 6px;
	justify-content:space-between;
	background-size:16px 16px;
	height:var(--app-header-height);
	z-index:var(--z-index-header);
	position:relative;
	display:flex;
	flex-flow:row nowrap;
	color:var(--color-font-dark);
	box-shadow:none;
	box-sizing:border-box;
	border-bottom:1px solid #000;
	position:relative;
}
.app-header.isDark{
	color:var(--color-font-bright);
}
.app-header-loading{
	width:50%;
	height:2px;
	position:absolute;
	bottom:0;
	background-color:rgba(0,0,0,0.60);
	animation:loading-inf 0.6s linear infinite;
}
.app-header.isDark .app-header-loading{
	background-color:rgba(255,255,255,0.60);
}
.app-header .entries{
	display:flex;
	flex-direction:row;
	align-items:flex-end;
}
.app-header .entries.empty{
	flex:1 1 auto;
}

.app-header .entry-wrap{
	margin:0px 3px 0px 0px;
	position:relative;
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-start;
	position:relative;
}
.app-header .entry-bg{
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	border-radius:5px 5px 0px 0px;
}
.app-header .entry{
	height:40px;
	display:flex;
	flex-direction:row;
	align-items:center;
	padding:10px 10px 8px 10px;
	border-radius:5px 5px 0px 0px;
	font-size:110%;
	color:inherit;
	box-sizing:border-box;
	text-decoration:none;
	outline:none;
	z-index:var(--z-index-header-entry);
}
.app-header .entry.readonly{
	cursor:default;
}
.app-header .entry.no-wrap{
	margin:0px 3px 0px 0px;
}
.app-header .entry img{
	height:22px;
	filter:var(--image-filter);
}
.app-header.isDark .entry img{
	filter:var(--image-filter-bg);
}
.app-header .entry span{
	margin:0px 0px 0px 10px;
	white-space:nowrap;
}
.app-header .entry span:first-child{
	margin:0px;
}
.app-header .entry:focus:not(.readonly),
.app-header .entry:hover:not(.readonly),
.app-header .entry-wrap:focus .entry,
.app-header .entry-wrap:hover .entry{
	border:2px solid var(--color-border-dark);
	border-bottom:none;
	padding:6px 8px 8px 8px;
	transition:padding-top 0.2s;
}
.app-header.isDark .entry:focus:not(.readonly),
.app-header.isDark .entry:hover:not(.readonly),
.app-header.isDark .entry-wrap:focus .entry,
.app-header.isDark .entry-wrap:hover .entry{
	border-color:var(--color-border-bright);
}
.app-header .entry-wrap:focus .entry-bg,
.app-header .entry-wrap:hover .entry-bg{
	filter:brightness(1.1) grayscale(20%);
}
.app-header .entry.router-link-active{
	height:44px;
	border:2px solid var(--color-border-dark);
	border-bottom:none;
	padding:4px 8px 8px 8px;
	margin-top:-4px;
	transition:padding-top 0.4s, height 0.4, margin-top 0.4;
}
.app-header.isDark .entry.router-link-active{
	border-color:var(--color-border-bright);
}
.app-header .entry-bg.router-link-active{
	top:-4px;
	filter:brightness(1.2) grayscale(40%);
}

.app-header .entry-wrap .children{
	min-width:100%;
	position:absolute;
	padding:0px 0px 3px 0px;
	margin:-6px 0px 0px 0px;
	top:40px;
	visibility:hidden;
	opacity:0;
	overflow:visible;
	filter:brightness(1.2) grayscale(40%);
	border:2px solid var(--color-border-dark);
	border-top:1px solid var(--color-border-dark);
	border-radius:0px 0px 3px 3px;
	transition:opacity 0.3s, margin-top 0.4s;
	box-sizing:border-box;
}
.app-header.isDark .entry-wrap .children{
	border-color:var(--color-border-bright);
}
.app-header .entry-wrap:focus .children,
.app-header .entry-wrap:hover .children,
.app-header .entry-wrap .children:focus,
.app-header .entry-wrap .children:hover{
	visibility:visible;
	opacity:0.95;
	margin-top:0px;
}
.app-header .children .entry.child{
	font-size:95%;
	height:34px;
	padding:6px 4px;
	margin:2px 5px;
	border:none;
}
.app-header .entry.child:focus,
.app-header .entry.child:hover,
.app-header .entry.child.active,
.app-header .entry.child.router-link-active{
	box-shadow:inset 0 -2px 0 0 var(--color-border-dark);
}
.app-header.isDark .entry.child:focus,
.app-header.isDark .entry.child:hover,
.app-header.isDark .entry.child.active,
.app-header.isDark .entry.child.router-link-active{
	box-shadow:inset 0 -2px 0 0 var(--color-border-bright);
}


/* user overwrites */
.user-bordersSquared .app-header .entry-bg,
.user-bordersSquared .app-header .entry{
	border-radius:0px !important;
}
.user-bordersSquared .app-header .entry-wrap .children{
	border-radius:0px;
}
.user-dark .app-header .entry-wrap:focus .entry-bg,
.user-dark .app-header .entry-wrap:hover .entry-bg{
	filter:brightness(84%) grayscale(7%);
}
.user-dark .app-header .entry-bg.router-link-active{
	filter:brightness(89%) grayscale(12%);
}
.user-dark .app-header .entry-wrap .children{
	filter:brightness(94%) grayscale(15%);
}

/* mobile overwrites */
.is-mobile .app-header{
	padding:0px 0px 0px 5px;
}