.home{
	flex-flow:column nowrap !important;
	gap:var(--spacing);
	align-items:stretch;
}
.home .message{
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	text-align:center;
	margin:20px 10px;
	line-height:200%;
}
.home-standardBox{
	width:550px;
	margin:15px 0px !important;
	box-shadow:1px 1px 8px var(--color-shade) !important;
	align-self:center;
}
.home .version{
	position:absolute;
	right:20px;
	bottom:20px;
	font-size:100%;
	font-style:italic;
	text-decoration:none;
}

/* no access */
.home-noAccess .actions{
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
	margin:20px 0px 0px 0px;
}

/* setup wizard */
.home-wizard{
	font-size:110%;
}
.home-wizard .tabBar{
	display:flex;
	flex-flow:row nowrap;
	border-top:1px solid var(--color-border);
	border-bottom:2px solid var(--color-border);
}
.home-wizard .tabBar .entry{
	height:32px;
	line-height:32px;
	padding:0px 15px;
	border-right:1px solid var(--color-border);
	background-color:var(--color-bg);
	flex:1 1 auto;
}
.home-wizard .tabBar .entry:last-child{
	border-right:none;
}
.home-wizard .tabBar .entry.active{
	font-weight:bold;
}
.home-wizard .home-wizardAction{
	padding:0px 15px 25px 15px;
	background-color:var(--color-bg);
	line-height:140%;
}
.home-wizard img.preview{
	height:80px;
	margin:15px 0px 9px 12px;
	float:right;
}
.home-wizard img.preview.small{
	height:40px;
	margin:15px 0px 9px 12px;
	filter:var(--image-filter);
	float:right;
}


/* user overwrites */
.user-bordersSquared .home .module,
.user-bordersSquared .home .module .entry:hover{
	border-radius:0px;
}

/* mobile overwrites */
.is-mobile .home .modules{
	overflow:auto;
}