.input-files{
	min-height:280px;
	display:flex;
	flex-flow:column nowrap;
	flex:1 1 auto;
}

.input-files-header{
	display:flex;
	padding:8px;
	border-bottom:1px solid var(--color-border);
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	background-color:var(--color-bg);
	border-radius:var(--border-input-radius) var(--border-input-radius) 0px 0px;
	z-index:var(--z-index-field-file-header);
}
.input-files-header input{
	width:100%;
	max-width:120px;
	min-width:30px;
}
.input-files-header img.view-toggle{
	width:24px;
	height:24px;
	margin:2px 3px;
	filter:var(--image-filter);
	cursor:pointer;
}
.input-files-header img.view-toggle:focus,
.input-files-header img.view-toggle:hover{
	width:28px;
	height:28px;
	margin:0px 1px;
	transition:width:0.3s, height:0.3s, margin:0.3s;
}
.input-files-actions{
	display:flex;
	flex-flow:row wrap;
	gap:8px;
	justify-content:space-between;
	align-items:center;
	margin:8px 0px;
	padding:0px 9px 0px 6px;
}
.input-files-content{
	flex:1 1 auto;
	position:relative;
	overflow:auto;
}
.input-files-drop{
	flex:1 1 auto;
	line-height:50px;
	font-size:120%;
	text-align:center;
	vertical-align:middle;
	margin:6px;
	border:3px dashed var(--color-border);
}
.input-files-name{
	margin:0px 5px 0px 0px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.input-files-name input{
	padding:4px 0px;
	margin:5px 0px 2px;
	font-family:inherit;
	color:var(--color-font);
	background-color:transparent;
	border:none;
	outline:none;
	flex:1 1 auto;
}
.input-files-name input:focus,
.input-files-name input:hover{
	padding:4px 6px;
	background-color:var(--color-input);
	box-shadow:1px 1px 2px var(--color-shade);
	border-radius:3px;
}
.input-files-name .error{
	flex:1 1 auto;
	margin:0px 3px;
	color:var(--color-error);
}

.input-files input[type=file]::file-selector-button{
	border:none;
	background:transparent;
	border-radius:10px;
	color:inherit;
	cursor:pointer;
}

/* list compact */
.input-files table.listCompact{
	width:100%;
	position:absolute;
}
.input-files table.listCompact th{
	top:0px;
	position:sticky;
	background-color:var(--color-bg);
	border-bottom:2px solid var(--color-border);
	z-index:var(--z-index-field-file-list);
}
.input-files table.listCompact th,
.input-files table.listCompact td{
	padding:3px 4px 3px 0px;
}
.input-files table.listCompact th:first-child,
.input-files table.listCompact td:first-child{
	padding-left:8px;
}
.input-files table.listCompact td{
	border-bottom:1px solid var(--color-border);
}
.input-files table.listCompact .button{
	padding:0px 3px;
}
.input-files table.listCompact input{
	width:100%;
	min-width:60px;
	padding:5px 3px;
	margin:0px 2px;
	color:var(--color-font);
	border:none;
	outline:none;
	background-color:var(--color-bg);
	flex:1 2 auto;
}


/* list comfortable */
.input-files .listComfort{
	display:flex;
	position:absolute;
	flex-flow:row wrap;
	margin:0px 5px;
	padding:3px 0px 5px;
	gap:6px;
}
.input-files .listComfort .item{
	display:flex;
	flex-flow:row nowrap;
	position:relative;
	padding:3px 5px 0px 5px;
	background-color:var(--color-bg);
	border:1px solid var(--color-border);
	border-radius:var(--border-input-radius);
	box-shadow:1px 1px 1px var(--color-shade);
}
.input-files .listComfort .item:focus,
.input-files .listComfort .item:hover{
	margin-top:-2px;
	margin-bottom:2px;
	box-shadow:1px 1px 6px var(--color-shade);
	transition:box-shadow 0.3s, margin 0.3s;
}
.input-files .listComfort .item a{
	margin-left:24px;
}
.input-files .listComfort .item img.prev{
	width:80px;
	height:80px;
	object-fit:contain;
	margin-right:6px;
	background-color:var(--color-bg);
	box-shadow:1px 1px 2px var(--color-shade);
	border-radius:3px;
}
.input-files .listComfort .item-content{
	width:260px;
	display:flex;
	flex-flow:column nowrap;
	gap:6px;
}
.input-files .listComfort .item-meta{
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
	padding:0px 4px;
	gap:5px;
}
.input-files .listComfort .item-actions{
	display:flex;
	flex-flow:column nowrap;
	position:absolute;
	top:0px;
	left:0px;
	padding:0px 6px;
	background-color:var(--color-bg);
	border-radius:var(--border-input-radius) 0px var(--border-input-radius) 0px;
	border-right:1px solid var(--color-border);
	border-bottom:1px solid var(--color-border);
}


/* gallery */
.input-files .gallery{
	display:flex;
	position:absolute;
	flex-flow:row wrap;
	margin:0px 5px;
	padding:3px 0px 5px;
}
.input-files .gallery .item{
	margin:2px;
	position:relative;
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	border-radius:var(--border-input-radius);
	background-color:var(--color-bg);
	box-shadow:1px 1px 2px var(--color-shade);
	overflow:hidden;
}
.input-files .gallery .item>a{
	font-size:0; /* fix img padding when inside a */
}
.input-files .gallery .item:focus,
.input-files .gallery .item:hover{
	margin-top:-6px;
	margin-bottom:6px;
	outline:1px solid var(--color-border);
	box-shadow:1px 1px 4px var(--color-shade);
	transition:box-shadow 0.3s, margin 0.3s;
}
.input-files .gallery .item img.prev{
	width:auto;
	max-width:100%;
	height:240px;
	object-fit:contain;
	background-color:var(--color-bg);
	box-sizing:border-box;
	box-shadow:1px 1px 3px var(--color-shade);
}
.input-files .gallery .item-meta{
	margin:0px 8px 12px;
	display:flex;
	flex-flow:column nowrap;
	align-self:stretch;
}
.input-files .gallery .item-actions{
	display:flex;
	flex-flow:column nowrap;
	position:absolute;
	top:0px;
	left:0px;
	padding:0px 6px;
	background-color:var(--color-bg);
	border-radius:var(--border-input-radius) 0px var(--border-input-radius) 0px;
	border-right:1px solid var(--color-border);
	border-bottom:1px solid var(--color-border);
}