/* bool */
.bool{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	flex:0 0 auto;
	outline:none;
	margin:0px 3px;
}
.bool.grow{
	flex:1 1 auto;
}
.bool-button{
	min-width:30px;
	height:26px;
	line-height:26px;
	box-sizing:border-box;
	text-align:center;
	color:var(--color-font-bright);
	margin:1px 0px;
	padding:0px 8px;
	transition:box-shadow 0.1s, border-bottom 0.1s, line-height 0.1s;
	box-shadow:var(--shadow-input);
}
.bool-button.left{
	border-radius:6px 0px 0px 6px;
	background-color:#cbcbcb;
	outline:1px solid var(--color-border);
	z-index:var(--z-index-field-toggle-first);
}
.bool-button.right{
	margin-left:-12px;
	border-radius:12px;
	background-color:#838383;
	z-index:var(--z-index-field-toggle-last);
}
.bool-button.small{
	height:20px;
	line-height:20px;
	margin-top:4px;
	margin-bottom:4px;
}
.bool.active .bool-button{
	outline:1px solid var(--color-action-border);
}
.bool.active .bool-button.left{
	border-radius:12px;
	background-color:#6e8578;
	z-index:var(--z-index-field-toggle-bool-first);
}
.bool.active .bool-button.right{
	border-radius:0px 6px 6px 0px;
	background-color:#b5cabf;
	z-index:var(--z-index-field-toggle-bool-last);
}
.bool.clickable .bool-button.left{
	background-color:#bbb;
}
.bool.clickable .bool-button.right{
	background-color:#555;
}
.bool.clickable:focus .bool-button,
.bool.clickable:hover .bool-button{
	line-height:24px;
	border-bottom:2px solid var(--color-border);
	box-shadow:var(--shadow-input-focus);
}
.bool.active.clickable .bool-button.left{
	background-color:var(--color-action);
}
.bool.active.clickable .bool-button.right{
	background-color:var(--color-action-bright);
}
.bool.active.clickable:focus .bool-button,
.bool.active.clickable:hover .bool-button{
	border-bottom:2px solid var(--color-action-border);
}


/* select input */
.input-select{
	display:flex;
	flex-flow:column wrap;
	flex:1 1 auto;
	justify-content:center;
}
.input-select .part{
	flex:1 1 auto;
}
.input-select .entry.inactive{
	color:var(--color-font-disabled);
	-webkit-text-fill-color:var(--color-font-disabled); /* fix for Safari < 18.0 */
}

/* collection input */
.input-collection{
	width:unset !important;
	max-width:unset !important;
	min-width:unset !important;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:4px;
}
.input-collection .label{
	width:100%;
	font-weight:bold;
}
.input-collection-hover{
	width:95%;
	max-width:600px;
	min-height:400px;
	max-height:600px;
}
.input-collection-sides{
	display:flex;
	flex-flow:row nowrap;
	gap:12px;
}
.input-collection-side{
	flex:1 1 50%;
	display:flex;
	flex-flow:column nowrap;
	gap:8px;
}
.input-collection .entries{
	flex:1 1 auto;
	display:flex;
	flex-flow:row wrap;
	align-items:flex-start;
	align-content:flex-start;
	padding:6px;
	background-color:var(--color-input);
	border:var(--border-input);
	border-radius:var(--border-input-radius);
	box-shadow:var(--shadow-input);
	overflow:auto;
	gap:5px;
}
.input-collection .entries.preview{
	flex-wrap:nowrap;
}
.input-collection .entry{
	color:var(--color-font-bright);
	padding:2px 10px;
	background-color:var(--color-accent5);
	border-radius:var(--border-input-radius);
	line-height:24px;
	box-shadow:1px 1px 2px var(--color-shade);
}
.input-collection .entry:focus,
.input-collection .entry:hover{
	background-color:var(--color-accent5-alt);
	box-shadow:1px 1px 6px var(--color-shade);
	transition:box-shadow 0.2s, background-color 0.2s;
}
.input-collection .preview .entry{
	padding:0px 5px;
	text-wrap:nowrap;
}

/* input dropdown */
.input-dropdown-wrap{
	height:0px;
	position:absolute;
	left:calc(4px + var(--border-input-radius));
	right:calc(4px + var(--border-input-radius));
	bottom:0px;
	overflow:visible !important;
	z-index:var(--z-index-dropdown);
}
.input-dropdown-wrap.overhang{
	left:-40px;
	right:-40px;
}
.input-dropdown-wrap.left-overhang .input-dropdown{
	border-radius:5px 0px 0px 0px;
}
.input-dropdown{
	width:100% !important;
	position:absolute;
	margin:0px;
	background-color:var(--color-input);
	box-shadow:1px 3px 3px var(--color-shade);
	border:2px solid var(--color-accent1);
	border-radius:0px 0px 5px 5px;
	border-top:none;
}
.input-dropdown.upwards{
	border-top:2px solid var(--color-accent1);
	border-bottom:none;
	border-radius:5px 5px 0px 0px;
	box-shadow:none;
	bottom:calc(var(--row-height) + 2px);
}
.input-dropdown .entry{
	padding:4px 10px;
	border-bottom:1px solid var(--color-border);
}
.input-dropdown .entry:focus,
.input-dropdown .entry:hover{
	background-color:var(--color-accent3);
}


/* input hotkey */
.input-hotkey{
	flex:1 1 auto;
}

/* input barcode */
.input-barcode{
	display:flex;
	flex-flow:column nowrap;
	flex:1 1 auto;
	border-radius:var(--border-input-radius);
}
.input-barcode-input{
	height:24px;
	padding:4px 0px;
	font-family:inherit;
	font-size:inherit;
	color:inherit;
	background-color:transparent;
	border:none;
	outline:none;
	flex:1 1 auto;
}
.input-barcode-input.monospace{
	font-family:var(--font-family-monospace);
}
.input-barcode-actions{
	padding:2px 8px 0px;
	border-bottom:1px solid var(--color-border);
	border-radius:5px 5px 0px 0px;
}
.input-barcode-format{
	padding:var(--spacing);
	overflow:auto;
}
.input-barcode-preview{
	flex:1 1 auto;
	overflow:auto;
}
.input-barcode-preview>img{
	max-width:calc(100% - 6px);
	max-height:95%;
	margin:0px 3px;
}
.input-barcode-preview>img.max-size{
	min-height:95%;
}
.input-barcode-dialog{
	width:95%;
	min-width:300px;
	max-width:500px;
}
.input-barcode-target{
	width:100%;
	height:100%;
	min-height:300px;
	max-height:600px;
	border-radius:0px 0px 12px 12px;
	overflow:hidden;
}
.input-barcode-devices{
	display:flex;
	flex-flow:column;
	gap:6px;
}
.input-barcode-device{
	padding:16px;
	text-align:center;
	font-size:120%;
	font-weight:bold;
	color:var(--color-font-bright);
	border-radius:6px;
	background-color:var(--color-action);
}


/* input iframe */
.input-iframe{
	display:flex;
	flex-flow:column nowrap;
	flex:1 1 auto;
	border-radius:var(--border-input-radius);
	overflow:hidden;
}
.input-iframe-actions{
	padding:2px 8px 0px;
	border-bottom:1px solid var(--color-border);
	border-radius:5px 5px 0px 0px;
}
.input-iframe-input{
	height:24px;
	padding:4px 0px;
	font-family:inherit;
	font-size:inherit;
	color:inherit;
	background-color:transparent;
	border:none;
	outline:none;
	flex:1 1 auto;
}
.input-iframe-input.monospace{
	font-family:var(--font-family-monospace);
}
.input-iframe-content{
	flex:1 1 auto;
}
.input-iframe-empty{
	display:flex;
	flex:1 1 auto;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	font-size:120%;
	font-style:italic;
}


/* offset input */
.input-offset{
	display:flex;
	flex-direction:row;
	align-items:center;
	flex:0 0 auto;
	gap:4px;
}
.input-offset .input-offset-caption{
	flex:0 0 auto;
	margin-left:6px;
}
.input-offset .input-offset-selector{
	width:auto;
	min-width:unset;
	max-width:unset;
}


/* input date */
.input-date{
	display:flex;
	flex-flow:column wrap;
	flex:1 1 auto;
}
.input-date .content-wrap{
	display:flex;
	flex-flow:row nowrap;
	flex:1 1 auto;
}
.input-date .content-wrap .entries{
	display:flex;
	flex-flow:row wrap;
	flex:1 1 auto;
}
.input-date .content-wrap .entries .entry{
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
	margin:0px 12px 0px 0px;
}
.input-date .content-wrap .date-inputs{
	margin:0px 8px 0px 0px;
}
.input-date .content-wrap .prefix{
	width:40px;
	margin:0px 10px 0px 0px;
	line-height:28px;
}
.input-date-cal-wrap{
	flex:0 0 auto;
	max-width:500px;
	position:absolute;
	left:1%;
	right:1%;
	bottom:0px;
	overflow:visible;
}
.input-date-cal-wrap.upwards{
	top:0px;
	bottom:unset;
}
.input-date-cal{
	width:100%;
	position:absolute;
	top:0px;
	border-radius:0px;
	background-color:var(--color-bg);
	border:1px solid var(--color-border);
	border-top:none;
	border-bottom-width:2px;
	box-shadow:1px 6px 12px var(--color-shade);
	z-index:var(--z-index-input-date-month);
	display:flex;
	flex-flow:column nowrap;
}
.input-date-cal.upwards{
	top:unset;
	bottom:0px;
	border-top:2px solid var(--color-border);
	border-bottom:none;
}

/* date time inputs */
.input-date .date-inputs{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	font-family:'Lucida Console',Monaco,monospace;
}
.input-date .date-inputs .time-separator{
	margin:0px 8px 0px 0px;
}
.input-date .date-inputs input{
	min-width:unset;
	max-width:unset;
	line-height:28px;
	font-size:inherit;
	text-align:center;
	padding:0px;
	color:var(--color-font);
	border:none;
	background-color:transparent;
	box-shadow:none;
}
.input-date .date-inputs input:disabled{
	color:var(--color-font-disabled);
	background-color:var(--color-input-disabled);
	-webkit-text-fill-color:var(--color-font-disabled); /* fix for Safari < 18.0 */
}
.input-date .date-inputs input::placeholder{
	font-family:monospace;
}
.input-date .date-inputs .mobile-inputs{
	flex:1 1 auto;
}
.input-date .date-inputs .mobile-inputs input{
	min-width:100px;
	height:28px;
	text-align:left;
	border-bottom:1px solid var(--color-border);
}
.input-date span{
	line-height:28px;
}

/* calendar overwrites (month/days views) */
.input-date .calendar-month .day{
	min-height:unset !important;
	line-height:16px;
}
.input-date .calendar-month .days .item{
	padding:0px;
	text-align:center;
}
.input-date .calendar-month .day h1{
	margin:4px 6px;
	text-align:center;
	font-size:100%;
	color:var(--color-font) !important;
}

.input-date .calendar-days .header,
.input-date .calendar-days .labels span{
	padding:0px 3px;
	font-size:80%;
	line-height:100%;
}
.input-date .calendar-days .header{
	font-size:90%;
}

/* UUID input */
.input-uuid{
	flex:1 1 auto;
	display:flex;
	flex-flow:row wrap;
	padding:3px 0px;
	gap:2px;
	align-items:center;
}
.input-uuid input{
	font-size:105%;
	padding:4px 5px 1px;
	color:inherit;
	border:none;
	border-bottom:2px solid var(--color-border);
	border-radius:3px;
	outline:none;
	background-color:transparent;
	font-family:'Lucida Console',Courier,monospace;
}

/* color input */
.input-color{
	display:flex;
	flex-flow:row nowrap;
	padding:0px !important;
	position:relative;
}
.input-color-preview{
	width:calc(100% - 4px);
	padding:0px 4px 0px 8px;
	display:flex;
	flex-flow:row nowrap;
	color:var(--color-font-dark);
	border-radius:var(--border-input-radius);
	background-color:var(--color-input);
	justify-content:space-between;
	align-items:center;
}
.input-color-preview.isDark{
	color:var(--color-font-bright);
}
.input-color-preview img{
	filter:var(--image-filter-dark) !important;
}
.input-color-preview.isDark img{
	filter:var(--image-filter-bright) !important;
}
.input-color-picker{
	width:100% !important;
	position:absolute;
	left:0px;
	right:0px;
	bottom:30px;
	z-index:var(--z-index-dropdown);
}
.input-color-picker.downwards{
	bottom:unset;
	top:30px;
}

/* draw input */
.input-draw{
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
}
.input-draw>.actions{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	padding:8px;
	background-color:var(--color-bg);
	border-bottom:1px solid var(--color-border);
	border-radius:5px 5px 0px 0px;
	gap:12px;
}
.input-draw .canvasWrap{
	flex:1 1 0px; /* required to apply real height to canvas child*/
	overflow:hidden;
	min-height:200px;
}
.input-draw canvas{
	width:100%;
	touch-action:none; /* fix: chrome mobile stops touch input otherwise */
}
.input-draw canvas.dragMode{
	cursor:move;
}
.input-draw-range{
	width:70px;
}

/* richtext input */
.input-richtext{
	flex:1 1 auto;
	display:flex;
}
.tox-tinymce{
	flex:1 1 auto;
	border:none !important;
}
.tox-editor-header{
	background-color:transparent !important;
}
.tox-toolbar-overlord{
	background-color:transparent !important;
}
.tox-toolbar{
	background-color:transparent !important;
}
.tox-toolbar__primary{
	background:none !important;
	background-color:transparent !important;
	border-bottom:1px solid #ccc;
}
.tox-statusbar{
	background-color:transparent !important;
}
.tox-edit-area__iframe{
	background-color:transparent !important;
}
.tox-edit-area__iframe{
	background:transparent !important;
}

/* mobile overwrites */
.is-mobile .input-collection input{
	width:60px;
}
.is-mobile .input-dropdown-wrap.overhang{
	left:0px;
	right:0px;
}