/* bool */
.bool{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	flex:0 0 auto;
	outline:none;
	margin:0px 3px;
}
.bool.grow{
	flex:1 1 auto;
}
.bool-button{
	min-width:30px;
	height:26px;
	line-height:26px;
	box-sizing:border-box;
	text-align:center;
	color:var(--color-font-bright);
	margin:1px 0px;
	padding:0px 8px;
	transition:box-shadow 0.1s, border-bottom 0.1s, line-height 0.1s;
	box-shadow:var(--shadow-input);
}
.bool-button.left{
	border-radius:6px 0px 0px 6px;
	background-color:#cbcbcb;
	outline:1px solid var(--color-border);
	z-index:var(--z-index-field-toggle-first);
}
.bool-button.right{
	margin-left:-12px;
	border-radius:12px;
	background-color:#838383;
	z-index:var(--z-index-field-toggle-last);
}
.bool-button.small{
	height:20px;
	line-height:20px;
	margin-top:4px;
	margin-bottom:4px;
}
.bool.active .bool-button{
	outline:1px solid var(--color-action-border);
}
.bool.active .bool-button.left{
	border-radius:12px;
	background-color:#6e8578;
	z-index:var(--z-index-field-toggle-bool-first);
}
.bool.active .bool-button.right{
	border-radius:0px 6px 6px 0px;
	background-color:#b5cabf;
	z-index:var(--z-index-field-toggle-bool-last);
}
.bool.clickable .bool-button.left{
	background-color:#bbb;
}
.bool.clickable .bool-button.right{
	background-color:#555;
}
.bool.clickable:focus .bool-button,
.bool.clickable:hover .bool-button{
	line-height:24px;
	border-bottom:2px solid var(--color-border);
	box-shadow:var(--shadow-input-focus);
}
.bool.active.clickable .bool-button.left{
	background-color:var(--color-action);
}
.bool.active.clickable .bool-button.right{
	background-color:var(--color-action-bright);
}
.bool.active.clickable:focus .bool-button,
.bool.active.clickable:hover .bool-button{
	border-bottom:2px solid var(--color-action-border);
}

/* generic input toolbar */
.input-toolbar{
	flex:0 0 auto;
	min-height:var(--field-header-height);
	padding:var(--spacing-field-header-padding);
	box-sizing:border-box;
	border-bottom:1px solid var(--color-border);
	border-radius:var(--border-input-radius) var(--border-input-radius) 0px 0px;
	background-color:var(--color-bg);
	padding:0px calc(var(--spacing) / 2);
	gap:12px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	z-index:var(--z-index-field-input-toolbar);
}

/* select input */
.input-select{
	display:flex;
	flex-flow:column wrap;
	flex:1 1 auto;
	justify-content:center;
}
.input-select .part{
	flex:1 1 auto;
}
.input-select-entry{
	padding:0px 10px;
	border-bottom:1px solid var(--color-border);
	height:var(--row-height);
	line-height:var(--row-height);
	min-width:0px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	color:var(--color-font);
}
.input-select-entry.inactive{
	color:var(--color-font-disabled);
	-webkit-text-fill-color:var(--color-font-disabled); /* fix for Safari < 18.0 */
}
.input-select-entry.rowsColored:nth-child(even){
	background-color:var(--color-list-row-even);
}
.input-select-entry:focus,
.input-select-entry:hover{
	background-color:var(--color-accent3);
	box-shadow:inset 0 -2px 0 0 var(--color-accent3-alt);
	filter:brightness(90%);
	transition:box-shadow 0.5s, filter 0.2s;
}

/* collection input */
.input-collection{
	width:unset !important;
	max-width:unset !important;
	min-width:unset !important;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:4px;
}
.input-collection-hover{
	width:95%;
	max-width:600px;
	min-height:400px;
	max-height:600px;
}
.input-collection-sides{
	display:flex;
	flex-flow:row nowrap;
	gap:12px;
}
.input-collection-side{
	flex:1 1 50%;
	display:flex;
	flex-flow:column nowrap;
	gap:8px;
}
.input-collection .entries{
	flex:1 1 auto;
	display:flex;
	flex-flow:row wrap;
	align-items:flex-start;
	align-content:flex-start;
	padding:6px;
	background-color:var(--color-input);
	border:var(--border-input);
	border-radius:var(--border-input-radius);
	box-shadow:var(--shadow-input);
	overflow:auto;
	gap:5px;
}
.input-collection .entries.preview{
	flex-wrap:nowrap;
}
.input-collection .entry{
	color:var(--color-font-bright);
	padding:2px 10px;
	background-color:var(--color-accent5);
	border-radius:var(--border-input-radius);
	line-height:24px;
	box-shadow:1px 1px 2px var(--color-shade);
}
.input-collection .entry:focus,
.input-collection .entry:hover{
	background-color:var(--color-accent5-alt);
	box-shadow:1px 1px 6px var(--color-shade);
	transition:box-shadow 0.2s, background-color 0.2s;
}
.input-collection .preview .entry{
	padding:0px 5px;
	text-wrap:nowrap;
}


/* input hotkey */
.input-hotkey{
	flex:1 1 auto;
}

/* input barcode */
.input-barcode{
	display:flex;
	flex-flow:column nowrap;
	flex:1 1 auto;
	border-radius:var(--border-input-radius);
}
.input-barcode-input{
	height:24px;
	padding:4px 0px;
	font-family:inherit;
	font-size:inherit;
	color:inherit;
	background-color:transparent;
	border:none;
	outline:none;
	flex:1 1 auto;
}
.input-barcode-input.monospace{
	font-family:var(--font-family-monospace);
}
.input-barcode-format{
	padding:var(--spacing);
	overflow:auto;
}
.input-barcode-preview{
	flex:1 1 auto;
	overflow:auto;
}
.input-barcode-preview>img{
	max-width:calc(100% - 6px);
	max-height:95%;
	margin:0px 3px;
}
.input-barcode-preview>img.max-size{
	min-height:95%;
}
.input-barcode-dialog{
	width:95%;
	min-width:300px;
	max-width:500px;
}
.input-barcode-target{
	width:100%;
	height:100%;
	min-height:300px;
	max-height:600px;
	border-radius:0px 0px 12px 12px;
	overflow:hidden;
}
.input-barcode-devices{
	display:flex;
	flex-flow:column;
	gap:6px;
}
.input-barcode-device{
	padding:16px;
	text-align:center;
	font-size:120%;
	font-weight:bold;
	color:var(--color-font-bright);
	border-radius:6px;
	background-color:var(--color-action);
}


/* input rating */
.input-rating{
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
}
.input-rating-icons{
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;
	display:flex;
}
.input-rating-icon{
	width:24px;
	height:24px;
	padding:3px;
	margin:2px;
	transition:width 0.1s, height 0.1s, padding 0.1s;
	filter:var(--image-filter-alt);
}
.input-rating-icon.clickable:hover{
	width:30px;
	height:30px;
	padding:0px;
}
.input-rating-icon.active{
	filter:var(--image-filter);
}
.input-rating-input{
	flex:0 1 auto;
	max-width:60px;
	padding:2px 6px;
	border-radius:var(--border-input-radius);
	text-align:center;
	color:var(--color-font);
	background-color:var(--color-input);
}


/* input iframe */
.input-iframe{
	display:flex;
	flex-flow:column nowrap;
	flex:1 1 auto;
	border-radius:var(--border-input-radius);
	overflow:hidden;
}
.input-iframe-content{
	flex:1 1 auto;
}
.input-iframe-empty{
	display:flex;
	flex:1 1 auto;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	font-size:120%;
	font-style:italic;
}


/* offset input */
.input-offset{
	display:flex;
	flex-direction:row;
	align-items:center;
	flex:0 0 auto;
	gap:4px;
}
.input-offset .input-offset-caption{
	flex:0 0 auto;
	margin-left:6px;
}
.input-offset .input-offset-selector{
	width:auto;
	min-width:unset;
	max-width:unset;
}


/* input date */
.input-date-wrap.dropdown{
	min-width:420px;
}
.input-date{
	display:flex;
	flex-flow:column wrap;
	flex:1 1 auto;
}
.input-date .content-wrap{
	display:flex;
	flex-flow:row nowrap;
	flex:1 1 auto;
	justify-content:space-between;
}
.input-date .content-wrap .entries{
	display:flex;
	flex-flow:row wrap;
	flex:0 1 auto;
}
.input-date .content-wrap .entries .entry{
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
	margin:0px 12px 0px 0px;
}
.input-date .content-wrap .date-inputs{
	margin:0px 8px 0px 0px;
}
.input-date .content-wrap .prefix{
	width:40px;
	margin:0px 10px 0px 0px;
	line-height:28px;
}
.input-date-cal-wrap{
	flex:0 0 auto;
	max-width:500px;
	position:absolute;
	left:1%;
	right:1%;
	bottom:0px;
	overflow:visible;
}
.input-date-cal-wrap.upwards{
	top:0px;
	bottom:unset;
}
.input-date-cal{
	width:100%;
	position:absolute;
	top:0px;
	border-radius:0px;
	background-color:var(--color-bg);
	border:1px solid var(--color-border);
	border-top:none;
	border-bottom-width:2px;
	box-shadow:1px 6px 12px var(--color-shade);
	z-index:var(--z-index-input-date-month);
	display:flex;
	flex-flow:column nowrap;
}
.input-date-cal.upwards{
	top:unset;
	bottom:0px;
	border-top:2px solid var(--color-border);
	border-bottom:none;
}
.input-date-dropdown-actions{
	height:var(--row-height);
	padding:3px calc(var(--spacing) / 1.5);
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	background-color:var(--color-bg);
	border-bottom:1px solid var(--color-border);
}

/* date time inputs */
.input-date-inputs{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	font-family:'Lucida Console',Monaco,monospace;
}
.input-date-inputs .time-separator{
	margin:0px 8px 0px 0px;
}
.input-date-inputs input{
	min-width:unset;
	max-width:unset;
	line-height:28px;
	font-size:inherit;
	text-align:center;
	padding:0px;
	color:var(--color-font);
	border:none;
	background-color:transparent;
	box-shadow:none;
}
.input-date-inputs input::placeholder{
	font-family:monospace;
}
.input-date-inputs .mobile-inputs{
	flex:1 1 auto;
}
.input-date-inputs .mobile-inputs input{
	min-width:100px;
	height:28px;
	text-align:left;
	border-bottom:1px solid var(--color-border);
}
.input-date span{
	line-height:28px;
}

/* calendar overwrites (month/days views) */
.input-date-dropdown.calendar-month .day{
	min-height:unset !important;
	line-height:16px;
}
.input-date-dropdown.calendar-month .days .item{
	padding:0px;
	text-align:center;
}
.input-date-dropdown.calendar-month .day h1{
	margin:4px 6px;
	text-align:center;
	font-size:100%;
	color:var(--color-font) !important;
}

.input-date-dropdown.calendar-days .header,
.input-date-dropdown.calendar-days .calendar-days-labels span{
	padding:0px 3px;
	font-size:80%;
	line-height:100%;
}
.input-date-dropdown.calendar-days .header{
	font-size:90%;
}

/* UUID input */
.input-uuid{
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
}
.input-uuid input{
	color:inherit;
	border:none;
	border-bottom:1px solid var(--color-border);
	margin:1px 2px;
	outline:none;
	background-color:transparent;
	font-family:var(--font-family-monospace);
}

/* color input */
.input-color{
	flex:1 1 auto;
	color:var(--color-font);
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:stretch;
	gap:12px;
}
.input-color-picker{
	width:100% !important;
}
.input-color-preview{
	margin:4px 0px;
	flex:1 1 auto;
	width:80px;
	min-width:30px;
	border-radius:var(--border-input-radius);
	background-color:var(--color-input);
}
.input-color-text{
	width:100%;
	flex:2 2 auto;
	color:inherit;
	outline:none !important;
	border:none !important;
	box-shadow:none !important;
	background-color:transparent !important;
}

/* draw input */
.input-draw{
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
}
.input-draw .canvasWrap{
	flex:1 1 0px; /* required to apply real height to canvas child*/
	overflow:hidden;
	min-height:200px;
}
.input-draw canvas{
	width:100%;
	touch-action:none; /* fix: chrome mobile stops touch input otherwise */
}
.input-draw canvas.dragMode{
	cursor:move;
}
.input-draw-range{
	width:70px;
}

/* richtext input */
.input-richtext{
	flex:1 1 auto;
	flex-flow:column nowrap;
	max-width:100%;
	display:flex;
}
.input-richtext-toolbar-link{
	height:var(--row-height);
	padding:0px 6px;
	display:flex;
	align-items:center;
}
.input-richtext-toolbar-logo{
	height:18px;
	filter:var(--image-filter);
	opacity:0.9;
}
.input-richtext-toolbar-logo:focus,
.input-richtext-toolbar-logo:hover{
	height:20px;
	transition:height 0.2s;
}
.input-richtext-content{
	flex:1 1 1px;
	overflow:auto;
	display:flex;
}
.input-richtext .mce-content-body{
	flex:1 1 auto;
	overflow:auto;
	outline:none;
	padding:var(--spacing);
}
.input-richtext .tox-editor-header,
.input-richtext .tox-toolbar,
.input-richtext .tox-toolbar-overlord,
.input-richtext .tox-toolbar__primary{
	background-color:transparent !important;
	border:none !important;
	box-shadow:none !important;
}
.input-richtext .tox .tox-toolbar__group{
	padding:0px;
}

/* mobile overwrites */
.is-mobile .input-collection input{
	width:60px;
}