/* bool */
.bool{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	flex:1 1 auto;
	outline:none;
	margin:0px 3px;
}
.bool>div{
	min-width:30px;
	height:26px;
	line-height:26px;
	box-sizing:border-box;
	text-align:center;
	color:var(--color-font-bright);
	margin:1px 0px;
	padding:0px 8px;
	background-color:var(--color-action);
	box-shadow:0px 1px 2px var(--color-shade);
	cursor:pointer;
	outline:none;
	transition:box-shadow 0.1s, border-bottom 0.1s;
}
.bool>div.small{
	height:20px;
	line-height:20px;
	margin:4px 0px;
	background-color:var(--color-action-bright);
	box-shadow:0px 1px 2px var(--color-shade);
}
.bool:not(.readonly):focus>div,
.bool:not(.readonly):hover>div{
	border-bottom:2px solid var(--color-bright);
	box-shadow:0px 2px 5px var(--color-shade);
}
.bool>div.left{
	border-radius:6px 0px 0px 6px;
	background-color:#bbb;
	z-index:var(--z-index-field-toggle-first);
}
.bool>div.right{
	margin-left:-12px;
	border-radius:12px;
	background-color:#555;
	z-index:var(--z-index-field-toggle-last);
}
.bool.active>div.left{
	border-radius:12px;
	background-color:var(--color-action);
	z-index:var(--z-index-field-toggle-bool-first);
}
.bool.active>div.right{
	border-radius:0px 6px 6px 0px;
	background-color:var(--color-action-bright);
	z-index:var(--z-index-field-toggle-bool-last);
}
.bool.active.readonly>div.left{
	background-color:#6e8578;
}
.bool.active.readonly>div.right{
	background-color:#b5cabf;
}
.bool.readonly>div{
	cursor:unset;
}
.bool.readonly>div.left{
	background-color:#cbcbcb;
}
.bool.readonly>div.right{
	background-color:#838383;
}


/* select input */
.input-select{
	display:flex;
	flex-flow:column wrap;
	flex:1 1 auto;
	justify-content:center;
}
.input-select .part{
	flex:1 1 auto;
}
.input-select .actions{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.input-select .entry.inactive{
	color:var(--color-font-disabled);
}

/* collection input */
.input-collection{
	width:unset !important;
	min-width:unset !important;
	max-width:unset !important;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	padding:0px !important;
	position:relative;
}
.input-collection .line-icon{
	height:24px;
	margin:0px 3px 0px 2px;
	filter:var(--image-filter);
}
.input-collection input{
	width:120px;
	min-width:unset;
	margin:0px 0px 0px 5px;
	padding:0px;
	border:none !important;
	box-shadow:none !important;
	outline:none;
	background:transparent;
}
.input-collection input.small{
	width:60px;
}
.input-collection .entries{
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	padding:4px 0px 4px 6px;
}
.input-collection .entries.preview{
	flex-wrap:wrap;
}
.input-collection .entries .entry{
	padding:0px 5px;
	margin:3px 4px 3px 0px;
	background-color:var(--color-accent3);
	border-radius:3px;
	line-height:24px;
	box-shadow:1px 1px 1px var(--color-shade);
}
.input-collection .label{
	font-weight:bold;
	margin-right:8px;
}
.input-collection .box{
	border-top:1px solid var(--color-border);
}
.input-collection .actions{
	padding:0px 6px;
}
.input-collection .context{
	display:flex;
	flex-flow:column nowrap;
	border-top:1px solid var(--color-border);
}

/* input dropdown */
.input-dropdown-wrap{
	height:0px;
	position:absolute;
	bottom:0px;
	left:1%;
	right:1%;
	overflow:visible !important;
	z-index:var(--z-index-dropdown);
}
.input-dropdown-wrap.overhang{
	left:-40px;
	right:-40px;
}
.input-dropdown-wrap.left-overhang .input-dropdown{
	border-radius:5px 0px 0px 0px;
}
.input-dropdown-wrap.upwards{
	bottom:calc(var(--row-height) + 1px);
}
.input-dropdown{
	width:100% !important;
	position:absolute;
	margin:0px;
	border:1px solid #888;
	border-top:none;
	border-bottom-width:2px;
	background-color:var(--color-input);
	box-shadow:1px 6px 6px var(--color-shade);
}
.input-dropdown.upwards{
	bottom:0px;
	border-bottom:none;
	border-top:1px solid #888;
}
.input-dropdown-wrap.dropdown-list-input .input-dropdown{
	border:2px solid var(--color-accent1);
	border-radius:0px 0px 5px 5px;
	border-top:none;
}
.input-dropdown-wrap.dropdown-list-input .input-dropdown.upwards{
	border-top:2px solid var(--color-accent1);
	border-bottom:none;
	border-radius:5px 5px 0px 0px;
	box-shadow:none;
}
.input-dropdown .entry{
	padding:5px 10px;
}
.input-dropdown .entry:focus,
.input-dropdown .entry:hover{
	background-color:var(--color-accent3);
}


/* input iframe */
.input-iframe{
	display:flex;
	flex-flow:column nowrap;
	flex:1 1 auto;
	background-color:var(--color-bg);
}
.input-iframe-actions{
	display:flex;
	flex-flow:row nowrap;
	padding:2px 0px 0px;
	border-bottom:1px solid var(--color-border);
	background-color:var(--color-bg);
	box-shadow:0px 0px 4px var(--color-shade);
	gap:6px;
}
.input-iframe-input{
	height:24px;
	padding:4px 8px;
	font-family:inherit;
	font-size:inherit;
	color:inherit;
	background-color:transparent;
	border:none;
	outline:none;
	flex:1 1 auto;
}
.input-iframe-content{
	flex:1 1 auto;
}
.input-iframe-empty{
	display:flex;
	flex:1 1 auto;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	font-size:120%;
	font-style:italic;
}


/* offset input */
.input-offset{
	display:flex;
	flex-direction:row;
	align-items:center;
	flex:0 0 auto;
}
.input-offset .input-offset-caption{
	flex:0 0 auto;
}
.input-offset .input-offset-selector{
	width:auto;
	min-width:unset;
	max-width:unset;
	margin-right:6px;
	border:1px solid var(--color-border);
}


/* input date */
.input-date{
	display:flex;
	flex-flow:column wrap;
	flex:1 1 auto;
}
.input-date .content-wrap{
	display:flex;
	flex-flow:row nowrap;
	flex:1 1 auto;
}
.input-date .content-wrap .entries{
	display:flex;
	flex-flow:row wrap;
	flex:1 1 auto;
}
.input-date .content-wrap .entries .entry{
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
	margin:0px 12px 0px 0px;
}
.input-date .content-wrap .date-inputs{
	margin:0px 8px 0px 0px;
}
.input-date .content-wrap .prefix{
	width:40px;
	margin:0px 10px 0px 0px;
	line-height:28px;
}
.input-date .content-wrap .actions{
	display:flex;
	flex-flow:row nowrap;
	align-self:center;
	flex:0 1 auto;
}
.input-date-cal-wrap{
	flex:0 0 auto;
	max-width:500px;
	position:absolute;
	left:1%;
	right:1%;
	bottom:0px;
	overflow:visible;
}
.input-date-cal-wrap.upwards{
	top:0px;
	bottom:unset;
}
.input-date-cal{
	width:100%;
	position:absolute;
	top:0px;
	border-radius:0px;
	background-color:var(--color-bg);
	border:1px solid var(--color-border);
	border-top:none;
	border-bottom-width:2px;
	box-shadow:1px 6px 12px var(--color-shade);
	z-index:var(--z-index-input-date-month);
	display:flex;
	flex-flow:column nowrap;
}
.input-date-cal.upwards{
	top:unset;
	bottom:0px;
	border-top:2px solid var(--color-border);
	border-bottom:none;
}

/* date time inputs */
.input-date .date-inputs{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	font-family:'Lucida Console',Monaco,monospace;
}
.input-date .date-inputs .time-separator{
	margin:0px 8px 0px 0px;
}
.input-date .date-inputs input{
	min-width:unset;
	max-width:unset;
	line-height:28px;
	font-size:inherit;
	text-align:center;
	padding:0px;
	color:var(--color-font);
	border:none;
	background-color:transparent;
	box-shadow:none;
}
.input-date .date-inputs input::placeholder{
	font-family:monospace;
}
.input-date .date-inputs .mobile-inputs input{
	min-width:100px;
	height:28px;
	text-align:left;
	border-bottom:1px solid var(--color-border);
}
.input-date span{
	line-height:28px;
}

/* calendar overwrites (month/days views) */
.input-date .calendar-month .day{
	min-height:unset !important;
}
.input-date .calendar-month .days .item{
	padding:0px;
	text-align:center;
}
.input-date .calendar-month .day h1{
	margin:4px 6px;
	text-align:center;
	font-size:100%;
	color:var(--color-font) !important;
}

.input-date .calendar-days .header,
.input-date .calendar-days .labels span{
	padding:0px 3px;
	font-size:80%;
	line-height:100%;
}
.input-date .calendar-days .header{
	font-size:90%;
}

/* UUID input */
.input-uuid{
	flex:1 1 auto;
	display:flex;
	flex-flow:row wrap;
	padding:3px 0px;
	gap:2px;
	align-items:center;
}
.input-uuid input{
	font-size:105%;
	padding:4px 5px 1px;
	color:inherit;
	border:none;
	border-bottom:2px solid var(--color-border);
	border-radius:3px;
	outline:none;
	background-color:transparent;
	font-family:'Lucida Console',Courier,monospace;
}

/* color input */
.input-color{
	display:flex;
	flex-flow:row nowrap;
	gap:6px;
	position:relative;
}
.input-color-preview{
	width:100%;
	min-width:120px;
	max-width:300px;
	height:30px;
	display:flex;
	flex-flow:row nowrap;
	background-color:var(--color-input);
	justify-content:flex-end;
	align-items:center;
	border-radius:4px;
}
.input-color-preview.isDark img{
	filter:var(--image-filter-bg);
}
.input-color-picker{
	width:100% !important;
	position:absolute;
	left:0px;
	right:0px;
	bottom:30px;
	z-index:var(--z-index-dropdown);
}

/* richtext input */
.input-richtext{
	flex:1 1 auto;
	display:flex;
}
.tox-tinymce{
	flex:1 1 auto;
	border:none !important;
}
.tox-editor-header{
	background-color:transparent !important;
}
.tox-toolbar-overlord{
	background-color:transparent !important;
}
.tox-toolbar{
	background-color:transparent !important;
}
.tox-toolbar__primary{
	background:none !important;
	background-color:transparent !important;
	border-bottom:1px solid #ccc;
}
.tox-statusbar{
	background-color:transparent !important;
}
.tox-edit-area__iframe{
	background-color:transparent !important;
}
.tox-edit-area__iframe{
	background:transparent !important;
}

/* user overwrites */
.user-bordersSquared .bool>div,
.user-bordersSquared .button,
.user-bordersSquared .input-dropdown-wrap.left-overhang .input-dropdown{
	border-radius:0px !important;
}

/* mobile overwrites */
.is-mobile .input-collection input{
	width:60px;
}
.is-mobile .input-dropdown-wrap.overhang{
	left:0px;
	right:0px;
}