.list{
	flex:1 1 auto;
	min-height:240px;
	border-radius:5px;
	display:flex;
	flex-flow:column nowrap;
	overflow:auto;
	--list-header-height:46px;
}
.list.isSingleField{
	border-radius:0px;
}
.list.asInput{
	min-height:unset;
	background-color:transparent;
}
.list .fetching{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.list .fetching img{
	height:24px;
	margin-right:8px;
	filter:var(--image-filter);
}
.list-content{
	flex:1 1 0px; /* important for list content to overflow */
	display:flex;
	flex-flow:row nowrap;
	background-color:var(--color-bg);
	overflow:auto;
}
.list-content.showsInlineForm{
	border-top:1px solid var(--color-border);
}
.list-content .form-wrap.popUp{
	flex:1 1 auto;
	width:100%;
}
.list-content .empty-space{
	flex:1 1 auto;
}
.list.asInput .list-content{
	flex:0 0 auto;
}
.list-header{
	height:var(--list-header-height);
    line-height:30px;
    background-color:var(--color-bg);
    flex:0 0 auto;
    gap:12px;
    padding:0px 10px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
.list-header .empty{
	flex:1 1 auto;
	max-width:11px;
}
.list-header-title>img{
	width:auto;
	height:24px;
	filter:var(--image-filter);
}
.list-header-title>span{
	font-size:120%;
	text-wrap:nowrap;
}

/* list as lookup or dropdown */
/* HTML table view */
.list .layoutTable{
	display:flex;
	flex-flow:column nowrap;
	flex:1 1 auto;
	background-color:var(--color-bg);
	overflow:auto;
}
.list .layoutTable.formInline{
	border-right:1px solid var(--color-border);
}
.list .layoutTable table{
	width:100%;
}
.list .layoutTable.scrolls{
	position:relative;
}
.list .layoutTable thead tr{
	position:sticky;
	top:0px;
	z-index:var(--z-index-list-header);
}
.list .layoutTable thead tr.atTop{
	top:0px;
}
.list .layoutTable tfoot tr{
	position:sticky;
	bottom:0px;
	z-index:var(--z-index-list-footer);
}
.list .layoutTable tbody tr{
	color:var(--color-font);
}
.list .layoutTable tbody tr.rowSelect:hover,
.list .layoutTable tbody tr.rowSelect:focus{
	cursor:pointer;
	outline:none;
	filter:brightness(90%);
	transition:filter 0.2s;
}
.list .layoutTable tbody tr.rowSelect:hover td,
.list .layoutTable tbody tr.rowSelect:focus td{
	box-shadow:inset 0 -2px 0 0 var(--color-accent3-alt);
	transition:box-shadow 0.5s;
}
.list .layoutTable tfoot tr.aggregation td{
	font-weight:bold;
	border-top:2px solid var(--color-border);
}
.list .layoutTable th{
	padding:0px;
	margin-bottom:-1px;
	background-color:var(--color-bg);
	position:relative;
	border-bottom:1px solid var(--color-border);
}
.list .layoutTable th,
.list .layoutTable td{
	height:var(--row-height);
	box-sizing:border-box;
}
.list .layoutTable th:last-child{
	padding-right:10px; /* for header toggle */
}
.list .layoutTable th .columnBatchHeader{
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:stretch;
}
.list .layoutTable th .columBatchHeaderCaption{
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	padding:6px 2px 6px 6px;
	border-radius:2px;
	transition:background-color 0.3s;
}
.list .layoutTable th .columnOptionWrap{
	width:100%;
	min-width:240px;
	max-width:360px;
	right:unset;
	left:-1px;
}
.list .layoutTable th .columnOptionWrap.lastInRow{
	right:0px;
	left:unset;
}
.list .layoutTable th .columnOption{
	padding:6px;
	box-sizing:border-box;
	display:flex;
	flex-flow:column nowrap;
	gap:6px;
	border:1px solid var(--color-border);
	border-top:none;
	background-color:var(--color-bg);
}
.list .layoutTable th .columnOptionItem{
	display:flex;
	flex-flow:row nowrap;
	padding:1px 0px 5px;
}
.list .layoutTable th .columnFilterValues{
	display:flex;
	flex-flow:column nowrap;
	max-height:250px;
	background-color:var(--color-input);
	border-radius:4px;
	box-shadow:1px 1px 4px var(--color-shade-input);
	overflow-y:scroll;
}
.list .layoutTable th.checkbox,
.list .layoutTable td.checkbox{
	padding:3px 4px 0px 4px;
}
.list .layoutTable th.checkbox img,
.list .layoutTable td.checkbox img{
	height:26px;
	margin:3px;
	outline:none;
	filter:var(--image-filter);
}
.list .layoutTable td{
	padding:0px;
	border-bottom:1px solid var(--color-border);
	background-color:var(--color-input);
}
.list .layoutTable td:last-child{
	border-right:none;
}
.list .layoutTable.rowsColored tr:nth-child(even) td{
	background-color:var(--color-list-row-even);
}
.list .layoutTable tr.rowSelect.active td{
	filter:brightness(80%);
}
.list .layoutTable th.checkbox img:focus,
.list .layoutTable th.checkbox img:hover,
.list .layoutTable td.checkbox img:focus,
.list .layoutTable td.checkbox img:hover{
	height:32px;
	margin:0px;
}
.list .layoutTable th.checkbox img:active,
.list .layoutTable td.checkbox img:active{
	height:24px;
	margin:4px;
}
.list .layoutTable .sub-actions{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:space-between;
	padding:0px 10px;
	gap:10px;
}


/* box layout view */
.list .layoutCards{
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
	background-color:var(--color-bg);
}
.list .layoutCards .card-actions{
	position:sticky;
	top:0px;
	padding:8px 10px;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-items:center;
	background-color:var(--color-bg);
	border-bottom:1px solid var(--color-border);
	z-index:var(--z-index-list-header);
}
.list .layoutCards .card-actions.atTop{
	top:0px;
}
.list .layoutCards .card-actions span.select{
	margin:0px 9px 0px 18px;
}
.list .layoutCards .card-actions select{
	width:auto;
	min-width:unset;
	flex:0 1 auto;
	margin:0px 9px 0px 0px;
	padding:3px;
}
.list .layoutCards .cards{
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(320px, 1fr));
	overflow:auto;
}
.list .layoutCards .card{
	position:relative;
	border-right:1px solid var(--color-border);
	border-bottom:1px solid var(--color-border);
	background-color:var(--color-input);
}
.list .layoutCards .card .actions{
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
	padding:2px 3px;
	display:flex;
	flex-flow:column wrap;
}
.list .layoutCards .card.rowSelect:hover{
	cursor:pointer;
	outline:none;
	filter:brightness(98%);
	box-shadow:inset 0 -3px 0 0 var(--color-accent3-alt), filter 0.2s;
	transition:box-shadow 0.2s, filter 0.2s;
}
.list .layoutCards .card.no-results{
	font-style:italic;
	font-size:120%;
	padding:var(--spacing);
	border-top:1px solid var(--color-border);
}
.list .layoutCards .card img.checkbox{
	height:26px;
	margin:3px;
	outline:none;
}
.list .layoutCards .card img.checkbox:focus,
.list .layoutCards .card img.checkbox:hover{
	height:32px;
	margin:0px;
}
.list .layoutCards .card img.checkbox:active{
	height:22px;
	margin:5px;
}
.list .layoutCards .card table{
	max-width:100%;
	margin:var(--spacing) 50px 8px var(--spacing);
}
.list .layoutCards .card td{
	vertical-align:bottom;
}
.list .layoutCards .card td.caption{
	color:var(--color-font-disabled);
}


/* list as input field */
.list-input-rows-wrap{
	flex:1 1 auto;
	overflow:auto;
}
.list-input-rows{
	width:100%;
	overflow:hidden;
}
.list-input-rows tr{
	height:var(--row-height);
}
.list-input-rows td{
	padding:0px;
}
.list-input-row-items{
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	gap:4px;
}
.list-input-row-items.nogap{
	gap:0px;
}
.list-input-row-items.nowrap{
	flex-wrap:nowrap;
}
.list-input-row-actions{
	background-color:var(--color-bg);
}
.list-input-row-actions td{
	border-top:1px solid var(--color-border);
	background-color:transparent !important;
}
.list-input-rows-wrap.multi-line .list-input-rows td{
	border-bottom:1px dotted var(--color-border);
}

/* filtesr */
.list-filters{
	width:100%;
	max-width:950px;
	min-height:360px;
}

/* CSV */
.list-csv table{
	margin:10px 0px;
}
.list-csv table td{
	padding:5px 10px;
}

/* aggregators */
.list-aggregator{
	max-width:850px;
	min-width:500px;
	gap:6px;
}
.list-aggregator-item{
	display:flex;
	flex-flow:row nowrap;
	gap:6px;
}
.list-aggregator-actions{
	display:flex;
	flex-flow:row nowrap;
	margin-top:6px;
	justify-content:space-between;
}

/* options */
.list-options{}
.list-options-column-config{
	display:flex;
	flex-flow:column nowrap;
	gap:3px;
}
.list-options-batch{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	padding:6px 12px;
	gap:12px;
	border:1px solid var(--color-border);
	border-radius:16px;
}
.list-options-batch-columns{
	display:flex;
	flex-flow:row nowrap;
	padding:5px 10px;
	gap:9px;
	background-color:var(--color-input);
	border-radius:8px;
}
.list-options-batch-column{
}
.list-options-batch-column.notShown{
	text-decoration:line-through;
}



/* user overwrites */
.user-listSpaced .list .layoutTable table:not(.asInput){
	border-spacing:0px 8px;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	box-sizing:border-box;
}
.user-listSpaced .list .layoutTable table:not(.asInput) tfoot tr,
.user-listSpaced .list .layoutTable table:not(.asInput) tbody tr{
	box-shadow:var(--shadow-input);
	border-radius:6px;
}
.user-listSpaced .list .layoutTable table:not(.asInput) td{
	border-bottom:none;
}
.user-listSpaced .list .layoutTable table:not(.asInput) td:first-child{
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}
.user-listSpaced .list .layoutTable table:not(.asInput) td:last-child{
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
}
.user-listSpaced .list .layoutCards .cards{
	padding:var(--spacing);
	gap:var(--spacing);
}
.user-listSpaced .list .layoutCards .card{
	border:none;
	border-radius:5px;
	box-shadow:1px 1px 4px var(--color-shade);
}
.user-listSpaced .list .layoutCards .card.rowSelect:hover{
	box-shadow:1px 1px 12px #000, inset 0 -3px 0 0 var(--color-accent3-alt);
}
.user-bordersSquared .list,
.user-bordersSquared .list .layoutTable td,
.user-bordersSquared .list .layoutCards .card,
.user-bordersSquared .list .layoutCards .card .header,
.user-bordersSquared .list .layoutCards .card .actions{
	border-radius:0px !important;
}