.login{
	width:100%;
	max-width:420px;
	min-width:240px;
	margin:10px;
	padding:16px 0px 0px 16px;
	display:flex;
	flex-direction:column;
	align-self:center;
}
.login .contentBox{
	min-width:350px;
}
.login .contentBox .top{
	background-color:#444;
}
.login .content{
	padding:16px;
	position:relative;
}
.login input,
.login select{
	width:100%;
	padding:8px 0px;
	margin:6px 0px 12px 0px;
	text-indent:8px;
	font-size:110%;
	border-radius:5px;
	border:1px solid #888;
	background-color:var(--color-bg);
	outline:none;
	box-shadow:1px 1px 3px var(--color-shade);
	box-sizing:border-box;
}
.login input:focus,
.login select:focus{
	outline:1px solid var(--color-accent1);
	box-shadow:1px 1px 5px var(--color-shade);
	transition:outline 0.3s, box-shadow 0.3;
}
.login .actions{
	margin:6px 0px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
}
.login button{
	font-size:110%;
	padding:2px 6px;
	border:1px solid #888;
	box-shadow:2px 2px 5px #ccc;
	border-radius:3px;
	float:right;
}
.login span{
	line-height:22px;
}
.login .logo{
	object-fit:contain;
	max-width:100%;
	height:100px;
	margin:0px 16px 16px 0px;
}
.login .badAuth input{
	border-color:var(--color-error);
	background-color:#ffdede;
}
.login .badAuth input:focus{
	background-color:#ffc1c1;
}
.login .warning{
	background-color:#bd2828 !important;
}
.login .clusterNode{
	position:absolute;
	right:10px;
	bottom:10px;
	font-style:italic;
}