.my-map {
	flex: 1 1 auto;
	border-radius: var(--border-input-radius);
	display: flex;
	position: relative;
}
.my-map-content {
	flex: 1 1 auto;
	border-radius: var(--border-input-radius);
	overflow: hidden;
}
.my-map-toolbox {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 5px;
	border: var(--border-input);
	border-radius: var(--border-input-radius);
	background-color: var(--color-input);
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	gap: calc(var(--spacing) / 3);
	opacity: 0.8;
}
.my-map-tool {
	--my-tool-size: 28px;
	--my-tool-size-hover-delta: 2px;
	width: var(--my-tool-size);
	height: var(--my-tool-size);
}
.my-map-tool.clickable:hover {
	--my-tool-size-hover-delta: 0px;
}
.my-map-tool.clickable.active {
	outline: var(--outline-input-focus);
	border-radius: var(--border-input-radius);
}
.my-map-tool img {
	width: calc(var(--my-tool-size) - (var(--my-tool-size-hover-delta) * 2));
	height: calc(var(--my-tool-size) - (var(--my-tool-size-hover-delta) * 2));
	margin: var(--my-tool-size-hover-delta);
	transition:
		margin 0.2s,
		width 0.2s,
		height 0.2s;
	filter: var(--image-filter-alt);
}
.my-map-tool.clickable img {
	filter: var(--image-filter);
}
.my-map-layers {
	position: absolute;
	top: 5px;
	left: 50px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: calc(var(--spacing) / 1.5);
	padding: 5px 8px;
	border: var(--border-input);
	border-radius: var(--border-input-radius);
	background-color: var(--color-input);
	opacity: 0.8;
}
.my-map-layer {
	border-radius: 3px;
	padding: 0px 8px 0px 5px;
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: calc(var(--spacing) / 2);
}
.my-map-layer.active {
	outline: var(--outline-input-focus);
}
.my-map-spacer.horizontal {
	height: 22px;
	border-left: 3px solid var(--color-border);
}
.my-map-spacer.vertical {
	width: 22px;
	border-top: 3px solid var(--color-border);
}
