.menu{
	flex:0 0 320px;
	max-height:100%;
	display:flex;
	flex-flow:column nowrap;
	box-sizing:border-box;
	color:var(--color-font);
}
.menu.isDark{
	color:var(--color-bright);
}
.menu-header{
	padding:12px 8px;
}
.menu-header img.icon{
	width:22px;
	height:22px;
	filter:var(--image-filter);
}
.menu.isDark .menu-header img.icon{
	filter:var(--image-filter-bg);
}
.menu-header span{
	font-weight:bold;
	font-size:130%;
}
.menu .contentBox .top{
	z-index:var(--z-index-menu-items);
	border-bottom:none;
	background-color:#222;
}
.menu-items{
	font-size:105%;
	flex:1 1 auto;
	overflow-y:auto;
	padding:4px 0px 0px 0px;
	z-index:var(--z-index-menu-items);
}
.menu-items-children{
	background-color:rgba(0,0,0,0.1);
	border-radius:10px 0px 0px 10px;
	margin:0px 0px 3px 10px;
	padding:3px 0px 3px 3px;
}
.menu-items-children .item .line{
	border-radius:7px 0px 0px 7px;
}
.menu .item .line{
	margin:0px;
	padding:7px 10px;
	cursor:pointer;
	outline:none;
	display:flex;
	flex-direction:row;
	box-sizing:border-box;
	align-items:center;
	border-bottom:2px solid transparent;
	gap:8px;
}
.menu .item .line:focus,
.menu .item .line:hover{
	padding-left:13px;
	transition:padding-left 0.2s;
	background-color:var(--color-menu-hover);
	border-bottom-color:var(--color-border);
}
.menu .item .line.noForm:focus,
.menu .item .line.noForm:hover{
	border-bottom-style:dotted;
}
.menu .item .line.active{
	transition:font-weight 0.2s;
	background-color:var(--color-menu-active);
	border-bottom:2px solid var(--color-border);
}
.menu .item .line.showsChildren{
	border-bottom:2px solid dotted;
}
.menu .item .line img{
	height:18px;
	outline:none;
	filter:var(--image-filter);
}
.menu.isDark .line img{
	filter:var(--image-filter-bg);
}
.menu .item .line .caption{
	vertical-align:middle;
	flex:1 1 auto;
	outline:none;
}
.menu .collectionEntry{
	display:flex;
	flex-flow:row nowrap;
	margin:0px 4px;
}


/* user overwrites */
.user-bordersSquared .menu .item.sub .line{
	border-radius:0px;
}

/* mobile overwrites */
.is-mobile .menus{
	flex:1 1 auto;
}
.is-mobile .menu{
	flex:1 1 auto; /* menu takes entire screen */
	max-height:none;
}