.settings{}
.settings .contentBox .content{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
}
.settings table{
	width:100%;
	margin-top:10px;
}
.settings td{
	padding:2px 8px 2px 0px;
}
.settings .encryption .backup-code{
	font-family:monospace;
	margin:20px 10px;
	padding:16px;
	border:1px solid var(--color-border);
	border-radius:5px;
}
.settings .message{
	padding-top:10px;
	color:var(--color-error);
}
.settings .settings-page-limit{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.settings .settings-page-limit div{
	margin-right:16px;
}