.settings{}
.settings .contentBox .content{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
}
.settings table{
	width:100%;
	margin-top:10px;
}
.settings td,
.settings th{
	padding:2px 8px 2px 0px;
}
.settings .encryption .backup-code{
	font-family:monospace;
	margin:20px 10px;
	padding:16px;
	color:var(--color-font);
	border:1px solid var(--color-border);
	border-radius:5px;
	background-color:var(--color-bg);
}
.settings .message{
	padding-top:10px;
	color:var(--color-error);
}
.settings .settings-page-limit{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.settings .settings-page-limit div{
	margin-right:16px;
}
.settings .settings-account-action{
	margin:10px 5px 10px 10px;
}
.settings .settings-account-cluster-node{
	position:absolute;
	bottom:10px;
	left:10px;
	font-style:italic;
}
.settings img.settings-install{
	max-width:420px;
	margin:10px 0px;
	box-shadow:1px 1px 3px #000;
	border-radius:6px;
}
.settings-token-actions{
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	gap:9px;
}

/* multi factor authentication */
.settings-mfa{
	max-width:500px;
}
.settings-mfa-qrcode{
	margin:10px auto 20px;
	border:1px solid var(--color-border);
	border-radius:5px;
	overflow:hidden;
}
.settings-mfa-input{
	max-width:200px;
}
.settings-mfa-uri{
	font-style:italic;
	word-break:break-all;
}