.tabs{
	display:flex;
	flex-flow:row nowrap;
}
.tabs .tab-entry{
	flex:1 1 auto;
	padding:10px 0px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	gap:6px;
	font-size:90%;
	text-align:center;
	border-bottom:1px solid var(--color-border);
	border-right:1px solid var(--color-border);
	background-color:var(--color-bg-bright);
}
.tabs .tab-entry:last-child{
	border-right:none
}
.tabs .tab-entry.active{
	font-size:110%;
	border-bottom:none;
	background-color:var(--color-bg);
}
.tabs .tab-entry:not(.active):hover{
	background-color:var(--color-accent3);
}
.tabs .tab-entry img{
	width:18px;
	height:18px;
	filter:var(--image-filter);
}
.tabs .tab-entry.active img{
	width:22px;
	height:22px;
}