.value-rich{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:9px;
	
	/* auto cutting text */
	overflow:hidden;
}
.value-rich.alignEnd{
	flex:1 1 auto;
	justify-content:flex-end;
}
.value-rich.alignMid{
	flex:1 1 auto;
	justify-content:center;
}
.value-rich.bold{
	font-weight:bold;
}
.value-rich.color{
	width:40px;
	height:16px;
	border:1px solid #333;
	border-radius:3px;
}
.value-rich.files{
	max-width:700px;
	display:flex;
	flex-flow:row nowrap;
	gap:3px;
}
.value-rich.italic{
	font-style:italic;
}
.value-rich img.boolean{
	width:24px;
	height:24px;
	filter:var(--image-filter-error);
}
.value-rich img.boolean.ok{
	width:24px;
	height:24px;
	filter:var(--image-filter-success);
}
.value-rich .barcode,
.value-rich .drawing,
.value-rich .gallery-item{
	object-fit:cover;
	border-radius:5px;
	box-sizing:border-box;
	border:1px solid var(--color-border);
	overflow:auto;
}
.value-rich .gallery-item.placeholder{
	width:98%;
	opacity:0.6;
	background-color:var(--color-bg);
}
.value-rich span{
	/* auto cutting text */
	min-width:0px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.value-rich.wrap span{
	white-space:normal;
}

/* list input context */
.value-rich.context-list-input .gallery-item{
	min-width:32px;
	max-height:32px;
	margin:1px 5px 1px 0px;
}

/* calendar context */
.value-rich.context-calendar .gallery-item{
	height:22px;
	margin:2px 5px 2px 0px;
}

/* calendar gantt context */
.value-rich.color.context-calendar-gantt,
.value-rich.files.context-calendar-gantt{
	flex-shrink:0;
}
.value-rich.context-calendar-gantt .gallery-item{
	height:24px;
	margin:0px 5px 0px 0px;
}


/* user overwrites */
.user-bordersSquared .value-rich.color,
.user-bordersSquared .value-rich.files .gallery-item{
	border-radius:0px;
}