/* widgets */
.widgets{
	margin:40px 20px;
	flex:1 1 auto;
	display:flex;
	flex-flow:row nowrap;
	--widget-size-item:360px;
	--widget-size-gap:20px;
}
.widget-groups{
	max-width:1600px;
	flex:3 1 auto;
	display:flex;
	flex-flow:column nowrap;
	gap:30px;
}
.widgets-sidebar{
	padding:0px 20px;
	max-width:420px;
	display:flex;
	flex-flow:column nowrap;
	gap:20px;
}
.widgets-sidebar.shown{
	flex:1 0 auto;
	border-left:1px solid var(--color-border);
}

/* widget group */
.widget-group{
	display:flex;
	flex-flow:column nowrap;
	gap:10px;
}
.widget-group-title{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin-left:12px;
	gap:6px;
	font-size:180%;
	color:var(--color-font);
}
.widget-group-title>img{
	width:22px;
	cursor:move;
    filter:var(--image-filter);
}
.widget-group-items{
	display:flex;
	flex-flow:row wrap;
	gap:20px;
}

/* widgets */
.widget{
	width:var(--widget-size-item);
	display:flex;
	flex-flow:column nowrap;
	background-color:var(--color-input);
	border-radius:6px;
	box-shadow:1px 1px 4px var(--color-shade);
	overflow:hidden;
}
.widget.placeholder{
	font-style:italic;
	border:3px dotted var(--color-border);
}
.widget.size2{
	width:calc((var(--widget-size-item) * 2) + var(--widget-size-gap));
}
.widget>.header{
	padding:3px var(--spacing) 3px;
	height:26px;
	border-bottom:1px solid var(--color-border);
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	z-index:var(--z-index-home-header);
}
.widget>.header>img{
	width:22px;
	cursor:move;
    filter:var(--image-filter);
}
.widget>.content{
	display:flex;
	flex-flow:row nowrap;
	flex:1 1 auto;
}
.widget .system-module-menu{
	margin:6px 0px;
	flex:1 1 auto;
	display:flex;
	flex-flow:column nowrap;
	position:relative;
}
.widget .system-module-menu a{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	padding:6px 12px;
	margin:2px 6px;
	text-decoration:none;
	color:var(--color-font);
	outline:none;
}
.widget .system-module-menu a:focus,
.widget .system-module-menu a:hover{
	font-size:110%;
	transition:background-color 0.2s, font-size 0.6s;
	background-color:var(--color-accent3);
	box-shadow:1px 1px 2px var(--color-shade);
	border-radius:4px;
}
.widget .system-module-menu a>img{
	height:26px;
	margin-right:9px;
	filter:var(--image-filter);
}
.widget .system-module-menu .children{
	margin-left:6px;
}
.widget .system-module-menu .watermark{
	height:96px;
	bottom:4px;
	right:8px;
	position:absolute;
	opacity:0.08;
	z-index:var(--z-index-home-watermark);
	filter:var(--image-filter);
}